<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">公司位置</label>
            <div class="layui-input-block">
                <input type="text" name="addr_choose" class="layui-input" lay-verify="required" placeholder="请输入公司位置" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" class="layui-input" lay-verify="required" placeholder="请输入地址" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商务合作</label>
            <div class="layui-input-block">
                <input type="text" name="web" class="layui-input" lay-verify="required" placeholder="请输入Web" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">TEL</label>
            <div class="layui-input-block">
                <input type="text" name="tel" class="layui-input" lay-verify="required" placeholder="请输入TEL" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">P.C</label>
            <div class="layui-input-block">
                <input type="text" name="pc" class="layui-input" lay-verify="required" placeholder="请输入P.C" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">FAX</label>
            <div class="layui-input-block">
                <input type="text" name="fax" class="layui-input" lay-verify="required" placeholder="请输入FAX" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Email</label>
            <div class="layui-input-block">
                <input type="text" name="emaiL" class="layui-input" lay-verify="required" placeholder="请输入Email" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" class="layui-input"  placeholder="请输入排序" value="0">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>