<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">关于大为</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form id="app-form" class="layui-form layuimini-form">

                        <div class="layui-form-item">
                            <label class="layui-form-label">关于我们</label>
                            <div class="layui-input-block">
                                <textarea type="text" rows="10" name="text" class="layui-textarea" lay-verify="required">{$data.text|default=''}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">成立时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="create_year" class="layui-input" lay-verify="required" value="{$data.create_year|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">服务企业</label>
                            <div class="layui-input-block">
                                <input type="text" name="service_num" class="layui-input" lay-verify="required" value="{$data.service_num|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">员工人数</label>
                            <div class="layui-input-block">
                                <input type="text" name="staff_num" class="layui-input" lay-verify="required" value="{$data.staff_num|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">分子公司</label>
                            <div class="layui-input-block">
                                <input type="text" name="filiale_num" class="layui-input" lay-verify="required" value="{$data.filiale_num|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.aboutUs/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>