/* banner */
.dw-banner {
    width: 100%;
    height: 606px;
    background: linear-gradient(0deg, #5164FE, rgba(5, 210, 255, 0.98));
    position: relative;
}

.banner-inner-txt {
    position: absolute;
    top: 84px;
    text-align: center;
    width: 100%;
}

.banner-inner-txt h3 {
    font-size: 36px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
}

.banner-inner-txt p {
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 30px;
    margin-tOP: 20px;
}

.banner-inner-txt a {
    display: inline-block;
    width: 160px;
    height: 40px;
    background: #2555FF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 40px;
    margin: 0 45px;
    margin-top: 60px;
}

.banner-inner-txt span {
    font-size: 18px;
    display: block;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 30px;
}

/* banner */

/* section */
.read-mbx-nav {
    height: 71px;
}

.read-mbx-nav .read-mbx-back {
    height: 71px;
    background: rgba(255, 255, 255, .9);
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

.read-mbx-nav .read-mbx-center {
    height: 71px;
    background: rgba(255, 255, 255, .9);
    border-bottom: 1px solid #eeeeee;
}

.mbx-nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}

.mbx-nav-fixed .read-mbx-back {
    background: rgba(255, 255, 255, 1);
}

.read-mbx-nav ul {
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.read-mbx-nav ul li {
    display: inline-block;
    vertical-align: top;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
}

.read-mbx-nav ul li a {
    display: block;
    font-size: 16px;
    color: #000000;
    -webkit-transition: all .6s cubic-bezier(.645, .045, .355, 1);
    transition: all .6s cubic-bezier(.645, .045, .355, 1);
    position: relative;
}

.read-mbx-nav ul li a:after {
    background: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #0B69CD;
    -webkit-transition: all .6s cubic-bezier(.645, .045, .355, 1);
    transition: all .6s cubic-bezier(.645, .045, .355, 1);
}

.read-mbx-nav ul .mbx-hover a:after {
    width: 100%;
}

.read-mbx-nav ul .mbx-hover a {
    color: #0B69CD;
}

.read-mbx-nav ul li:hover a {
    color: #0B69CD;
}

.read-mbx-nav ul li:hover a:after {
    width: 100%;
}

.index-title-box {}

.index-title-box span {
    display: block;
    text-align: center;
}

.index-title-box span:nth-child(1) {
    font-size: 36px;
    text-transform: uppercase;
}

.index-title-box span:nth-child(2) {
    font-size: 24px;
    color: #CCCCCC;
}

.about-box1 {
    padding: 70px 0;
}

.about1-text {
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 70px;
}

.about1-read {
    text-align: center;
    line-height: 28px;
    color: #808080;
    font-size: 16px;
    padding-top: 30px;
}

.about1-read-bjq {}

.about1-read-img {
    margin-top: 40px;
    overflow: hidden;

}

.about1-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.about1-box img {
    display: inline-block;
    width: 65px;
    height: 65px;
}

.about1-box span {
    display: block;
}

.about1-box span em {
    font-style: normal;
    color: #333;
    font-size: 14px;
}

.about1-read-img img {
    transition: all ease-in-out .5s;
}

.about1-box-img span:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin: 12px 0;
}

.about1-box-img span:nth-child(3) {
    font-size: 24px;
    font-weight: bold;
    color: #2555FF;
}

.about1-read-img img:hover {
    transform: scale(1.08);
}

.read-select {
    position: relative;
}

.about2-banner-img {
    padding-bottom: 35.416%;
}

.abou2-banner-img span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover {
    position: relative;
    height: 0;
    overflow: hidden;
}

.cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    animation-name: scaleDraw;
    /*关键帧名称*/
    animation-timing-function: ease-in-out;
    /*动画的速度曲线*/
    animation-iteration-count: infinite;
    /*动画播放的次数*/
    animation-duration: 6s;
    /*动画所花费的时间*/
}

.move-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    animation-name: scaleDraw;
    /*关键帧名称*/
    animation-timing-function: ease-in-out;
    /*动画的速度曲线*/
    animation-iteration-count: infinite;
    /*动画播放的次数*/
    animation-duration: 6s;
    /*动画所花费的时间*/
}

@keyframes scaleDraw {

    /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0% {
        transform: scale(1);
        /*开始为原始大小*/
    }

    25% {
        transform: scale(1.05);
        /*放大1.1倍*/
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.05);
    }
}

.center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about2-text-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #F8F8F8;
    padding: 50px 0;
}

.about2-text-box .index-title-box span {
    color: #333;
}

.about2-img {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 30px;
}

.about2-img img {
    width: 582px;
    height: 328px;
}

.about2-icon-box {
    font-size: 14px;
    color: #333;
    margin: 0 auto;
    margin-top: 50px;
    width: 764px;
    line-height: 30px;
}

.about2-icon-li {
    background: #F8F8F8;
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about2-icon-li span {
    color: #333;
    display: block;
    text-align: center;
}

.about2-icon-li img {
    width: 72px;
    height: 72px;
}

.about2-icon-li span:nth-child(1) {}

.about2-icon-li span:nth-child(2) {
    width: 63px;
    margin: 30px auto;
    height: 1px;
    background: #000;
}

.about2-icon-li span:nth-child(3) {
    font-size: 24px;
}

.about2-icon-li span:nth-child(4) {
    padding-top: 10px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    width: 220px;
    position: relative;
    overflow: hidden;
}

.about-box3 {
    position: relative;
    padding: 70px 0;
}

.she-list-ul {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.she-list-li {
    flex: 0 0 22%;
    position: relative;
}

.list-li-img {
    width: 270px;
    height: 170px;
    overflow: hidden;
}

.list-li-img img {
    width: 270px;
    height: 170px;
    transition: all ease-in-out .5s;
}

.list-li-title {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin: 25px 0;
}

.list-li-desc {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.she-list-img {
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden;
}

.imgJsWrap img {
    width: 100%;
    height: auto;
    transition: all ease-in-out .5s;
}

.imgJsWrap img:hover {
    transform: scale(1.08);
}

.imgJsWrap .she-list-a {
    font-size: 24px;
    font-weight: bold;
    color: #0B69CD;
    margin-top: 10px;
    border-bottom: 1px solid #0B69CD;
}

.imgJsWrap .she-list-a em {
    font-style: normal;
    font-size: 28px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #0B69CD;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.she-list-desc {
    position: relative;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    line-height: 30px;
    height: 90px;
    overflow: hidden;
}

.about-box4 {
    position: relative;
    overflow: hidden;
    background: #F8F8F8;
    padding-bottom: 70px;
}

.about-box4-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-box4 .index-title-box {
    padding-top: 70px;
}

.about-box4 .index-title-box span {
    /* color: #fff; */
}

.fzlc-swiper-wrap {
    padding-bottom: 100px;
    position: relative;
}

.swiper-container {
    position: relative;
}

.fzlc-swiper-next {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-80%);
    z-index: 99;
    cursor: pointer;
}

.fzlc-swiper-prev {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-80%);
    z-index: 99;
    cursor: pointer;
}

.fzlc-slide {
    text-align: center;
}

.main-timeline {
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.main-timeline::before {
    content: "";
    width: 1px;
    height: 100%;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-timeline .timeline {
    width: 50%;
    padding-left: 50px;
    float: right;
    position: relative;
}

.main-timeline .timeline::before {
    z-index: 1;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    border: 4px solid #fff;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
}

.main-timeline .timeline:after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: -9px;
    transform: translateY(-50%);
}

.main-timeline .timeline-content {
    display: block;
    padding: 25px;
    border-radius: 100px;
    /* background: #ee4423; */
    position: relative;
}

.main-timeline .timeline-content::before,
.main-timeline .timeline-content::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .inner-content {
    width: 100%;
    float: right;
    padding: 20px;
    background: #fff;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid #CCCCCC;
    /* border-radius: 0 100px 100px 0; */
    color: #333;
}

.timeline .title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 26px 0;
    position: relative;
}

.timeline .title::after {
    width: 29px;
    height: 2px;
    background: #333;
    border-radius: 1px;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
}

.timeline .description {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.main-timeline .timeline:nth-child(2n) {
    padding: 0 50px 0 0;
}

.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .year {
    left: auto;
    right: -8px;
}

.main-timeline .timeline:nth-child(2n)::after {
    left: auto;
    right: -9px;
}

.main-timeline .timeline:nth-child(2n) .year {
    right: 7%;
}

/* .main-timeline .timeline:nth-child(2n):after{
    border-right: none;
    border-left: 30px solid #ee4423;
    left: auto;
    right: 24px;
} */
.main-timeline .timeline:nth-child(2n) .inner-content {
    /* float: none;
    border-radius: 100px 0 0 100px;
    text-align: right; */
}

.main-timeline .timeline:nth-child(2) {
    margin-top: 130px;
}

.main-timeline .timeline:nth-child(odd) {
    margin: -130px 0 0 0;
}

.main-timeline .timeline:nth-child(even) {
    margin-bottom: 80px;
}

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even) {
    margin: 0;
}

/* .main-timeline .timeline:nth-child(2n) .timeline-content{ background: #f68829; }
.main-timeline .timeline:nth-child(2n),
.main-timeline .timeline:nth-child(2n) .inner-content{ color: #f68829; }
.main-timeline .timeline:nth-child(2n):after{ border-left-color: #f68829; }
.main-timeline .timeline:nth-child(3n) .timeline-content{ background: #2991d0; }
.main-timeline .timeline:nth-child(3n),
.main-timeline .timeline:nth-child(3n) .inner-content{ color: #2991d0; }
.main-timeline .timeline:nth-child(3n):after{ border-right-color: #2991d0; }
.main-timeline .timeline:nth-child(4n) .timeline-content{ background: #9361aa; }
.main-timeline .timeline:nth-child(4n),
.main-timeline .timeline:nth-child(4n) .inner-content{ color: #9361aa; }
.main-timeline .timeline:nth-child(4n):after{ border-left-color: #9361aa; }
.main-timeline .timeline:nth-child(5n) .timeline-content{ background: #a7be26; }
.main-timeline .timeline:nth-child(5n),
.main-timeline .timeline:nth-child(5n) .inner-content{ color: #a7be26; }
.main-timeline .timeline:nth-child(5n):after{ border-right-color: #a7be26; } */


.timeline:hover .inner-content {
    border: 1px solid #2555FF;
}

.timeline:hover::before {
    background: #2555FF;
    border: 4px solid #fff;
}

.timeline:hover::after {
    border: 1px solid #2555FF;
    box-shadow: 0px 0px 15px 0px rgba(37, 85, 255, .4);
}

.timeline:hover .title {
    color: #2555FF;
}

.timeline:hover .title::after {
    background: #2555FF;
}

.about-box5 {
    position: relative;
    padding: 100px 0;
}

.section-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.section-part-word {
    position: relative;
    overflow: hidden;
    margin-right: 80px;
    flex: 1;
}

.section-word {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.word-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.word-title img {
    width: 45px;
    height: 45px;
    position: inherit;
    margin-right: 25px;
}

.word-title span {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
}

.word-desc {
    position: relative;
}

.word-desc li {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 30px;
}

.word-desc li em {
    display: inline-block;
    width: 10px;
    margin-right: 18px;
    margin-left: 15px;
    height: 10px;
    background: #2555FF;
    border-radius: 50%;
}

.section-part-gallery {
    width: 750px;
    height: 441px;
    position: relative;
    overflow: hidden;
}

.section-part-box {
    width: 750px;
    height: 441px;
    position: relative;
    overflow: hidden;
}

.section-part {
    width: 750px;
    height: 441px;
    /* float: left; */
    /* margin: 30px 15px; */
    position: relative;
    overflow: hidden;
}

.section-part img {
    width: 750px;
    height: 441px;
    transition: all ease-in-out .5s;
}

.section-part img:hover {
    transform: scale(1.05);
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.section-gallery-btn {
    text-align: center;
}

.section-gallery-btn a {
    display: inline-block;
    margin: 0 30px;
}

.displayInlineBlock {
    display: inline-block;
}

/*画出轮廓*/

.circle {
    margin: 0px 10px 0px 10px;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid #666;
    color: #666;
    /* background: #666; */
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*鼠标移入时改变背景色*/

.circle:hover {
    border: 1px solid #0b69cd;
    background: #0b69cd;
    color: #fff;
}

.circle:hover .leftArrow, .circle:hover .rightArrow {
    background: #fff;
}

/*
  方向向左的标记
  通过逆时针旋转45度，制作出/的效果
  */

.leftArrow {
    margin: 13px 0px 0px 10px;
    width: 12px;
    height: 2px;
    background: #666;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*
  方向向左的标记
  通过顺时针旋转45度，制作出\的效果
  */

.rightArrow {
    margin: 6px 0px 0px 10px;
    width: 12px;
    height: 2px;
    background: #666;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gallery-swiper-next .leftArrow {
    margin: 6px 0px 0px 12px;
}

.gallery-swiper-next .rightArrow {
    margin: 12px 0px 0px 12px;
}

#about6 {
    position: relative;
    background: #F8F8F8;
}

.join-dropDown {
    position: relative;
    width: 100%;
    margin-top: 50px;
    text-align: right;
}

.join-dropDown select {
    width: 210px;
    height: 28px;
}

.join-dropDown select option {
    line-height: 28px;
    height: 28px;
}

.job-container {
    position: relative;
    margin-top: 20px;
}

.job-title {
    position: inherit;
    display: flex;
    justify-content: space-between;
    background: #2555FF;
}

.title-box {
    padding: 20px 40px;
    color: #fff;
}

.job-list {
    border-bottom: 1px solid #ccc;
    transition: all ease-in-out .5s;
}

.job-list:last-child {
    border: none
}

.job-list-hd {
    position: inherit;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.list-column {
    padding: 20px 40px;
}

.job-core-desc {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    transition: all ease-in-out .5s;
}

.job-core-desc span {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    display: inline-block;
    margin-bottom: 10px;
}

.job-core-desc p {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    line-height: 22px;
    margin-bottom: 15px;
}

.job-list-hd>div:last-child::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid #333;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
}

.cur .job-list-hd {
    background: #f8f8f8;
}

.cur .job-core-desc {
    display: block;
}

.cur .job-list-hd>div:last-child::after {
    display: none;
}

.cur .job-list-hd>div:last-child::before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 8px solid #2555FF;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
}

.job-core-desc {
    display: none;
    height: 286px;
    overflow-y: scroll;
}

.address-cate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.address-cate-li {
    padding: 16px 50px;
    font-size: 20px;
    font-weight: 400;
}
.address-cate-li:hover{
    color: #2555FF;
    border-bottom: 2px solid #2555FF;
}
.address-cate>.cur {
    color: #2555FF;
    border-bottom: 2px solid #2555FF;
}
.address-container{
    position: relative;
    margin-top: 30px;
    border:1px solid #ccc;
    padding:30px 20px 0px;
}
.addrress-list{
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.address-list-box {
    flex:0 0 49%;
    position: inherit;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.address-list-box img{
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
.section-w1200{
    width: 1200px;
    position: relative;
    overflow: hidden;
    margin:0 auto;
}
/* @media screen and (max-width:1200px) {
    .mbx-nav-fixed {
        top: 58px;
    }

    .read-mbx-nav {
        height: 37px;
    }

    .read-mbx-nav .read-mbx-back {
        background: rgba(255, 255, 255, 1);
        height: 37px;
    }

    .read-mbx-back .width-auto {
        position: relative;
        overflow: scroll;
    }

    .read-mbx-nav ul {
        position: relative;
        width: 150%;
    }

    .read-mbx-nav ul li {
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
    }

    .read-mbx-nav ul li a {
        font-size: 14px;
    }

    .about-box1 {
        padding: 40px 0;
        position: relative;
        overflow: hidden;
    }

    .index-title-box span:nth-child(1) {
        font-size: 18px;
    }

    .index-title-box span:nth-child(2) {
        font-size: 14px;
    }

    .about1-read {
        font-size: 12px;
        line-height: 20px;
        padding-top: 15px;
    }

    .about1-read-bjq, .about1-read-img {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .about1-read-img img {
        width: 100%;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .about-box2 {
        position: relative;
        overflow: hidden;
    }

    .index-title-box span:nth-child(1) {
        font-size: 16px;
    }

    .index-title-box span:nth-child(2) {
        font-size: 14px;
    }

    .about2-banner-img {
        padding-bottom: 100%;
    }

    .about2-icon-box {
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .about2-icon-li {
        flex: 0 0 42%;
        padding: 10px;
        margin-bottom: 15px;
    }

    .about2-icon-li img {
        width: 36px;
        height: 36px;
    }

    .about2-icon-li span:nth-child(2) {
        width: 32px;
        margin: 10px auto;
    }

    .about2-icon-li span:nth-child(3) {
        font-size: 16px;
    }

    .about2-icon-li span:nth-child(4) {
        padding-top: 5px;
        font-size: 12px;
        height: 36px;
        width: 100%;
    }

    .about-box3 {
        padding: 40px 0;
    }

    .she-list-ul {
        margin-top: 20px;
    }

    .she-list-li {
        flex: 0 0 100%;
        width: 100%;
        margin-right: 0;
        padding-bottom: 20px;
    }

    .she-list-a:nth-child(2) {
        padding: 10px 0 10px 0;
        font-size: 18px;
    }

    .imgJsWrap .she-list-a em {
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin-right: 12px;
    }

    .she-list-a:nth-child(2):after {
        height: 1px;
        bottom: 0;
    }

    .she-list-a:nth-child(3) {
        font-size: 14px;
    }

    .she-list-desc {
        font-size: 12px;
        line-height: 20px;
    }

    .about-box4 .index-title-box {
        padding-top: 40px;
    }

    .fzlc-swiper-wrap {
        margin-bottom: 20px;
    }

    .swiper-container {
        margin-top: 20px;
    }

    .fzlc-swiper-next {
        width: 36px;
        height: 36px;
        left: -10px;
    }

    .fzlc-swiper-prev {
        width: 36px;
        height: 36px;
        right: -10px;
    }

    .fzlc-swiper-next img, .fzlc-swiper-prev img {
        width: 100%;
    }

    .about-box5 {
        padding: 40px 0;
    }

    .section-part {
        width: 87px;
        height: 60px;
        margin: 15px 6px;
    }
} */

/* section */