* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
    float: left;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    background: none;
    outline: none;
    border: 0px;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #0B69CD;
    background: #fff;
    outline: none;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/* 头部区 */

.xg_header {
    width: 100%;
    position: relative;
    z-index: 10;
}

.xg_header>section {
    overflow: hidden;
}

.logo {
    float: left;
    margin-right: 50px;
}

.logo {
    display: flex;
    align-items: center;
    height: 80px;
    overflow: hidden;
}

.logo img {
    /* max-height: 80px; */
    width: 66px;
    height: 52px;
}

.nav {
    position: relative;
    float: left;
}

.nav1>li {
    position: relative;
    padding: 0 25px;
    height: 80px;
    line-height: 80px;
    list-style: none;
}

.nav2 {
    width: 130px;
    height: 0;
    padding: 0 10px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    overflow: hidden;
    transition: height 0.4s;
    -moz-transition: height 0.4s;
    /* Firefox 4 */
    -webkit-transition: height 0.4s;
    box-shadow: 0 12px 30px rgb(0 0 0 / 10%);
    border-radius: 0 0 4px 4px;
}

.nav1 li:hover>ul {
    height: auto;
}

.nav2>li {
    border-bottom: 1px dashed #e5e5e5;
}

.nav2>li:nth-last-of-type(1) {
    border-bottom: none;
}

.nav1 li ul li a {
    display: block;
    font-size: 16px;
    line-height: 45px;
    height: 50px;
}

.nav a {
    color: #333333;
    font-size: 18px;
}

.nav a:hover {
    transition: all 0.4s ease;
    color: #D70012;
}

.cur > a {
    color: #D70012 !important;
}
.cur2 > a {
  color: #D70012 !important;
}

li.drop-down:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 12px;
    background: url(../imgs/drow.png) no-repeat center;
}

/* 头部区end */

/* 底部区 */

.xg_footer {
    padding-top: 44px;
    background: #303538;
}

.footer_top {
    padding-bottom: 70px;
}

.footer_top .w1200 {
    overflow: hidden;
}

.f_l {
    width: 300px;
    float: left;
}

.f_l p:nth-of-type(1) {
    margin: 14px 0 0 0;
    color: #FFF;
    font-size: 16px;
}

.f_l p:nth-of-type(2) {
    margin: 14px 0 0 0;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
}

.f_r {
    width: 900px;
    float: right;
}

.f_r>ul {
    display: flex;
    justify-content: space-between;
}

.f_r ul li>a {
    font-size: 16px;
    color: #FFFFFF;
}

.f_r ul li ul {
    margin-top: 30px;
}

.f_r ul li ul li {
    float: none;
    margin-bottom: 20px;
}

.f_r ul li ul li a {
    color: #999999;
    font-size: 13px;
}

.f_r a:hover {
    transition: all 0.4s ease;
    color: #D70012 !important;
}

.footer_btm {
    height: 43px;
    background: #202325;
    text-align: center;
}

.footer_btm a,.footer_btm span {
    color: #999999;
    font-size: 14px;
    line-height: 43px;
}

.footer_btm a:hover {
    transition: all 0.4s ease;
    color: #D70012 !important;
}

/* 底部区end */

/* page */
.page-container{
    width: 1200px;
    margin:0 auto;
    padding-bottom: 60px;
    text-align: center;
}
.page-lable-wrap {
    text-align: center;
}

.page-lable-wrap span, .page-lable-wrap a {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0 10px;
    position: relative;
    padding: 10px 15px;
    text-align: center;
    background: #fff;
    border: 1px solid #dedede;
    -webkit-transition: all .6s cubic-bezier(.645, .045, .355, 1);
    transition: all .6s cubic-bezier(.645, .045, .355, 1);
}

.page-lable-wrap .current, .page-lable-wrap a:hover {
    background: #0B69CD;
    color: #fff;
    border: 1px solid #0B69CD;
}
/* page */