html,
body {
  position: relative;
  width: 100%;
  max-width: 1980px;
  min-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

html,
body,
div,
a,
p {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
  position: relative;
}

p {
  margin: 0;
}

.more:hover {
  color: #666;
}

.w100 {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-start {
  justify-content: flex-start;
}

.row-start {
  justify-content: flex-start;
}

.row-end {
  justify-content: flex-end;
}

.row-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-start {
  align-items: flex-start;
}

.col-between {
  flex-direction: column;
  justify-content: space-between;
}

.col-bottom {
  align-items: flex-end;
}