/* section */
.section-w1200 {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.section-add-related {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.detail-right {
    width: 262px;
}

.you_want {
    position: relative;
    margin-top: 25px;
}

.you_want span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    height: 49px;
    line-height: 49px;
    padding-left: 15px;
    background: #2555FF;
    overflow: hidden;
}

.you_want ul {
    width: 100%;
}

.you_want ul li {
    height: 71px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
    display: flex;
}

.you_want ul li em {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #2555FF;
    border-radius: 50%;
    margin-top: 8px;
    /* position: absolute;
    left: 20px;
    top:20%; */
    /* transform: translateY(-50%); */
}

.you_want ul li a {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-left: 10px;
}

.detail-container {
    flex: 1;
    position: relative;
}

.detail-nav {
    position: relative;
    margin: 30px auto;
    overflow: hidden;
}

.detail-nav ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}

.detail-content {
    position: relative;
    overflow: hidden;
}

.detail-title {
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    padding: 15px;
    background: #f8f8f8;

}

.detail-date {
    padding: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: #f8f8f8;

}

.detail-date span {
    display: inline-block;
    margin-right: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

.detail-desc {
    position: relative;
}

.detail-desc>img {
    display: block;
    margin: 0 auto;
}

.detail-desc>a {
    display: block;
    width: 160px;
    height: 40px;
    background: #2555FF;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    margin: 35px;
}

.detail-info {
    position: relative;
}

.detail-cate>span {
    display: block;
    width: 100%;
    height: 28px;
    background: #F8F8F8;
    position: inherit;
    line-height: 28px;
    padding-left: 20px;
    position: relative;
}

.detail-cate>span::before {
    content: '';
    width: 6px;
    height: 28px;
    background: #2555FF;
    position: absolute;
    top: 0;
    left: 0;
}

.detail-cate>p {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
    position: relative;
    margin: 20px;
}

.teachers-list {
    position: inherit;
    padding-top: 35px;
    padding-bottom: 40px;
}

.teachers-box {
    position: inherit;
    overflow: hidden;
    margin-bottom: 20px;
}

.teachers-box>span {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    position: relative;
    margin: 0 20px 20px;
    position: relative;
    display: block;
}

.teachers-box>span::after {
    content: "";
    width: 27px;
    height: 2px;
    background: #2555FF;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.teachers-box>p {
    margin: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
}

.section-add-related {
    position: relative;
    margin-bottom: 90px;
}

.section-add-related>span {
    display: block;
    width: 100%;
    padding: 15px 0;
    padding-left: 15px;
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 35px;
}

.section-add-related>span::before {
    content: '';
    width: 6px;
    height: 28px;
    background: #2555FF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.related-details-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.related-box {
    background: #FFFFFF;
    height: 300px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    margin:0 15px;
}
.related-box:first-child{
    margin-left: 0;
}
.realted-box-img {
    position: relative;
    width: 380px;
    height: 220px;
    overflow: hidden;
}

.realted-box-img img {
    width: 380px;
    height: 220px;
    transition: all ease-in-out .5s;
}
.realated-box-title{
    padding:20px;
    background:#fff;
    height: 65px;
    overflow: hidden;
}
.related-box a{
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
}
/* section */