#banner {
    position: relative;
    width: 100%;
}

#banner img {
    width: 100%;
}

/* content */

#section {
    width: 1200px;
    margin: 80px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.train-box {
    flex: 0 0 32%;
    position: relative;
    margin-bottom: 25px;
}

.train-txt, .train-desc {
    width: 100%;
    background: #F6F6F6;
}

.train-txt  {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding:15px 10px;
}
.train-txt a{
    color: #343434;
}
.train-txt:hover a{
    color: #D70012;
}
.train-desc {
    font-size: 14px;
    font-weight: 400;
    color: #7B7B7B;
    padding:0px 10px 15px;
}

/* 面包屑 */

.section_crumbs {
    position: absolute;
    top: -130px;
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: right;
  }
  
  .crumbs {
    text-align: right;
  }
  
  .section_crumbs a, .section_crumbs span {
    color: #FFF;
    font-size: 14px;
  }
  
  .crumbs_ico {
    position: relative;
    top: 5px;
    padding-right: 5px;
  }
  
  .crumbs_ico img {
    width: 24px;
    height: auto;
  }
  
  .section_crumbs a:hover {
    transition: all 0.4s ease;
    color: #D70012;
  }
  
  /* 面包屑end */
/* content */