/* banner */
.dw-banner {
    position: relative;
    width: 100%;
}

.banner-img {
    position: relative;
    width: 100%;
    height: 600px;
}

.swiper-slide>img {
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-txt {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 1300px;
    left: 50%;
    transform: translateX(-50%);
}

.banner-txt>h5 {
    font-size: 36px;
    font-weight: 800;
    color: #2555FF;
    margin-top: 140px;
}

.banner-txt>span {
    font-size: 18px;
    font-family: PingFang;
    font-weight: 500;
    color: #2555FF;
}

.banner-btn {
    position: relative;
    margin: 40px 0;
}

.banner-btn button {
    width: 160px;
    height: 40px;
    border-radius: 8px;
    margin-right: 40px;
    background: #fff;
    border: 1px solid #2555FF;
    color: #2555FF;
    cursor: pointer;
}

.banner-btn button.cur {
    background: #2555FF;
    color: #fff;
}

.banner-movie ul li {
    margin-right: 20px;
}

.banner-movie ul li span {
    display: block;
    margin-top: 25px;
    text-align: center;
}

/* banner */

/* section */
.section-w1200 {
    width: 1200px;
    position: relative;
    margin: 80px auto 120px;
}

.section-header {
    font-size: 36px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.section-sub-header {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 30px;
    text-align: center;
}

.mode-section {
    position: relative;

}

.mode-container {
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mode-box {
    width: 172px;
    height: 172px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 28px 10px;
    margin-bottom: 25px;
    text-align: center;
}

.mode-img {
    width: 80px;
    margin: 0 auto;
    height: 80px;
    overflow: hidden;
    /* border: 1px dashed #333333; */
}
.mode-img img{
    transition: all ease-in-out .5s;
}


.mode-box>span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-top: 10px;
}

.mode-more {
    display: block;
    position: relative;
    width: 160px;
    margin: 60px auto 0;
    height: 40px;
    background: #2555FF;
    border-radius: 8px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.mode-box:hover{
    box-shadow: 0px 15px 25px 0px rgba(53, 100, 230, 0.15);
}
.mode-box:hover img{
    transform: scale(1.05);
}

.section-even {
    position: relative;
    overflow: hidden;
    /* padding: 100px 0; */
    background: #F2F2F2;
}

.about-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-left {}

.about-title {
    font-size: 36px;
    font-weight: 800;
    color: #272B2E;
    margin-bottom: 40px;
}

.about-left ul, .about-right ul {
    width: 100%;
    display: block;
    overflow: hidden;
}

.about-left ul li, .about-right ul li {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    line-height: 30px;
}

.about-left ul li em, .about-right ul li em {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #2555FF;
    border-radius: 50%;
    margin-right: 10px;
}

.about-more {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
}

.about-more a {
    display: inline-block;
}

.about-more a:first-child {
    width: 160px;
    height: 40px;
    background: #2555FF;
    border-radius: 8px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    margin-right: 30px;
}

.about-more a:last-child {
    width: 247px;
    height: 40px;
    border: 1px solid #2555FF;
    border-radius: 8px;
    line-height: 40px;
    color: #2555FF;
    text-align: center;
}

.about-right>img, .about-left>img {
    width: 600px;
    height: 480px;
}

.about-right p {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    margin-top: 20px;
}

.section-info {
    position: relative;
    overflow: hidden;
    background: #F2F2F2;
}

.section-header {
    font-size: 36px;
    font-weight: 800;
    color: #333333;
}

.info-container {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}

.info-cate {
    position: relative;
    overflow: hidden;
}

.cate-li {
    width: 50%;
    float: left;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.info-cate .cur {
    color: #2555FF;
    border-bottom: 1px solid #2555FF;
}

.info-cate .cur::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid #2555FF;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
}

.info-content {
    position: relative;
    padding-top: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info-box {
    width: 377px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.info-title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.info-state {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-top: 30px;
}

.info-desc {
    margin-left: 20px;
}

.info-box:hover {
    background: #2555FF;
    box-shadow: 0px 4px 20px 0px rgba(37, 85, 255, 0.38);
}

.info-box:hover .info-title, .info-box:hover .info-state {
    color: #fff;
}

.section-brand {
    position: relative;
    overflow: hidden;
    background: url(../imgs/brand_ads.png);
    background-size: cover;
}

.brand-box {
    position: relative;
}

.brand-title {
    font-size: 36px;
    font-weight: 800;
    color: #2555FF;
    position: relative;
    margin-bottom: 50px;
}

.brand-list {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    line-height: 32px;
}

.brand-list span {
    display: block;
}

.brand-btn a:last-child {
    width: 160px;
}

.section-wrold {
    position: relative;
    overflow: hidden;
    background: url(../imgs/world_bg.png);
    background-size: cover;
}

.world-number {
    position: relative;
    display: flex;
    align-items: center;
}

.world-cate-box {
    width: 33%;
    height: 100px;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.world-cate-box:last-child {
    border-right: none;
}

.world-cate-box span {
    display: block;
    font-size: 26px;
    font-weight: 500;
    color: #EEEEEE;
}

.world-cate-box span:last-child {
    font-size: 36px;
    font-weight: 800;
    color: #FFFFFF;
}

.world-ads {
    position: relative;
    text-align: center;
    margin-top: 80px;
}

.world-ads>span {
    display: block;
    font-size: 36px;
    font-weight: 800;
    color: #FFFFFF
}

.world-ads>a {
    display: block;
    width: 160px;
    margin:0 auto;
    margin-top: 60px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
}
/* section */