/* 广告图 */

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

/* 内容区 */

.xg_content {
  background: #F6F6F6;
}
/* 面包屑 */
.section_crumbs{
  position: relative;
  top: -50px;
  width: 1200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: right;
}
.crumbs{
  text-align: right;
}
.section_crumbs a , .section_crumbs span{
  color: #FFF;
  font-size: 14px;
}
.crumbs_ico{
  position: relative;
  top: 5px;
  padding-right: 5px;
}
.crumbs_ico img{
  width: 24px;
  height: auto;
}
.section_crumbs a:hover{
  transition: all 0.4s ease;
  color: #D70012;
}
/* 面包屑end */
/* 内容 */
.thinkTank_box {
  padding: 86px 0 40px 0;
  width: 1200px;
  margin: 0 auto;
}

.thinkTank_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.thinkTank_ul li {
  padding: 0 20px;
  margin-bottom: 110px;
  width: 280px;
  min-height: 340px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 12px 30px rgb(0 0 0 / 12%);
}

.number {
  margin: -49px auto 0 auto;
  width: 107px;
  height: 107px;
  line-height: 107px;
  text-align: center;
  color: #D70012;
  font-size: 46px;
  font-weight: 600;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 12px 30px rgb(0 0 0 / 12%);
}

.datatime {
  margin-top: 25px;
  font-size: 16px;
  color: #A0A0A0;
  text-align: center;
}

.name {
  margin-top: 15px;
  text-align: center;
}

.name::after {
  display: inline-block;
  content: "";
  width: 32px;
  height: 2px;
  background: #D70012;
}

.name a {
  display: block;
  font-size: 20px;
  color: #D70012;
  text-align: center;
  font-weight: 600;
  max-height: 30px;
  overflow: hidden;
}

.intro {
  margin-top: 30px;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  color: #A0A0A0;
  max-height: 100px;
  overflow: hidden;
}