<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">按钮文案</label>
            <div class="layui-input-block">
                <input type="text" name="to_title" class="layui-input"  placeholder="请输入按钮文案" value="{$row.to_title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">跳转链接</label>
            <div class="layui-input-block">
                <input type="text" name="to_url" class="layui-input"  placeholder="请输入跳转链接" value="{$row.to_url|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">Banner图</label>
            <div class="layui-input-block layuimini-upload">
                <input name="background" class="layui-input layui-col-xs6"   placeholder="请上传Banner图" value="{$row.background|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="background" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_background" data-upload-select="background" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">移动端</label>
            <div class="layui-input-block layuimini-upload">
                <input name="background_m" class="layui-input layui-col-xs6"   placeholder="请上传Banner图" value="{$row.background_m|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="background_m" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_background_m" data-upload-select="background_m" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                {foreach $getIsShowList as $k=>$v}
                <input type="radio" name="is_show" value="{$k}" title="{$v}" {in name="k" value="$row.is_show"}checked=""{/in}>
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">展示顺序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" class="layui-input"  placeholder="请输入排序" value="{$row.sort|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>