<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input"  placeholder="请输入标题" value="{$row.title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题色号</label>
            <div class="layui-input-block">
                <input type="text" name="title_color" class="layui-input"  placeholder="例：#636363" value="{$row.title_color|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">副标题</label>
            <div class="layui-input-block">
                <textarea type="text" name="title_s" class="layui-textarea" placeholder="请输入副标题">{$row.title_s|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">副标题色号</label>
            <div class="layui-input-block">
                <input type="text" name="title_s_color" class="layui-input"  placeholder="例：#636363" value="{$row.title_s_color|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">跳转链接</label>
            <div class="layui-input-block">
                <input type="text" name="to_url" class="layui-input"  placeholder="请输入跳转链接" value="{$row.to_url|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">Banner图</label>
            <div class="layui-input-block layuimini-upload">
                <input name="background" class="layui-input layui-col-xs6"   placeholder="请上传Banner图" value="{$row.background|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="background" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_background" data-upload-select="background" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">视频1 标题</label>
            <div class="layui-input-block">
                <input type="text" name="videos1_title" class="layui-input" value="{$row.videos1_title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">视频1</label>
            <div class="layui-input-block layuimini-upload">
                <input name="videos1" class="layui-input layui-col-xs6"  placeholder="请上传视频" value="{$row.videos1|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="videos1" data-upload-number="one" data-upload-exts="doc|gif|ico|icon|jpg|mp3|mp4|p12|pem|png|rar|jpeg|docx|txt|pptx|pdf|xls|lxsx" data-upload-icon="file"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_videos1" data-upload-select="videos1" data-upload-number="one" data-upload-mimetype="*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">视频2 标题</label>
            <div class="layui-input-block">
                <input type="text" name="videos2_title" class="layui-input" value="{$row.videos2_title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">视频2</label>
            <div class="layui-input-block layuimini-upload">
                <input name="videos2" class="layui-input layui-col-xs6" placeholder="请上传视频" value="{$row.videos2|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="videos2" data-upload-number="one" data-upload-exts="doc|gif|ico|icon|jpg|mp3|mp4|p12|pem|png|rar|jpeg|docx|txt|pptx|pdf|xls|lxsx" data-upload-icon="file"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_videos2" data-upload-select="videos2" data-upload-number="one" data-upload-mimetype="*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">视频3 标题</label>
            <div class="layui-input-block">
                <input type="text" name="videos3_title" class="layui-input" value="{$row.videos3_title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">视频3</label>
            <div class="layui-input-block layuimini-upload">
                <input name="videos3" class="layui-input layui-col-xs6" placeholder="请上传视频" value="{$row.videos3|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="videos3" data-upload-number="one" data-upload-exts="doc|gif|ico|icon|jpg|mp3|mp4|p12|pem|png|rar|jpeg|docx|txt|pptx|pdf|xls|lxsx" data-upload-icon="file"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_videos3" data-upload-select="videos3" data-upload-number="one" data-upload-mimetype="*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                {foreach $getIsShowList as $k=>$v}
                <input type="radio" name="is_show" value="{$k}" title="{$v}" {in name="k" value="$row.is_show"}checked=""{/in}>
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" class="layui-input"  placeholder="请输入排序" value="{$row.sort|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>