<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">联系我们</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form id="app-form" class="layui-form layuimini-form">

                        <div class="layui-form-item">
                            <label class="layui-form-label">全国服务电话</label>
                            <div class="layui-input-block">
                                <input type="text" name="call" class="layui-input" lay-verify="required" placeholder="请输入公司地址" value="{$data.call|default=''}">
                                <tip>请填写服务电话</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">公司邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" class="layui-input" lay-verify="required" placeholder="请输入公司邮箱" value="{$data.email|default=''}">
                                <tip>请填写公司邮箱</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">QQ号码</label>
                            <div class="layui-input-block">
                                <input type="text" name="qq" class="layui-input" lay-verify="required" placeholder="请输入QQ号码" value="{$data.qq|default=''}">
                                <tip>请填写QQ号码</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                                <input type="text" name="contacts" class="layui-input" lay-verify="required" placeholder="请输入联系人" value="{$data.contacts|default=''}">
                                <tip>请填写联系人</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" name="phone" class="layui-input" lay-verify="required" placeholder="请输入联系电话" value="{$data.phone|default=''}">
                                <tip>请填写联系电话</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">公司地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="address" class="layui-input" lay-verify="required" placeholder="请输入公司地址" value="{$data.address|default=''}">
                                <tip>请填写公司地址</tip>
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.contact/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>