<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>应用与方案--详情</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/jq-v2.1.1.js"></script>
</head>

<body>
  <!-- 导航栏 -->
  <div class="menu flex">
    <div class="content flex row-between">
      <a class="logo" href="./index.html">
        <img src="./../images/index/logo.png" alt="logo">
      </a>
      <div class="tabs flex">
        <a class="tab" href="./index.html">首页</a>
        <a class="tab active" href="./category.html">应用与方案</a>
        <a class="tab" href="./products.html">
          产品中心
          <!-- <div class="pop-menu">

      </div> -->
        </a>
        <a class="tab" href="./news.html">新闻中心</a>
        <a class="tab" href="javascript: void(0)">走进日图</a>
      </div>
    </div>
  </div>
  <div class="news-detail pg-instance product second">
    <div class="content">
      <div class="nav">
        <div class="nav-wrapper flex row-start">
          您现在的位置：
          <a href="./index.html">首页</a> >
          <a href="./news.html">应用与方案</a>
        </div>
      </div>
      <div class="news-content">
        <div class="news-title">
          <div class="name flex">R&Sl罗德与施瓦茨-测量接收机的发展历程 | 数字时代下的R&S测量接收机</div>
        </div>
        <div class="news-info">
          应用与方案--详情
        </div>
      </div>

      <div class="recommend">
        <div class="title">资料下载</div>
      </div>
      <div class="download">
        <a class="line" href="">
          <div class="flex row-between">罗德与施瓦茨 测量电气装置的电源质量</div>
        </a>
        <a class="line" href="">
          <div class="flex row-between">罗德与施瓦茨 测量电气装置的电源质量</div>
        </a>
      </div>

      <div class="recommend">
        <div class="title">相关推荐</div>
      </div>
      <div class="content">
        <div class="flex row-start col-start flex-wrap">
          <a class="wrapper" href="./instance.html">
            <div class="box">
              <img src="../images/index/instance-01.png" alt="">
            </div>
            <div class="cate-name">电子制造业电子制造制造业电子业电子制造业电子制造业电子制造业造制造造制造</div>
          </a>
          <a class="wrapper" href="./instance.html">
            <div class="box">
              <img src="../images/index/instance-01.png" alt="">
            </div>
            <div class="cate-name">电子制造业</div>
          </a>
          <a class="wrapper" href="./instance.html">
            <div class="box">
              <img src="../images/index/instance-01.png" alt="">
            </div>
            <div class="cate-name">电子制造业</div>
          </a>
          <a class="wrapper" href="./instance.html">
            <div class="box">
              <img src="../images/index/instance-01.png" alt="">
            </div>
            <div class="cate-name">电子制造业</div>
          </a>
          <a class="wrapper" href="./instance.html">
            <div class="box">
              <img src="../images/index/instance-01.png" alt="">
            </div>
            <div class="cate-name">电子制造业</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="content flex row-between col-start">
      <div class="left">
        <img class="logo" src="./../images/index/logo.png" alt="">
        <div class="text">全国服务热线</div>
        <div class="phone">400-616-5217</div>
        <div class="date">服务时间： <br />
          工作日 09:00 - 17:30</div>
      </div>
      <div class="right flex col-start">
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品0</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>