<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>电子制造业</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/jq-v2.1.1.js"></script>
</head>

<body>
  <div class="pg-instance second">
    <div class="box">
      <img src="./../images/index/banner.png" alt="">
    </div>
    <div class="nav">
      <div class="nav-wrapper flex row-start">
        您现在的位置：
        <a href="./index.html">首页</a> > 
        <a href="./index.html">应用与方案</a> >
        <a href="./index.html">电子制造业</a>
      </div>
    </div>
    <div class="title">
      电子制造业
    </div>
    <div class="flex">
      <div class="cate-third active">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
    </div>
    <div class="content">
      <div class="flex row-start col-start flex-wrap">
        <a class="wrapper" href="./instance-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
      </div>
    </div>

    <div class="page-num flex">
      <button class="btn">首页</button>
      <button class="btn">上一页</button>
      <button class="btn num active">1</button>
      <button class="btn num">2</button>
      <div class="dot">...</div>
      <button class="btn num">10</button>
      <button class="btn">下一页</button>
      <button class="btn">页尾</button>
    </div>
  </div>

  <script>
    $('.page-num .num').click(function() {
      $(this).addClass('active').siblings().removeClass('active')
    })
    $('.cate-third').click(function() {
      $(this).addClass('active').siblings().removeClass('active')
    })
  </script>
</body>

</html>