<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>news</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/jq-v2.1.1.js"></script>
</head>

<body>
  <!-- 导航栏 -->
  <div class="menu flex">
    <div class="content flex row-between">
      <a class="logo" href="./index.html">
        <img src="./../images/index/logo.png" alt="logo">
      </a>
      <div class="tabs flex">
        <a class="tab" href="./index.html">首页</a>
        <a class="tab" href="./category.html">应用与方案</a>
        <a class="tab" href="./products.html"> 产品中心 </a>
        <a class="tab active" href="./news.html">新闻中心</a>
        <a class="tab" href="./aboutus.html">走进日图</a>
      </div>
    </div>
  </div>
  <div class="pg-instance second news">
    <div class="box">
      <img src="./../images/index/banner.png" alt="">
    </div>
    <div class="nav">
      <div class="nav-wrapper flex row-start">
        您现在的位置：
        <a href="./index.html">首页</a> >
        <a href="./index.html">新闻中心</a>
      </div>
    </div>
    <div class="title">
      新闻中心
    </div>
    <div class="flex">
      <div class="cate-third active" onclick="changeTabs(0)">行业新闻</div>
      <div class="cate-third" onclick="changeTabs(1)">公司新闻</div>
    </div>
    <div class="content content-0">
      <a class="wrapper flex row-between col-start" href="./news-detail.html">
        <div class="img">
          <img src="./../images/news/news (1).png" alt="">
        </div>
        <div class="info">
          <div class="name flex row-between col-bottom">
            <div class="p">
              R&Sl罗德与施瓦茨-测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程 | 数字时代下的R&S测量接收机
            </div>
            <div class="date">2021-08-11</div>
          </div>
          <div class="text">
            过去的二十年是科技飞速发展的二十年，在这段时间里，人们的生活发生了翻天覆地的变化，“数字”成为搭载人们情感与现实的主要工具，0和1的符号含义已经远不止是数字那么简单，它们组成了一个数字时代，在这里，它们无处不在，甚至在未来的某一天还可能会成为人类生活的支配者。
          </div>
          <div class="more">MORE ></div>
        </div>
      </a>
      <a class="wrapper flex row-between col-start" href="./news-detail.html">
        <div class="img">
          <img src="./../images/news/news (1).png" alt="">
        </div>
        <div class="info">
          <div class="name flex row-between col-bottom">
            <div class="p">
              R&Sl罗德与施瓦茨-测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程 | 数字时代下的R&S测量接收机
            </div>
            <div class="date">2021-08-11</div>
          </div>
          <div class="text">
            过去的二十年是科技飞速发展的二十年，在这段时间里，人们的生活发生了翻天覆地的变化，“数字”成为搭载人们情感与现实的主要工具，0和1的符号含义已经远不止是数字那么简单，它们组成了一个数字时代，在这里，它们无处不在，甚至在未来的某一天还可能会成为人类生活的支配者。
          </div>
          <div class="more">MORE ></div>
        </div>
      </a>
      <a class="wrapper flex row-between col-start" href="./news-detail.html">
        <div class="img">
          <img src="./../images/news/news (1).png" alt="">
        </div>
        <div class="info">
          <div class="name flex row-between col-bottom">
            <div class="p">
              R&Sl罗德与施瓦茨-测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程 | 数字时代下的R&S测量接收机
            </div>
            <div class="date">2021-08-11</div>
          </div>
          <div class="text">
            过去的二十年是科技飞速发展的二十年，在这段时间里，人们的生活发生了翻天覆地的变化，“数字”成为搭载人们情感与现实的主要工具，0和1的符号含义已经远不止是数字那么简单，它们组成了一个数字时代，在这里，它们无处不在，甚至在未来的某一天还可能会成为人类生活的支配者。
          </div>
          <div class="more">MORE ></div>
        </div>
      </a>
    </div>
    <div class="content content-1">
      <a class="wrapper flex row-between col-start" href="./news-detail.html">
        <div class="img">
          <img src="./../images/news/news (1).png" alt="">
        </div>
        <div class="info">
          <div class="name flex row-between col-bottom">
            <div class="p">
              R&Sl罗德与施瓦茨-测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程 | 数字时代下的R&S测量接收机
            </div>
            <div class="date">22132021-08-11</div>
          </div>
          <div class="text">
            过去的二十年是科技飞速发展的二十年，在这段时间里，人们的生活发生了翻天覆地的变化，“数字”成为搭载人们情感与现实的主要工具，0和1的符号含义已经远不止是数字那么简单，它们组成了一个数字时代，在这里，它们无处不在，甚至在未来的某一天还可能会成为人类生活的支配者。
          </div>
          <div class="more">MORE ></div>
        </div>
      </a>
      <a class="wrapper flex row-between col-start" href="./news-detail.html">
        <div class="img">
          <img src="./../images/news/news (1).png" alt="">
        </div>
        <div class="info">
          <div class="name flex row-between col-bottom">
            <div class="p">
              R&Sl罗德与施瓦茨-测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程 | 数字时代下的R&S测量接收机
            </div>
            <div class="date">2021-08-11</div>
          </div>
          <div class="text">
            过去的二十年是科技飞速发展的二十年，在这段时间里，人们的生活发生了翻天覆地的变化，“数字”成为搭载人们情感与现实的主要工具，0和1的符号含义已经远不止是数字那么简单，它们组成了一个数字时代，在这里，它们无处不在，甚至在未来的某一天还可能会成为人类生活的支配者。
          </div>
          <div class="more">MORE ></div>
        </div>
      </a>
      <a class="wrapper flex row-between col-start" href="./news-detail.html">
        <div class="img">
          <img src="./../images/news/news (1).png" alt="">
        </div>
        <div class="info">
          <div class="name flex row-between col-bottom">
            <div class="p">
              R&Sl罗德与施瓦茨-测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程 | 数字时代下的R&S测量接收机
            </div>
            <div class="date">2021-08-11</div>
          </div>
          <div class="text">
            过去的二十年是科技飞速发展的二十年，在这段时间里，人们的生活发生了翻天覆地的变化，“数字”成为搭载人们情感与现实的主要工具，0和1的符号含义已经远不止是数字那么简单，它们组成了一个数字时代，在这里，它们无处不在，甚至在未来的某一天还可能会成为人类生活的支配者。
          </div>
          <div class="more">MORE ></div>
        </div>
      </a>
      <a class="wrapper flex row-between col-start" href="./news-detail.html">
        <div class="img">
          <img src="./../images/news/news (1).png" alt="">
        </div>
        <div class="info">
          <div class="name flex row-between col-bottom">
            <div class="p">
              R&Sl罗德与施瓦茨-测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程测量接收机的发展历程 | 数字时代下的R&S测量接收机
            </div>
            <div class="date">2021-08-11</div>
          </div>
          <div class="text">
            过去的二十年是科技飞速发展的二十年，在这段时间里，人们的生活发生了翻天覆地的变化，“数字”成为搭载人们情感与现实的主要工具，0和1的符号含义已经远不止是数字那么简单，它们组成了一个数字时代，在这里，它们无处不在，甚至在未来的某一天还可能会成为人类生活的支配者。
          </div>
          <div class="more">MORE ></div>
        </div>
      </a>
    </div>

    <div class="page-num flex">
      <button class="btn">首页</button>
      <button class="btn">上一页</button>
      <button class="btn num active">1</button>
      <button class="btn num">2</button>
      <div class="dot">...</div>
      <button class="btn num">10</button>
      <button class="btn">下一页</button>
      <button class="btn">页尾</button>
    </div>
  </div>

  <div class="footer">
    <div class="content flex row-between col-start">
      <div class="left">
        <img class="logo" src="./../images/index/logo.png" alt="">
        <div class="text">全国服务热线</div>
        <div class="phone">400-616-5217</div>
        <div class="date">服务时间： <br />
          工作日 09:00 - 17:30</div>
      </div>
      <div class="right flex col-start">
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品0</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright 2022 RiTuChina.com All Rights Reserved. 粤ICP备14056224号
  </div>

  <script>
    function changeTabs(index) {
      console.log(index)
      if (index) {
        $('.content-1').show()
        $('.content-0').hide()
      } else {
        $('.content-0').show()
        $('.content-1').hide()
      }
    }

    $('.page-num .num').click(function () {
      $(this).addClass('active').siblings().removeClass('active')
    })
    $('.cate-third').click(function () {
      $(this).addClass('active').siblings().removeClass('active')
    })
  </script>
</body>

</html>