<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品详情</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/swiper-bundle.min.css">
  <script src="../js/jq-v2.1.1.js"></script>
</head>

<body>
  <!-- 导航栏 -->
  <div class="menu flex">
    <div class="content flex row-between">
      <a class="logo" href="./index.html">
        <img src="./../images/index/logo.png" alt="logo">
      </a>
      <div class="tabs flex">
        <a class="tab" href="./index.html">首页</a>
        <a class="tab" href="./category.html">应用与方案</a>
        <a class="tab active" href="./products.html">
          产品中心
          <!-- <div class="pop-menu">

        </div> -->
        </a>
        <a class="tab" href="./news.html">新闻中心</a>
        <a class="tab" href="javascript: void(0)">走进日图</a>
      </div>
    </div>
  </div>
  <div class="product-detail pg-instance product second news-detail">
    <div class="nav">
      <div class="nav-wrapper flex row-start">
        您现在的位置：
        <a href="./index.html">首页</a> >
        <a href="./products.html">产品中心</a> >
        <a href="./products.html">示波器</a> >
        <a href="./news.html">罗德与施瓦茨 R&S RTC1000 数字示波器</a>
      </div>
    </div>
    <div class="goods flex row-start col-start">
      <div class="goods-swiper-wrapper">
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./../images/index/instance-01 (2).png" />
            </div>
            <div class="swiper-slide">
              <img src="./../images/index/instance-01 (2).png" />
            </div>
            <div class="swiper-slide">
              <img src="./../images/index/product-01 (2).png" />
            </div>
            <div class="swiper-slide">
              <img src="./../images/index/product-01 (2).png" />
            </div>
          </div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./../images/index/instance-01 (2).png" />
            </div>
            <div class="swiper-slide">
              <img src="./../images/index/instance-01 (2).png" />
            </div>
            <div class="swiper-slide">
              <img src="./../images/index/instance-01 (2).png" />
            </div>
            <div class="swiper-slide">
              <img src="./../images/index/instance-01 (2).png" />
            </div>
          </div>
        </div>
      </div>
      <div class="goods-info">
        <div class="goods-name">罗德与施瓦茨 R&S RTC1000 数字示波器</div>
        <div class="attr flex row-start">
          <div class="type">产品型号：R&S RTC1000</div>
          <div class="kindle">产品系列：罗德与施瓦茨</div>
        </div>
        <div class="goods-detail">
          R&S首创数字触发系统

          RTE示波器具有同级别示波器中最高的波形捕获率，最灵活的显示方式，最多元的测量方法，最丰富的分析功能。
        </div>
      </div>
    </div>
    <div class="goods-tabs">
      <div class="tabs flex row-start">
        <div class="tab active" onclick="changeTab(0)">产品特点</div>
        <div class="tab" onclick="changeTab(1)">技术参数</div>
        <div class="tab" onclick="changeTab(2)">选型表</div>
        <div class="tab" onclick="changeTab(3)">附件/配件</div>
        <div class="tab" onclick="changeTab(4)">解决方案</div>
        <div class="tab" onclick="changeTab(5)">下载</div>
      </div>
    </div>
    <div class="goods-wrapper">
      <div class="box box-0">0</div>
      <div class="box box-1">1</div>
      <div class="box box-2">2</div>
      <div class="box box-3">3</div>
      <div class="box box-4">4</div>
      <div class="box box-5 download">
        <a class="line" href="">
          <div class="flex row-between">罗德与施瓦茨 测量电气装置的电源质量</div>
        </a>
        <a class="line" href="">
          <div class="flex row-between">罗德与施瓦茨 测量电气装置的电源质量</div>
        </a>
      </div>
    </div>


    <div class="recommend">
      <div class="title">相关推荐</div>
    </div>
    <div class="content">
      <div class="flex row-start col-start flex-wrap">
        <a class="wrapper" href="./instance.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业电子制造制造业电子业电子制造业电子制造业电子制造业造制造造制造</div>
        </a>
        <a class="wrapper" href="./instance.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./instance.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="content flex row-between col-start">
      <div class="left">
        <img class="logo" src="./../images/index/logo.png" alt="">
        <div class="text">全国服务热线</div>
        <div class="phone">400-616-5217</div>
        <div class="date">服务时间： <br />
          工作日 09:00 - 17:30</div>
      </div>
      <div class="right flex col-start">
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品0</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/swiper-bundle.min.js"></script>
  <script>
    var swiper1 = new Swiper(".mySwiper", {
      spaceBetween: 15,
      slidesPerView: 3,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      thumbs: {
        swiper: swiper1,
      },
    });

    function changeTab(index) {
      $('.box-' + index).show().siblings().hide()
    }
    $('.tabs .tab').click(function () {
      $(this).addClass('active').siblings().removeClass('active')
    })
  </script>
</body>

</html>