<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>产品中心</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/jq-v2.1.1.js"></script>
</head>

<body>
  <!-- 导航栏 -->
  <div class="menu flex">
    <div class="content flex row-between">
      <a class="logo" href="./index.html">
        <img src="./../images/index/logo.png" alt="logo">
      </a>
      <div class="tabs flex">
        <a class="tab" href="./index.html">首页</a>
        <a class="tab" href="./category.html">应用与方案</a>
        <a class="tab active" href="./products.html">
          产品中心
          <!-- <div class="pop-menu">

        </div> -->
        </a>
        <a class="tab" href="./news.html">新闻中心</a>
        <a class="tab" href="javascript: void(0)">走进日图</a>
      </div>
    </div>
  </div>
  <div class="pg-instance second product">
    <div class="box">
      <img src="./../images/index/banner.png" alt="">
    </div>
    <div class="nav">
      <div class="nav-wrapper flex row-start">
        您现在的位置：
        <a href="./index.html">首页</a> > 
        <a href="./index.html">应用与方案</a> >
        <a href="./index.html">电子制造业</a>
      </div>
    </div>
    <div class="cate-01 flex row-start flex-wrap">
      <a class="cate-02 flex active" href="">
        <div class="inner">sfsfsfsfsfsfsfsfsffsfsfsfsfsfsf</div>
      </a>
      <a class="cate-02" href="">
        <div class="inner">矢量网络分析仪</div>
      </a>
      <a class="cate-02" href="">
        <div class="inner">矢量网络分析仪</div>
      </a>
      <a class="cate-02" href="">
        <div class="inner">矢量网络分析仪</div>
      </a>
      <a class="cate-02" href="">
        <div class="inner">矢量网络分析仪</div>
      </a>
      <a class="cate-02" href="">
        <div class="inner">矢量网络分析仪</div>
      </a>
      <a class="cate-02" href="">
        <div class="inner">矢量网络分析仪</div>
      </a>
      <a class="cate-02" href="">
        <div class="inner">矢量网络分析仪</div>
      </a>
    </div>
    <div class="title">
      电子制造业
    </div>
    <div class="flex">
      <div class="cate-third active">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
      <div class="cate-third">sfsfsfsf</div>
    </div>
    <div class="content">
      <div class="flex row-start col-start flex-wrap">
        <a class="wrapper" href="./product-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业电子制造制造业电子业电子制造业电子制造业电子制造业造制造造制造</div>
        </a>
        <a class="wrapper" href="./product-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./product-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./product-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./product-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./product-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
        <a class="wrapper" href="./product-detail.html">
          <div class="box">
            <img src="../images/index/instance-01.png" alt="">
          </div>
          <div class="cate-name">电子制造业</div>
        </a>
      </div>
    </div>

    <div class="page-num flex">
      <button class="btn">首页</button>
      <button class="btn">上一页</button>
      <button class="btn num active">1</button>
      <button class="btn num">2</button>
      <div class="dot">...</div>
      <button class="btn num">10</button>
      <button class="btn">下一页</button>
      <button class="btn">页尾</button>
    </div>
  </div>
  <div class="footer">
    <div class="content flex row-between col-start">
      <div class="left">
        <img class="logo" src="./../images/index/logo.png" alt="">
        <div class="text">全国服务热线</div>
        <div class="phone">400-616-5217</div>
        <div class="date">服务时间： <br />
          工作日 09:00 - 17:30</div>
      </div>
      <div class="right flex col-start">
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
        <div class="box">
          <a class="cate-01" href="./index.html">测试产品0</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
          <a class="cate-02" href="./index.html">二级目录1</a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright 2022 RiTuChina.com All Rights Reserved. 粤ICP备14056224号
  </div>

  <script>
    $('.page-num .num').click(function() {
      $(this).addClass('active').siblings().removeClass('active')
    })
    $('.cate-third').click(function() {
      $(this).addClass('active').siblings().removeClass('active')
    })
    $('.cate-02').click(function() {
      $(this).addClass('active').siblings().removeClass('active')
    })
  </script>
</body>

</html>