<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">首页</li>
                <li>innojoy</li>
                <li>innojet专利</li>
                <li>innojet商标</li>
                <li>咨询服务</li>
                <li>客户案例</li>
                <li>关于我们</li>
                <li>行业干货</li>
                <li>榜单</li>
                <li>为知塾学院</li>
                <li>公司动态</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form id="app-form" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.index.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.index.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.index.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.index.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.index.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form2" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.innojoy.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.innojoy.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.innojoy.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.innojoy.form_link|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">国家</label>
                            <div class="layui-input-block">
                                <input type="text" name="other1" class="layui-input"  value="{$data.innojoy.other1|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">数据</label>
                            <div class="layui-input-block">
                                <input type="text" name="other2" class="layui-input"  value="{$data.innojoy.other2|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-block">
                                <input type="text" name="other3" class="layui-input"  value="{$data.innojoy.other3|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form3" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.innojet_patent.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.innojet_patent.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.innojet_patent.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.innojet_patent.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.innojet_patent.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form4" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.innojet_brand.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.innojet_brand.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.innojet_brand.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.innojet_brand.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.innojet_brand.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form5" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.consult.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.consult.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.consult.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.consult.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.consult.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form7" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.case.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.case.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.case.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.case.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.case.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form6" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.about.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.about.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.about.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.about.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.about.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form8" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.res_book.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.res_book.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.res_book.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.res_book.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.res_book.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form9" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.res_top.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.res_top.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.res_top.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.res_top.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.res_top.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form10" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.res_course.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.res_course.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.res_course.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.res_course.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.res_course.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

                <div class="layui-tab-item">
                    <form id="app-form11" class="layui-form layuimini-form">
                        <input type="text" name="sign" class="layui-input layui-hide" value="{$data.res_news.sign}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input"  value="{$data.res_news.title|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title_s" class="layui-input"  value="{$data.res_news.title_s|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="button_name" class="layui-input"  value="{$data.res_news.button_name|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">表单参数</label>
                            <div class="layui-input-block">
                                <input type="text" name="form_link" class="layui-input"  value="{$data.res_news.form_link|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.configBottom1/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
</div>