<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="关于我们">
    <meta name="description" content="关于我们">
    <title>关于我们</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/about_us.css">
</head>

<body>
    <div class="top-tips">
        <span>【白皮书】民族企业IP的高质量发展路径</span> <a href="#">立即下载</a>
    </div>
    <div class="dw-header">
        <div class="dw-logo">
            <a href="index.html">
                <img src="../imgs/logo.png" alt="">
            </a>
        </div>
        <div class="dw-menu">
            <ul>
                <li >
                    <a href="innoJoy.html">全球专利数据库</a>
                </li>
                <li class="drop-down">
                    <a href="#">知识产权管理平台</a>
                    <ul>
                        <li><a href="innojet.html">innojet专利管理平台</a></li>
                        <li><a href="trande_mark.html">innojet商标管理平台</a></li>
                    </ul>
                </li>
                <li>
                    <a href="consult_service.html">咨询服务</a>
                </li>
                <li>
                    <a href="case.html">客户案例</a>
                </li>
                <li class="drop-down">
                    <a href="resource_center.html">资源中心</a>
                    <ul>
                        <li><a href="resource_center.html">行业干货</a></li>
                        <li><a href="medal_list.html">榜单</a></li>
                        <li><a href="college_center.html">为知塾学院</a></li>
                        <li><a href="company_story.html">公司动态</a></li>
                    </ul>
                </li>
                <li class="cur">
                    <a href="about_us.html">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="dw-outlink">
            <div class="lang-container">
                <img src="../imgs/lang.png" alt="">
                <span>简体中文</span>
                <ul style="display: none;">
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                </ul>
            </div>
            <div class="dw-application">
                <a href="#">申请试用</a>
            </div>
            <div class="dw-logcenter">
                <a href="http://www.innojoy.com/search/home.html">登录/注册</a>
            </div>
        </div>
    </div>
    <div class="dw-banner">
        <img src="../imgs/banner5.png" alt="">
        <!-- <div class="banner-inner-txt  wow fadeInUp d2">
            <h3>知识产权服务行业开拓与领跑者</h3>
            <p>
                知识产权“IT+咨询+专利大数据”一站式解决方案服务商</br>
            </p>
            <span>秉承客户至上理念，专注知识产权服务20年</span>
            <div class="bannner-btn">
                <a href="#">视频演示</a>
                <a href="#">免费试用</a>
            </div>
        </div> -->
    </div>
    <div class="dw-section">
        <!--nav-->
        <div class="read-mbx-nav wow fadeInUp d2">
            <div class="read-mbx-back">
                <div class="width-auto">
                    <ul>
                        <li class="mbx-hover">
                            <a class="about-mao" href="about_us.html#about1">关于大为</a>
                        </li>
                        <li>
                            <a class="about-mao" href="about_us.html#about2">服务团队</a>
                        </li>
                        <li>
                            <a class="about-mao" href="about_us.html#about3">企业文化</a>
                        </li>
                        <li>
                            <a class="about-mao" href="about_us.html#about4">发展历程</a>
                        </li>
                        <li>
                            <a class="about-mao" href="about_us.html#about5">荣誉资质</a>
                        </li>
                        <li>
                            <a class="about-mao" href="about_us.html#about6">加入我们</a>
                        </li>
                        <li>
                            <a class="about-mao" href="about_us.html#about7">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--content-->
        <div class="about-read-wrap">
            <!--锚点-->
            <div id="about1" class="read-select about-box1">
                <div class="width-auto">
                    <div class="index-title-box">
                        <span class="en2 wow fadeInUp d2">公司简介</span>
                    </div>
                    <div class="about1-read-bjq">
                        <div class="about1-read wow fadeInUp d2">
                            <p>
                                大为计算机软件开发有限公司成立于2001年，是国内知名的知识产权一体化解决方案服务商。专注知识产权领域20年，为中国高创新水平的科技型企业、高校、科研机构等提供专业服务。
                                大为以国际化视野＋本土化战略，打造“咨询+
                                IT+大数据”的国产化自主可控的软件服务体系，包括innojoy全球专利数据库、innojet知识产权协同创新管理系统、以及大为知识产权咨询服务。为处在不同需求阶段的企业提供专家式解决方案及服务，同客户与中国科技一起创新、成长。
                                大为自创立起专注于知识产权领域，已为国内外1000余家中高端客户提供优质的产品和服务。客户包括国家电网、中国航发、中国中车、中信集团、比亚迪、中兴通讯、京东、美的、格力、长城汽车、东芝、松下电器等。大为也将20年知识产权行业服务经验不断总结、提炼，帮助更多客户实现创新加速。
                            </p>
                        </div>
                    </div>
                    <div class="about1-read-img wow fadeInUp d2">
                        <div class="about1-box">
                            <div class="about1-box-img">
                                <img src="../imgs/data2.png" alt="">
                                <span>成立时间</span>
                                <span>2001<em>年</em></span>
                            </div>
                            <div class="about1-box-img">
                                <img src="../imgs/data2.png" alt="">
                                <span>服务企业</span>
                                <span>1000<em>+</em></span>
                            </div>
                            <div class="about1-box-img">
                                <img src="../imgs/data2.png" alt="">
                                <span>员工人数</span>
                                <span>120<em>+</em></span>
                            </div>
                            <div class="about1-box-img">
                                <img src="../imgs/data2.png" alt="">
                                <span>分子公司</span>
                                <span>6<em>家</em></span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--锚点-->
            <div id="about2" class="read-select about-box2">

                <div class="about2-text-box ">
                    <div class="width-auto">
                        <div class="index-title-box">
                            <span class="en2 wow fadeInUp d2">服务团队</span>
                        </div>
                        <div class="about2-icon-box wow fadeInUp d4">
                            大为团队成员由前专利审查员、专利代理人、软件产品经理等组成。部分团队成员来自华为、用友等国内外知名
                            企业，及拥有英国、日本、韩国等国留学背景的国际化人才。核心成员均拥有知识产权行业十年及以上从业经历，知识 产权咨询服务团队90%成员均拥有硕士及以上学历。
                        </div>
                        <div class="about2-img wow fadeInUp d2">
                            <img src="../imgs/detail.png" alt="">
                            <img src="../imgs/detail.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--锚点-->
            <div id="about3" class="read-select about-box3">
                <div class="width-auto">
                    <div class="index-title-box">
                        <span class="en2 wow fadeInUp d2">企业文化</span>
                    </div>
                    <div class="she-list-ul wow fadeInUp d2">
                        <div class="she-list-li">
                            <div class="list-li-img">
                                <img src="../imgs/detail.png" alt="">
                            </div>
                            <div class="list-li-title">
                                客户至上
                            </div>
                            <div class="list-li-desc">
                                成立20年，一直将客户放在首位，以全心全意的服务态度和细致认真的服务，为客户带来价值。
                            </div>
                        </div>
                        <div class="she-list-li">
                            <div class="list-li-img">
                                <img src="../imgs/detail.png" alt="">
                            </div>
                            <div class="list-li-title">
                                客户至上
                            </div>
                            <div class="list-li-desc">
                                成立20年，一直将客户放在首位，以全心全意的服务态度和细致认真的服务，为客户带来价值。
                            </div>
                        </div>
                        <div class="she-list-li">
                            <div class="list-li-img">
                                <img src="../imgs/detail.png" alt="">
                            </div>
                            <div class="list-li-title">
                                客户至上
                            </div>
                            <div class="list-li-desc">
                                成立20年，一直将客户放在首位，以全心全意的服务态度和细致认真的服务，为客户带来价值。
                            </div>
                        </div>
                        <div class="she-list-li">
                            <div class="list-li-img">
                                <img src="../imgs/detail.png" alt="">
                            </div>
                            <div class="list-li-title">
                                客户至上
                            </div>
                            <div class="list-li-desc">
                                成立20年，一直将客户放在首位，以全心全意的服务态度和细致认真的服务，为客户带来价值。
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--锚点-->
            <div id="about4" class="read-select about-box4">
                <div class="width-auto">
                    <div class="index-title-box">
                        <span class="en2 wow fadeInUp d2">发展历程</span>
                    </div>
                    <div class="fzlc-wrap ">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-timeline">
                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">

                                                <div class="inner-content">
                                                    <h3 class="title">2021</h3>
                                                    <p class="description">
                                                        2021年荣登伊利集团“2020年度乙方项目胜任力第一名”
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">
                                                <div class="inner-content">
                                                    <h3 class="title">2018</h3>
                                                    <p class="description">
                                                        河北省软件和信息技术服务最具成长性企业 年交通银行杯专利价值评估工具大 PK优秀奖
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">
                                                <div class="inner-content">
                                                    <h3 class="title">2017</h3>
                                                    <p class="description">
                                                        国家知识产权分析评议服务示范创建机构
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">
                                                <div class="inner-content">
                                                    <h3 class="title">2016</h3>
                                                    <p class="description">
                                                        与美国IFI Claims公司成为战略合作伙伴
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">
                                                <div class="inner-content">
                                                    <h3 class="title">2014</h3>
                                                    <p class="description">
                                                        参与撰写《企业专利工作实务手册》，该书出版后获得知识 产权十佳图书奖；成为全国首批知识产权服务品牌机构
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">
                                                <div class="inner-content">
                                                    <h3 class="title">2013</h3>
                                                    <p class="description">
                                                        董事长潘晓梅获全国专利信息领军人才称号
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">
                                                <div class="inner-content">
                                                    <h3 class="title">2012</h3>
                                                    <p class="description">
                                                        获优秀软件企业称号
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="timeline wow fadeInUp d2">
                                            <a href="#" class="timeline-content">
                                                <div class="inner-content">
                                                    <h3 class="title">2010</h3>
                                                    <p class="description">
                                                        通过ISO9001质量管理体系认证
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="about5" class="read-select about-box5">
                <div class="section-box width-auto">
                    <div class="index-title-box">
                        <span class="en2 wow fadeInUp d2">荣誉资质</span>
                    </div>
                    <div class="section-container">
                        <div class="section-part-word">
                            <div class="section-word">
                                <div class="word-title">
                                    <img src="../imgs/data2.png" alt=""> <span>安全保障</span>
                                </div>
                                <ul class="word-desc">
                                    <li><em></em><span>已获取ISO9001 、ISO27001 、ISO20000 质量管理体系认证</span></li>
                                </ul>
                            </div>
                            <div class="section-word">
                                <div class="word-title">
                                    <img src="../imgs/data2.png" alt=""> <span>行业领军</span>
                                </div>
                                <ul class="word-desc">
                                    <li><em></em><span>全国首批知识产权服务品牌机构</span></li>
                                    <li><em></em><span>全国知识产权分析评议试点示范创建机构</span></li>
                                    <li><em></em><span>全国知识产权领军人物</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="section-part-gallery gallery-swiper swiper-container wow fadeInUp d2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="section-part ">
                                        <img src="../imgs/detail.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="section-part">
                                        <img src="../imgs/detail.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="section-part">
                                        <img src="../imgs/detail.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="section-part">
                                        <img src="../imgs/detail.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--锚点-->
            <div id="about6" class="read-select about-box1">
                <div class="width-auto">
                    <div class="index-title-box">
                        <span class="en2 wow fadeInUp d2">加入我们</span>
                    </div>
                    <div class="join-dropDown">
                        <span>选择岗位类别：</span>
                        <select name="" id="">
                            <option value="技术类">技术类</option>
                            <option value="技术类">技术类</option>
                            <option value="技术类">技术类</option>
                        </select>
                    </div>
                    <div class="job-container">
                        <div class="job-title">
                            <div class="title-box">职位名称</div>
                            <div class="title-box">职位类型</div>
                            <div class="title-box">发布时间</div>
                            <div class="title-box">地点</div>
                            <div class="title-box">详情</div>
                        </div>
                        <div class="job-list cur">
                            <div class="job-list-hd">
                                <div class="list-column">jAVA工程师</div>
                                <div class="list-column">技术类</div>
                                <div class="list-column">2021-12-11</div>
                                <div class="list-column">湖北武汉</div>
                                <div class="list-column"></div>
                            </div>
                            <div class="job-core-desc">
                                <span>职位描述：</span>
                                <p>1、完成项目主管安排的开发任务；
                                    2、对项目代码进行优化，保证代码质量与运行效率；
                                    3、负责产品功能研发、维护；</p>
                                <span>任职要求：</span>
                                <p>1、本科及以上学历，理工科专业，3年以上JAVA开发经验；
                                    2、熟悉SSH、Spring MVC等开源框架，熟练使用IDEA、Eclipse、SVN等开发工具；
                                    3、熟悉HTML5、CSS3、JS等前端开发技术；
                                    4、熟悉Oralce等数据库开发；
                                    5、良好的沟通表达能力及需求分析能力，刻苦钻研，勤奋，工作认真负责，有一定抗压能力，能适应出差。</p>
                            </div>
                        </div>
                        <div class="job-list">
                            <div class="job-list-hd">
                                <div class="list-column">jAVA工程师</div>
                                <div class="list-column">技术类</div>
                                <div class="list-column">2021-12-11</div>
                                <div class="list-column">湖北武汉</div>
                                <div class="list-column"></div>
                            </div>
                            <div class="job-core-desc">
                                <span>职位描述：</span>
                                <p>1、完成项目主管安排的开发任务；
                                    2、对项目代码进行优化，保证代码质量与运行效率；
                                    3、负责产品功能研发、维护；</p>
                                <span>任职要求：</span>
                                <p>1、本科及以上学历，理工科专业，3年以上JAVA开发经验；
                                    2、熟悉SSH、Spring MVC等开源框架，熟练使用IDEA、Eclipse、SVN等开发工具；
                                    3、熟悉HTML5、CSS3、JS等前端开发技术；
                                    4、熟悉Oralce等数据库开发；
                                    5、良好的沟通表达能力及需求分析能力，刻苦钻研，勤奋，工作认真负责，有一定抗压能力，能适应出差。</p>
                            </div>
                        </div>
                        <div class="job-list">
                            <div class="job-list-hd">
                                <div class="list-column">jAVA工程师</div>
                                <div class="list-column">技术类</div>
                                <div class="list-column">2021-12-11</div>
                                <div class="list-column">湖北武汉</div>
                                <div class="list-column"></div>
                            </div>
                            <div class="job-core-desc">
                                <span>职位描述：</span>
                                <p>1、完成项目主管安排的开发任务；
                                    2、对项目代码进行优化，保证代码质量与运行效率；
                                    3、负责产品功能研发、维护；</p>
                                <span>任职要求：</span>
                                <p>1、本科及以上学历，理工科专业，3年以上JAVA开发经验；
                                    2、熟悉SSH、Spring MVC等开源框架，熟练使用IDEA、Eclipse、SVN等开发工具；
                                    3、熟悉HTML5、CSS3、JS等前端开发技术；
                                    4、熟悉Oralce等数据库开发；
                                    5、良好的沟通表达能力及需求分析能力，刻苦钻研，勤奋，工作认真负责，有一定抗压能力，能适应出差。</p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        分页统一
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--锚点-->
            <div id="about7" class="read-select about-box1">
                <div class="width-auto">
                    <div class="index-title-box">
                        <span class="en2 wow fadeInUp d2">联系我们</span>
                    </div>
                    <div class="address-cate">
                        <div class="address-cate-li cur">
                            北京公司
                        </div>
                        <div class="address-cate-li">
                            上海公司
                        </div>
                        <div class="address-cate-li">
                            石家庄公司
                        </div>
                        <div class="address-cate-li">
                            陕西公司
                        </div>
                        <div class="address-cate-li">
                            保定公司
                        </div>
                    </div>
                    <div class="address-container">
                        <div class="addrress-list" style="display: flex;">
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>地址：河北省保定市北二环5699号大学科技园1-1-402</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>Web：www.daweisoft.com</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>TEL：86-312-3917201/202/203</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>P.C：071051</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>FAX：86-312-3917235</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>Email：market@daweisoft.com</span>
                            </div>
                        </div>
                        <div class="addrress-list">
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>22地址：河北省保定市北二环5699号大学科技园1-1-402</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>Web：www.daweisoft.com</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>TEL：86-312-3917201/202/203</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>P.C：071051</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>FAX：86-312-3917235</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>Email：market@daweisoft.com</span>
                            </div>
                        </div>
                        <div class="addrress-list">
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>2233地址：河北省保定市北二环5699号大学科技园1-1-402</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>Web：www.daweisoft.com</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>TEL：86-312-3917201/202/203</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>P.C：071051</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>FAX：86-312-3917235</span>
                            </div>
                            <div class="address-list-box">
                                <img src="../imgs/data2.png" alt="">
                                <span>Email：market@daweisoft.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="section-add">
            <div class="section-w1200"  style="margin-bottom: 0;">
                <div class="add-ads wow fadeInUp d2">
                    <span>创新的路上，和我们一起走的更快一些</span>
                    <span>大为解决方案专家已准备好和您交流，马上了解顶级企业都是如何高效创新的</span>
                    <a href="#" class="btn-cur">
                        <span>免费试用</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="dw-footer">
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-logo wow fadeInUp d2">
                    <div class="footer-logo-img">
                        <img src="../imgs/logo2.png" alt="">
                    </div>
                    <div class="hotline">
                        <span>24h咨询热线</span>
                        <span>400-900-3365</span>
                    </div>
                    <div class="footer-ads">
                        <div class="footer-focus">关注大为</div>
                        <ul>
                            <li>
                                <img src="../imgs/wechat.png" alt="">
                                <span>微信</span>
                            </li>
                            <li>
                                <img src="../imgs/zhihu.png" alt="">
                                <span>知乎</span>
                            </li>
                            <li>
                                <img src="../imgs/weibo.png" alt="">
                                <span>微博</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-menu wow fadeInUp d2">
                    <ul>
                        <li class="footer-main">
                            <a href="#">全球专利数据库</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="innoJoy.html">知识产权管理平台</a>
                            <ul>
                               <li><a href="#">innojet专利协同创新管理系统</a></li>
                                <li><a href="#">innojet商标协同创新管理系统</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="consult_service.html">咨询服务</a>
                            <ul>
                                <li><a href="#">专利调查分析</a></li>
                                <li><a href="#">高价值专利培育</a></li>
                                <li><a href="#">专利资产盘点</a></li>
                                <li><a href="#">产业专利导航</a></li>
                                <li><a href="#">专利专题数据库</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="case.html">客户案例</a></li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="resource_center.html">资源中心</a>
                            <ul>
                                <li><a href="#">为知塾知识产权学院</a></li>
                                <li><a href="#">行业白皮书/榜单</a></li>
                                <li><a href="#">市场活动</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="#">关于大为</a>
                            <ul>
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">发展历程</a></li>
                                <li><a href="#">公司荣誉</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-friendLink wow fadeInUp d2">
                <span>友情链接：</span>
                <ul>
                   <li>
                        <a href="https://www.cnipa.gov.cn/">国家知识产权局</a>
                    </li>
                    <li>
                        <a href="https://www.epo.org/">欧洲专利局</a>
                    </li>
                    <li>
                        <a href="http://www.nipso.cn/">国家知识产权战略网</a>
                    </li>
                    <li>
                        <a href="http://ipr.mofcom.gov.cn/index.shtml">中国保护知识产权网</a>
                    </li>
                    <li>
                        <a href="https://www.cnpat.com.cn/">中国专利信息中心</a>
                    </li>
                    <li>
                        <a href="https://www.etsi.org/">ETSI欧洲电信标准化协会</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        Copyright © 2005-2021 Baoding DAWEISOFT CO., LTD All Rights Reserved 冀ICP备05002030号-4 https://beian.miit.gov.cn
    </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/about_us.js"></script>

</html>