<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="客户案例_详情">
    <meta name="description" content="客户案例_详情">
    <title>客户案例_详情</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/case_detail.css">
</head>
<body>
    <div class="top-tips">
        <span>【白皮书】民族企业IP的高质量发展路径</span> <a href="#">立即下载</a>
    </div>
    <div class="dw-header">
        <div class="dw-logo">
            <a href="index.html">
                <img src="../imgs/logo.png" alt="">
            </a>
        </div>
        <div class="dw-menu">
            <ul>
                <li class="cur">
                    <a href="innoJoy.html">全球专利数据库</a>
                </li>
                <li class="drop-down">
                    <a href="#">知识产权管理平台</a>
                    <ul>
                        <li><a href="innojet.html">innojet专利管理平台</a></li>
                        <li><a href="trande_mark.html">innojet商标管理平台</a></li>
                    </ul>
                </li>
                <li>
                    <a href="consult_service.html">咨询服务</a>
                </li>
                <li>
                    <a href="case.html">客户案例</a>
                </li>
                <li class="drop-down">
                    <a href="resource_center.html">资源中心</a>
                    <ul>
                        <li><a href="resource_center.html">行业干货</a></li>
                        <li><a href="medal_list.html">榜单</a></li>
                        <li><a href="college_center.html">为知塾学院</a></li>
                        <li><a href="company_story.html">公司动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="about_us.html">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="dw-outlink">
            <div class="lang-container">
                <img src="../imgs/lang.png" alt="">
                <span>简体中文</span>
                <ul style="display: none;">
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                </ul>
            </div>
            <div class="dw-application">
                <a href="#">申请试用</a>
            </div>
            <div class="dw-logcenter">
                <a href="http://www.innojoy.com/search/home.html">登录/注册</a>
            </div>
        </div>
    </div>
    <div class="dw-banner">
        <div class="banner-inner-txt  wow fadeInUp d2">
            <h3>知识产权服务行业开拓与领跑者</h3>
            <p>
                知识产权“IT+咨询+专利大数据”一站式解决方案服务商</br>
            </p>
            <span>秉承客户至上理念，专注知识产权服务20年</span>
            <div class="bannner-btn">
                <a href="#" class="btn-add-cur">
                    <span>免费试用</span>
                </a>
            </div>
        </div>
    </div>
    <div class="dw section">
        <div class="section-nav wow fadeInUp d2">
            <div class="section-w1200 ">
                <div class="bread-nav">
                    <span>当前位置：</span>
                    <ul>
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <li>
                            >
                        </li>
                        <li>
                            <a href="case.html">客户案例</a>
                        </li>
                        <li>
                            <a href="case_detail.html">xxxx</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="case-info">
            <div class="section-w1200">
                <div class="case-header wow fadeInUp d2">
                    <div class="case-info-img">
                        <img src="../imgs/brand.png" alt="">
                    </div>
                    <div class="case-info-content">
                        <div class="case-info-title">大连万达集团</div>
                        <div class="case-info-case">
                            <span>所属行业：房地产</span>
                            <span>企业规模：房地产</span>
                            <span>所属地域：房地产</span>
                        </div>
                        <div class="case-info-num">
                            <span>使用产品：</span>
                            <span class="current">xxxxx引擎</span>
                            <span class="current">xxxxx引擎</span>
                            <span class="current">xxxxx引擎</span>
                            <span class="current">xxxxx引擎</span>
                        </div>
                    </div>
                </div>
                <div class="case-info-detail wow fadeInUp d2">
                    <div class="info-detail-title">
                        万达集团-Innojet专利协同创新管理系统
                    </div>
                    <div class="info-detail-date">
                        <span>发布日期: 2021-12-22</span>
                        <span>浏览量： 322</span>
                    </div>
                    <div class="info-detail-desc">
                        大连万达集团股份有限公司（简称万达集团或万达），创立于1988年，形成商业、文化、地产、金融四大产业集团。 

万达商业持有物业面积3387万平方米，已开业北京CBD、上海五角场、成都金牛、昆明西山等323座万达广场。万达文化集团2017年上半年收入308亿元。万达网络科技集团是实业+互联网大型开放型平台公司，拥有飞凡信息、快钱支付、征信、网络信贷、大数据等公司，运用大数据、云计算、人工智能、场景应用等技术为实体产业实现数字化升级，为消费者提供生活圈的全新消费服务。万达金融集团旗下拥有投资、资管、保险等公司，未来将实现金融全牌照运营。大连万达集团股份有限公司2013年收入1866亿元，创造连续8年增长30%。2014年12月23日，万达商业地产在港交所挂牌上市。

2016年8月，全国工商联发布“2016中国民营企业500强”榜单，大连万达名列第六；同月，大连万达在"2016中国企业500强"中排名第42位。2018年2月，万达出售马德里竞技俱乐部17%的股份，以色列富翁Idan Ofer执掌下量子太平洋集团是这部分股份的收购方。2018年9月10日，荣获第十届“中华慈善奖”。2019年8月，滴滴出行宣布，与万达酒店及度假村达成战略合作。大连万达集团股份有限公司在2019中国民营企业服务业100强榜单排名第13。2019年9月1日，2019中国服务业企业500强榜单在济南发布，大连万达集团股份有限公司排名第50位。 

2020中国民营企业500强榜单大连万达集团股份有限公司位列第28名。

2012年5月21日，大连万达今日与全球第二大院线集团AMC签署并购协议。据悉，万达的此次并购总交易金额26亿美元，包括购买100%股权和承担债务两部分。
同时，万达并购后投入运营资金不超过5亿美元，万达总共将为此次交易支付31亿美元。

2012年9月4日（北京时间9月5日凌晨），中国大连万达集团宣布，已经完成对美国第二大院线集团AMC娱乐控股公司总计26亿美元的收购，万达将成为全世界规模最大的影院运营商。

根据双方达成的协议，交易完成后，万达将接管AMC旗下338家影院的4865块银幕（包括2171块3D银幕和124块IMAX巨幕），并把AMC作为旗下全资子公司运营，同时每年向其注资不超过5亿美元。此外，AMC的1.7万名员工将继续留在遍布美国32个州的影院工作。该公司将继续按照原有规划，进行电影节目的制作，位于堪萨斯城的公司总部也将保留。
                    </div>
                </div>
            </div>
        </div>
        <div class="solution-section">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">更多成功案例</div>
                <div class="section-sub-header wow fadeInUp d2">
                    SUCCESS CASE
                </div>
                <div class="solution-container wow fadeInUp d2">
                    <div class="solution-box">
                        <a href="case_detail.html">
                            <div class="solution-img">
                                <img src="../imgs/detail.png" alt="">
                            </div>
                            <div class="solution-cp">
                                <span>新能源</span> <span>宝能集团</span>
                            </div>
                            <div class="solution-title">innojoy全球专利检索引擎解决方案</div>
                            <div class="solution-desc">
                                此处为产品简介说明此处为产品简介说明此处为产品
                                简介说明此处为产品简介说明...
                            </div>
                        </a>
                    </div>
                    <div class="solution-box">
                        <a href="case_detail.html">
                            <div class="solution-img">
                                <img src="../imgs/detail.png" alt="">
                            </div>
                            <div class="solution-cp">
                                <span>新能源</span> <span>宝能集团</span>
                            </div>
                            <div class="solution-title">innojoy全球专利检索引擎解决方案</div>
                            <div class="solution-desc">
                                此处为产品简介说明此处为产品简介说明此处为产品
                                简介说明此处为产品简介说明...
                            </div>
                        </a>
                    </div>
                    <div class="solution-box">
                        <a href="case_detail.html">
                            <div class="solution-img">
                                <img src="../imgs/detail.png" alt="">
                            </div>
                            <div class="solution-cp">
                                <span>新能源</span> <span>宝能集团</span>
                            </div>
                            <div class="solution-title">innojoy全球专利检索引擎解决方案</div>
                            <div class="solution-desc">
                                此处为产品简介说明此处为产品简介说明此处为产品
                                简介说明此处为产品简介说明...
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-add">
            <div class="section-w1200" style="margin-bottom: 0;">
                <div class="add-ads wow fadeInUp d2">
                    <span>创新的路上，和我们一起走的更快一些</span>
                    <span>大为解决方案专家已准备好和您交流，马上了解顶级企业都是如何高效创新的</span>
                    <a href="#" class="btn-cur">
                        <span>免费试用</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="dw-footer">
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-logo wow fadeInUp d2">
                    <div class="footer-logo-img">
                        <img src="../imgs/logo2.png" alt="">
                    </div>
                    <div class="hotline">
                        <span>24h咨询热线</span>
                        <span>400-900-3365</span>
                    </div>
                    <div class="footer-ads">
                        <div class="footer-focus">关注大为</div>
                        <ul>
                            <li>
                                <img src="../imgs/wechat.png" alt="">
                                <span>微信</span>
                            </li>
                            <li>
                                <img src="../imgs/zhihu.png" alt="">
                                <span>知乎</span>
                            </li>
                            <li>
                                <img src="../imgs/weibo.png" alt="">
                                <span>微博</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-menu wow fadeInUp d2">
                    <ul>
                        <li class="footer-main">
                            <a href="#">全球专利数据库</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="innoJoy.html">知识产权管理平台</a>
                            <ul>
                               <li><a href="#">innojet专利协同创新管理系统</a></li>
                                <li><a href="#">innojet商标协同创新管理系统</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="consult_service.html">咨询服务</a>
                            <ul>
                                <li><a href="#">专利调查分析</a></li>
                                <li><a href="#">高价值专利培育</a></li>
                                <li><a href="#">专利资产盘点</a></li>
                                <li><a href="#">产业专利导航</a></li>
                                <li><a href="#">专利专题数据库</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="case.html">客户案例</a></li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="resource_center.html">资源中心</a>
                            <ul>
                                <li><a href="#">为知塾知识产权学院</a></li>
                                <li><a href="#">行业白皮书/榜单</a></li>
                                <li><a href="#">市场活动</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="#">关于大为</a>
                            <ul>
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">发展历程</a></li>
                                <li><a href="#">公司荣誉</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-friendLink wow fadeInUp d2">
                <span>友情链接：</span>
                <ul>
                   <li>
                        <a href="https://www.cnipa.gov.cn/">国家知识产权局</a>
                    </li>
                    <li>
                        <a href="https://www.epo.org/">欧洲专利局</a>
                    </li>
                    <li>
                        <a href="http://www.nipso.cn/">国家知识产权战略网</a>
                    </li>
                    <li>
                        <a href="http://ipr.mofcom.gov.cn/index.shtml">中国保护知识产权网</a>
                    </li>
                    <li>
                        <a href="https://www.cnpat.com.cn/">中国专利信息中心</a>
                    </li>
                    <li>
                        <a href="https://www.etsi.org/">ETSI欧洲电信标准化协会</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        Copyright © 2005-2021 Baoding DAWEISOFT CO., LTD All Rights Reserved 冀ICP备05002030号-4 https://beian.miit.gov.cn
    </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/case.js"></script>
</html>