<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>项目案例</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/cases.css">
</head>

<body>
    <header class="header-wrap" id="header">
        <div class="width-auto">
            <div class="header-logo">
                <a href="index.html">
                    <img src="../imgs/logo.png" alt="">
                </a>
            </div>
            <div class="black-box">
                <div class="header-nav">
                    <ul>
                        <!--这是高亮-->
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <li>
                            <a href="about.html">关于我们</a>
                        </li>
                        <li>
                            <a href="product.html">产品中心 </a>
                        </li>
                        <li>
                            <a href="solution.html">解决方案</a>
                        </li>
                        <li class="header-hover-nav">
                            <a href="cases.html">项目案例</a>
                        </li>
                        <li>
                            <a href="contact.html">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-header-nav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div id="banner">
        <img alt="" class="banner-img">
        <div class="banner-txt">
            <div class="banner-title fadeInLeft2">
                防风防雨防雷电 气象安全最关键
            </div>
            <div class="banner-desc fadeInLeft2">
                Weather protection against wind, rain and lightning is the key
            </div>
            <div class="banner-btn fadeInLeft2">
                <a href="#">About us</a>
            </div>
        </div>
    </div>
    <div id="section">
        <div class="case-list-wrap">
            <div class="width-auto">
                <div class="section-header width-auto">
                    <h3 class="wow fadeInUp d2">项目案例</h3>
                    <span class="wow fadeInUp d2">Project cases</span>
                </div>
                <div class="case-list-box">
                    <!-- <div class="case-list-li wow fadeInUp d2">
                        <div class="imgJsWrap">
                            <a class="img-black" href="case-detail.html">
                                <div class="case-list-left">
                                    <div class="case-list-img cover data3 data-seo3">
                                        <img src="../imgs/case-pro.png" alt="">
                                    </div>
                                </div>
                                <div class="case-list-right">
                                    <div class="case-list-read">
                                        <div class="case-list-title space-over" title="1-GIS室高压避雷器监测">
                                            1-GIS室高压避雷器监测</div>
                                        <div class="case-list-text space-list-over">
                                            乘客一键自动报警、语音录音呼叫，无需其它操作;管理中心数字、语音提示呼叫方位与示警;多路分机每个电梯有单独录音，单独编码...</div>
                                    </div>
                                    <div class="case-list-icon">
                                        <span>MORE</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="case-list-li wow fadeInUp d2">
                        <div class="imgJsWrap">
                            <a class="img-black" href="case-detail.html">
                                <div class="case-list-left">
                                    <div class="case-list-img cover data3 data-seo3">
                                        <img src="../imgs/case-pro.png" alt="">
                                    </div>
                                </div>
                                <div class="case-list-right">
                                    <div class="case-list-read">
                                        <div class="case-list-title space-over" title="1-GIS室高压避雷器监测">
                                            1-GIS室高压避雷器监测</div>
                                        <div class="case-list-text space-list-over">
                                            乘客一键自动报警、语音录音呼叫，无需其它操作;管理中心数字、语音提示呼叫方位与示警;多路分机每个电梯有单独录音，单独编码...</div>
                                    </div>
                                    <div class="case-list-icon">
                                        <span>MORE</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="case-list-li wow fadeInUp d2">
                        <div class="imgJsWrap">
                            <a class="img-black">
                                <div class="case-list-left">
                                    <div class="case-list-img cover data3 data-seo3">
                                        <img src="../imgs/case-pro.png" alt="">
                                    </div>
                                </div>
                                <div class="case-list-right">
                                    <div class="case-list-read">
                                        <div class="case-list-title space-over" title="1-GIS室高压避雷器监测">
                                            1-GIS室高压避雷器监测</div>
                                        <div class="case-list-text space-list-over">
                                            乘客一键自动报警、语音录音呼叫，无需其它操作;管理中心数字、语音提示呼叫方位与示警;多路分机每个电梯有单独录音，单独编码...</div>
                                    </div>
                                    <div class="case-list-icon">
                                        <span>MORE</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="page-lable-wrap wow fadeInUp d1">
                <!-- <span class="prev">上一页</span><span class='current'>1</span><a href="/product/product_2.html">2</a><span class="next">下一页</span> -->
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer-core">
            <div class="footer-left">
                <div class="footer-left-log">
                    <a href="index.html"> <img src="../imgs/logo.png" alt=""></a>
                </div>
                <ul class="footer-menu wow fadeInUp d2">
                    <li>
                        <a href="about.html">关于我们</a>
                        <ul>
                            <li>
                                <a href="about.html">公司介绍</a>
                            </li>
                            <li>
                                <a href="about.html">优势介绍</a>
                            </li>
                            <li>
                                <a href="about.html">服务流程</a>
                            </li>
                            <li>
                                <a href="about.html">专利证书</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html">产品中心 </a>
                        <ul class="footer-product-ul"></ul>
                    </li>
                    <li>
                        <a href="solution.html">解决方案</a>
                        <ul class="foot-solution-ul"></ul>
                    </li>
                    <li>
                        <a href="cases.html">项目案例</a>
                        <ul class="foot-cases-ul"></ul>
                    </li>
                    <li>
                        <a href="contact.html">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="footer-right wow fadeInUp d2">
                    <span class="company"></span>
                    <span class="phone"></span>
                    <span class="email"></span>
                    <span class="adress"></span>
                </div>
        </div>
        <div class="footer-copyright">
            深圳市楚邦科技有限公司 Copyright © 2021 All Rights Reserved. 粤ICP备18455784
        </div>
    </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/jquery.pagination.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/cases.js"></script>

</html>