<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>联系我们</title>
  <meta name="keywords" content="联系我们">
  <meta name="description" content="联系我们">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/animate.min.css">
  <link rel="stylesheet" href="../css/contact.css">
  <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>

<body>
  <!-- 头部区 -->
  <div class="xg_header">
    <div class="section w1200">
      <div class="logo">
        <h1><a href="/"><img src="../imgs/logo.png" alt="尚明怀"></a></h1>
      </div>
      <div class="nav">
        <ul class="nav1">
          <li >
            <a href="index.html">首页</a>
          </li>
          <li>
            <a href="teamExpert.html">专家团队</a>
          </li>
          <li class="drop-down">
            <a href="management_consulation.html">管理咨询</a>
            <ul class="nav2">
              
            </ul>
          </li>
          <li class="drop-down">
            <a href="enterprise_train.html">企业培训</a>
            <ul class="nav2 train-nav">
              
            </ul>
          </li>
          <li>
            <a href="personnel.html">咨询师训练</a>
          </li>
          <li>
            <a href="case_list.html">服务案例</a>
          </li>
          <li>
            <a href="news_list.html">新闻中心</a>
          </li>
          <li>
            <a href="ThinkTank.html">管理智库</a>
          </li>
          <li class="cur">
            <a href="contact.html">联系我们</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- 广告区 -->
  <div class="xg_banner" id="banner">
    <div class="section">
      <div class="banner">
        <a href="javascript:;"><img src="" alt="联系我们"></a>
      </div>
    </div>
  </div>
  <!-- 内容区 -->
  <div class="xg_content">
    <div class="section section_crumbs">
      <div class="crumbs">
        <span class="crumbs_ico"><img src="../imgs/crumbs_ico.png" alt=""></span>
        <span class="crumbs_item">
          <a href="index.html">首页</a>
        </span>
        <span class="crumbs_span">></span>
        <span class="crumbs_item">
          <a href="contact.html">联系我们</a>
        </span>
      </div>
    </div>
    <div class="section section_contact">
      <div class="content_text">
        <div class="phone  wow fadeInUp d2">
          <img src="../imgs/phone.png" alt="全国服务电话">
          <p>全国服务电话</p>
          <p>0755-82243914</p>
        </div>
        <div class="mailbox  wow fadeInUp d2">
          <img src="../imgs/mailbox.png" alt="电子邮箱">
          <p>电子邮箱</p>
          <p>chinashang888@163.com</p>
        </div>
        <div class="qq  wow fadeInUp d2">
          <img src="../imgs/qq.png" alt="QQ号码">
          <p>QQ号码</p>
          <p>123456</p>
        </div>
        <div class="name  wow fadeInUp d2">
          <img src="../imgs/name.png" alt="联系人">
          <p>联系人</p>
          <p>尚明怀</p>
        </div>
        <div class="phone2 wow fadeInUp d2">
          <img src="../imgs/phone2.png" alt="手机号码">
          <p>手机号码</p>
          <p>189-61862788</p>
        </div>
        <div class="adress wow fadeInUp d2">
          <img src="../imgs/adress.png" alt="公司地址">
          <p>公司地址</p>
          <p>深圳市龙岗区坂田街道天安云谷三栋D座1103</p>
        </div>
      </div>
      <div class="contant_map wow fadeInUp d2" id="dituContent">
        <!-- <p>
          <img src="../imgs/map.png" alt="网站地图">
        </p> -->
      </div>
    </div>
  </div>
  <!-- 底部区 -->
  <div class="xg_footer">
    <div class="footer_top">
      <div class="w1200">
        <div class="f_l wow fadeInUp d2">
          <div class="font_logo">
            <a href="/"><img src="../imgs/footer_logo.png" alt=""></a>
          </div>
          <p>24h咨询热线</p>
          <p>400-900-5678</p>
        </div>
        <div class="f_r">
          <ul>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">管理咨询</a>
              <ul>
                <li>
                  <a href="javascript:;">国企混改</a>
                </li>
                <li>
                  <a href="javascript:;">组织变革</a>
                </li>
                <li>
                  <a href="javascript:;">流程再造</a>
                </li>
                <li>
                  <a href="javascript:;">step微咨询</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">咨询顾问培训</a>
              <ul>
                <li>
                  <a href="javascript:;">顾问式培训</a>
                </li>
                <li>
                  <a href="javascript:;">咨询顾问基本能力训练</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">企业大学构建与培训师培养</a>
              <ul>
                <li>
                  <a href="javascript:;">企业大学构建</a>
                </li>
                <li>
                  <a href="javascript:;">战略咨询顾问师能力训练</a>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">关于我们</a>
              <ul>
                <li>
                  <a href="javascript:;">发展历程</a>
                </li>
                <li>
                  <a href="javascript:;">课程风采</a>

                </li>
                <li>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">管理智库</a>
              <ul>
                <li>
                  <a href="javascript:;">OA流程建设与优化</a>
                </li>
                <li>
                  <a href="javascript:;">非人力资源经理的人力资源管理</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_btm">
      <div class="w1200">
        <span>Copyright © 2019 - 2021 尚明怀 All Rights Reserved</span>
        <a href="https://beian.miit.gov.cn/">粤ICP备2021121751号</a>
      </div>
    </div>
  </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/contact.js"></script>

</html>