<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="管理咨询">
    <meta name="description" content="管理咨询">
    <title>管理咨询</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="top-tips">
        <span>【白皮书】民族企业IP的高质量发展路径</span> <a href="#">立即下载</a>
    </div>
    <div class="dw-header ">
        <div class="dw-logo">
            <a href="index.html">
                <img src="../imgs/logo.png" alt="">
            </a>
        </div>
        <div class="dw-menu">
            <ul>
                <li>
                    <a href="innoJoy.html">全球专利数据库</a>
                </li>
                <li class="drop-down">
                    <a href="#">知识产权管理平台</a>
                    <ul>
                        <li><a href="innojet.html">innojet专利管理平台</a></li>
                        <li><a href="trande_mark.html">innojet商标管理平台</a></li>
                    </ul>
                </li>
                <li>
                    <a href="consult_service.html">咨询服务</a>
                </li>
                <li>
                    <a href="case.html">客户案例</a>
                </li>
                <li class="drop-down">
                    <a href="resource_center.html">资源中心</a>
                    <ul>
                        <li><a href="resource_center.html">行业干货</a></li>
                        <li><a href="medal_list.html">榜单</a></li>
                        <li><a href="college_center.html">为知塾学院</a></li>
                        <li><a href="company_story.html">公司动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="about_us.html">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="dw-outlink">
            <div class="lang-container">
                <img src="../imgs/lang.png" alt="">
                <span>简体中文</span>
                <ul style="display: none;">
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                </ul>
            </div>
            <div class="dw-application">
                <a href="#">申请试用</a>
            </div>
            <div class="dw-logcenter">
                <a href="http://www.innojoy.com/search/home.html">登录/注册</a>
            </div>
        </div>
    </div>
    <div class="dw-banner">
        <div class="banner-img swiper-container ">
            <div class="swiper-wrapper index-banner">
                <div class="swiper-slide">
                    <img src="../imgs/banner1.png" alt="">
                    <!-- <div class="banner-txt">
                        <h5 class=" wow fadeInUp d2">innoJoy 专利搜索引擎</h5>
                        <span class=" wow fadeInUp d2">xxxxxxxxxx</span>
                        <div class="banner-btn wow fadeInUp d2">
                            <a href="#" class="btn-cur">
                                <span>免费查专利</span>
                            </a>
                            <a href="#" class="btn-cur">
                                <span>立即订购</span>
                            </a>
                        </div>
                        <div class="banner-movie wow fadeInUp d2">
                            <ul>
                                <li>
                                    <img src="../imgs/iso.png" alt="">
                                    <span>xxxx</span>
                                </li>
                                <li>
                                    <img src="../imgs/iso.png" alt="">
                                    <span>xxxx</span>
                                </li>
                                <li>
                                    <img src="../imgs/iso.png" alt="">
                                    <span>xxxx</span>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../imgs/banner2.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../imgs/banner3.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../imgs/banner4.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../imgs/banner5.png" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="dw-section">
        <div class="section-odd">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    <span>“IT+咨询+大数据”一体化IP解决方案</span>
                </div>
                <div class="section-container wow fadeInUp d2">
                    <div class="solution-box">
                        <div class="solution-title">
                            innojoy专利搜索引擎
                        </div>
                        <div class="solution-content">
                            105个国家/地区1.4亿+专利数据，百余种分析方式和可视化图表的科技研发工具
                        </div>
                        <img src="../imgs/innojoy.png" alt="">
                        <a href="#">了解更多</a>
                    </div>
                    <div class="solution-box">
                        <div class="solution-title">
                            innojoy专利搜索引擎
                        </div>
                        <div class="solution-content">
                            105个国家/地区1.4亿+专利数据，百余种分析方式和可视化图表的科技研发工具
                        </div>
                        <img src="../imgs/innojet.png" alt="">
                        <a href="#">了解更多</a>
                    </div>
                    <div class="solution-box">
                        <div class="solution-title">
                            innojoy专利搜索引擎
                        </div>
                        <div class="solution-content">
                            105个国家/地区1.4亿+专利数据，百余种分析方式和可视化图表的科技研发工具
                        </div>
                        <img src="../imgs/innojet3.png" alt="">
                        <a href="#">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-even">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    <span>高效、专业的专家式服务</span>
                </div>
                <div class="service-container wow fadeInUp d2">
                    <div class="service-box">
                        <div class="service-box-img">
                            <img src="../imgs/service_icon.png" alt="">
                        </div>
                        <div class="service-desc">
                            <div class="service-title">
                                <span>专业的客户服务团队</span>
                                <a href="#">了解团队详情</a>
                            </div>
                            <div class="service-content">
                                <div class="service-list">
                                    <em></em> <span>咨询团队提供高端定制化知识产权咨询服务</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>解决方案团队提供专业的解决方案及全方位服务</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>PMO项目管理团队保障项目交付质量</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>实施团队线上、线下全面配合支持</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>运维团队7x24小时快速响应</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img src="../imgs/service_icon2.png" alt="">
                        </div>
                        <div class="service-desc">
                            <div class="service-title">
                                <span>灵活的产品定制化服务</span>
                                <a href="#">了解团队详情</a>
                            </div>
                            <div class="service-content">
                                <div class="service-list">
                                    <em></em> <span>JAVA/.NET两种开发语言灵活选择</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>可根据客户类型、规模、需求、习惯等进行全方位定制</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>支持对接OA、HR、ERP、PLM、邮件等系统的接口开发</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>支持对接OA、HR、ERP、PLM、邮件等系统的接口开发</span>
                                </div>
                                <div class="service-list">
                                    <em></em> <span>20年、1000+大中型客户成功经验</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="service-medals wow fadeInUp d2">
                    <div class="medals-box">
                        <img src="../imgs/medal1.png" alt="">
                        <span>全国知识产权服务品牌机构</span>
                    </div>
                    <div class="medals-box">
                        <img src="../imgs/medal2.png" alt="">
                        <span>中国知识产权分析评议服务示范机构</span>
                    </div>
                    <div class="medals-box">
                        <img src="../imgs/medal3.png" alt="">
                        <span>高新技术企业</span>
                    </div>
                    <div class="medals-box">
                        <img src="../imgs/iso.png" alt="">
                        <span>ISO27001信息安全管理体系认证</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-odd">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    <span>1000+大中型企业的选择</span>
                </div>
                <div class="brand-container wow fadeInUp d2">
                    <img src="../imgs/1.png" alt="">
                    <img src="../imgs/2.png" alt="">
                    <img src="../imgs/3.png" alt="">
                    <img src="../imgs/4.png" alt="">
                    <img src="../imgs/5.png" alt="">
                    <img src="../imgs/6.png" alt="">
                    <img src="../imgs/7.png" alt="">
                    <img src="../imgs/8.png" alt="">
                    <img src="../imgs/9.png" alt="">
                    <img src="../imgs/10.png" alt="">
                    <img src="../imgs/11.png" alt="">
                    <img src="../imgs/12.png" alt="">
                    <img src="../imgs/13.png" alt="">
                    <img src="../imgs/14.png" alt="">
                    <img src="../imgs/15.png" alt="">
                    <img src="../imgs/16.png" alt="">
                    <img src="../imgs/17.png" alt="">
                    <img src="../imgs/18.png" alt="">
                    <img src="../imgs/19.png" alt="">
                    <img src="../imgs/20.png" alt="">
                    <img src="../imgs/21.png" alt="">
                    <img src="../imgs/22.png" alt="">
                    <img src="../imgs/23.png" alt="">
                    <img src="../imgs/24.png" alt="">
                    <img src="../imgs/25.png" alt="">
                    <img src="../imgs/26.png" alt="">
                    <img src="../imgs/27.png" alt="">
                    <img src="../imgs/28.png" alt="">
                    <img src="../imgs/29.png" alt="">
                    <img src="../imgs/30.png" alt="">
                    <img src="../imgs/31.png" alt="">
                    <img src="../imgs/32.png" alt="">
                    <img src="../imgs/33.png" alt="">
                    <img src="../imgs/34.png" alt="">
                    <img src="../imgs/35.png" alt="">
                    <img src="../imgs/36.png" alt="">
                    <img src="../imgs/37.png" alt="">
                    <img src="../imgs/38.png" alt="">
                    <img src="../imgs/39.png" alt="">
                    <img src="../imgs/40.png" alt="">
                </div>
            </div>
        </div>
        <div class="section-even">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    <span>知识产权行业干货</span>
                </div>
                <div class="industry-gd">
                    <div class="industry-cate wow fadeInUp d2">
                        <ul class="industry-cate-ul">
                            <li class="cur">
                                行业白皮书
                            </li>
                            <li class="">
                                榜单
                            </li>
                            <li class="">
                                为知塾学院
                            </li>
                            <li class="">
                                公司动态
                            </li>
                        </ul>
                    </div>
                    <div class="industry-tab wow fadeInUp d2">
                        <div class="industry-content" style="display: flex;">
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="industry-content">
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径2</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="industry-content">
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径3</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                            <div class="industry-box">
                                <div class="industry-img">
                                    <img src="../imgs/industry.png" alt="">
                                </div>
                                <div class="industry-container">
                                    <div class="industry-title">
                                        <span>【白皮书】民族企业IP的高质量发展路径</span>
                                        <a href="#">立即下载</a>
                                    </div>
                                    <div class="industry-desc">
                                        保障企业信息安全，确定IP产出方向，高质量IP培育与保护 三个角度探讨民族企业IP高质量发展之路。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section-add">
            <div class="section-w1200">
                <div class="add-ads wow fadeInUp d2">
                    <span>创新的路上，和我们一起走的更快一些</span>
                    <span>大为解决方案专家已准备好和您交流，马上了解顶级企业都是如何高效创新的</span>
                    <a href="#" class="btn-cur">
                        <span>免费试用</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dw-footer">
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-logo wow fadeInUp d2">
                    <div class="footer-logo-img">
                        <img src="../imgs/logo2.png" alt="">
                    </div>
                    <div class="hotline">
                        <span>24h咨询热线</span>
                        <span>400-900-3365</span>
                    </div>
                    <div class="footer-ads">
                        <div class="footer-focus">关注大为</div>
                        <ul>
                            <li>
                                <img src="../imgs/wechat.png" alt="">
                                <span>微信</span>
                            </li>
                            <li>
                                <img src="../imgs/zhihu.png" alt="">
                                <span>知乎</span>
                            </li>
                            <li>
                                <img src="../imgs/weibo.png" alt="">
                                <span>微博</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-menu wow fadeInUp d2">
                    <ul>
                        <li class="footer-main">
                            <a href="#">全球专利数据库</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="innoJoy.html">知识产权管理平台</a>
                            <ul>
                                <li><a href="#">innojet专利协同创新管理系统</a></li>
                                <li><a href="#">innojet商标协同创新管理系统</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="consult_service.html">咨询服务</a>
                            <ul>
                                <li><a href="#">专利调查分析</a></li>
                                <li><a href="#">高价值专利培育</a></li>
                                <li><a href="#">专利资产盘点</a></li>
                                <li><a href="#">产业专利导航</a></li>
                                <li><a href="#">专利专题数据库</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="case.html">客户案例</a></li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="resource_center.html">资源中心</a>
                            <ul>
                                <li><a href="#">为知塾知识产权学院</a></li>
                                <li><a href="#">行业白皮书/榜单</a></li>
                                <li><a href="#">市场活动</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="#">关于大为</a>
                            <ul>
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">发展历程</a></li>
                                <li><a href="#">公司荣誉</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-friendLink wow fadeInUp d2">
                <span>友情链接：</span>
                <ul>
                    <li>
                        <a href="https://www.cnipa.gov.cn/">国家知识产权局</a>
                    </li>
                    <li>
                        <a href="https://www.epo.org/">欧洲专利局</a>
                    </li>
                    <li>
                        <a href="http://www.nipso.cn/">国家知识产权战略网</a>
                    </li>
                    <li>
                        <a href="http://ipr.mofcom.gov.cn/index.shtml">中国保护知识产权网</a>
                    </li>
                    <li>
                        <a href="https://www.cnpat.com.cn/">中国专利信息中心</a>
                    </li>
                    <li>
                        <a href="https://www.etsi.org/">ETSI欧洲电信标准化协会</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        Copyright © 2005-2021 Baoding DAWEISOFT CO., LTD All Rights Reserved 冀ICP备05002030号-4 https://beian.miit.gov.cn
    </div>
    <!-- <div class="dw-window">
        <div class="sidebar-box">
            <img src="../imgs/data2.png" alt="">
            <span>在线咨询</span>
        </div>
        <div class="sidebar-box">
            <img src="../imgs/data2.png" alt="">
            <span>关注微信</span>
        </div>
        <div class="sidebar-box">
            <img src="../imgs/data2.png" alt="">
            <span>电话咨询</span>
        </div>
        <div class="sidebar-box">
            <img src="../imgs/data2.png" alt="">
            <span>预约演示</span>
        </div>
        <div class="sidebar-box">
            <img src="../imgs/data2.png" alt="">
            <span>置顶</span>
        </div>
    </div> -->
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>

</html>