<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1200">
  <title>劳模工作室-首页</title>
  <meta name="keywords" content="劳模工作室-首页">
  <meta name="description" content="劳模工作室-首页">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../css/animate.min.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <!-- 头部区 -->
  <div class="xg_header">
    <div class="section w1200">
      <div class="logo">
        <h1><a href="/"><img src="../imgs/logo.png" alt="尚明怀"></a></h1>
      </div>
      <div class="nav">
        <ul class="nav1">
          <li class="cur">
            <a href="index.html">首页</a>
          </li>
          <li>
            <a href="teamExpert.html">专家团队</a>
          </li>
          <li class="drop-down">
            <a href="management_consulation.html">管理咨询</a>
            <ul class="nav2">
              <li>
                <a href="">管理咨询类别1</a>
              </li>
              <li>
                <a href="">管理咨询类别2</a>
              </li>
              <li>
                <a href="">管理咨询类别3</a>
              </li>
            </ul>
          </li>
          <li class="drop-down">
            <a href="enterprise_train.html">企业培训</a>
            <ul class="nav2 train-nav">
              <li>
                <a href="">企业培训类别1</a>
              </li>
              <li>
                <a href="">企业培训类别2</a>
              </li>
              <li>
                <a href="">企业培训类别3</a>
              </li>
              <li>
                <a href="">企业培训类别4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="personnel.html">人才训练</a>
          </li>
          <li>
            <a href="case_list.html">服务案例</a>
          </li>
          <li>
            <a href="news_list.html">新闻中心</a>
          </li>
          <li>
            <a href="ThinkTank.html">管理智库</a>
          </li>
          <li>
            <a href="contact.html">联系我们</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="banner">
    <div class="banner-img swiper-container ">
      <div class="swiper-wrapper index-banner">
        <!-- <div class="swiper-slide">
          <img src="../imgs/index-bg.jpg" alt="">
          <div class="banner-txt">
            <div class="banner-title  wow fadeInLeft2">劳模工作室</div>
            <div class="banner-slogan  wow fadeInLeft2">
              帮助您提升组织绩效是我们的使命
            </div>
            <a href="index.html" class="banner-btn  wow fadeInLeft2">
              了解详情
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="../imgs/index-bg.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="../imgs/index-bg.jpg" alt="">
          </a>
        </div> -->
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

  </div>
  <div id="section">
    <div class="section1">
      <div class="section-box">
        <div class="section-header wow fadeInUp d2">
          <div class="section-header-img">
            <img src="../imgs/section-header.png" alt="">
          </div>
          <div class="section-title-en">PRODUCT & LANDING PLAN</div>
          <div class="section-title-cn">咨询产品与落地方案</div>
        </div>
        <div class="section-mid  wow fadeInUp d2">
          <span>step微咨询</span>
          <a href="#">了解详情</a>
        </div>
        <div class="section-content section1-content">
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution1.png" alt="">
            <span>国企混改</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution2.png" alt="">
            <span>组织变革</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution3.png" alt="">
            <span>国企混改</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution4.png" alt="">
            <span>冗员优化</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution5.png" alt="">
            <span>顾问式培训</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>

          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution6.png" alt="">
            <span>企业大学构建</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution7.png" alt="">
            <span>流程优化工作坊</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution8.png" alt="">
            <span>流程绩效管理</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution9.png" alt="">
            <span>打破部门墙</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
          <div class="solution-core  wow fadeInUp d2">
            <img src="../imgs/solution10.png" alt="">
            <span>OA流程建设与优化</span>
            <a class="solution-core-more" href="#">了解详情</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section2">
      <div class="section-box">
        <div class="section-header  wow fadeInUp d2">
          <div class="section-header-img">
            <img src="../imgs/section-header.png" alt="">
          </div>
          <div class="section-title-en">SERVICE ADVANTAGES</div>
          <div class="section-title-cn">项目服务优势</div>
        </div>
        <div class="section-content section2-content">
          <div class="project-advantage  wow fadeInUp d2">
            <img src="../imgs/ad1.png" alt="">
            <span>自有项目研发团队<br />迎合局势创新研发</span>
          </div>
          <div class="project-advantage  wow fadeInUp d2">
            <img src="../imgs/ad2.png" alt="">
            <span>专业项目咨询队伍<br />顾问辅导引导思考</span>
          </div>
          <div class="project-advantage  wow fadeInUp d2">
            <img src="../imgs/ad-core.png" alt="">
            <!-- <span>拥有完整的人力资源<br/>从业者供应链体系</span> -->
          </div>
          <div class="project-advantage  wow fadeInUp d2">
            <img src="../imgs/ad3.png" alt="">
            <span>拥有完整的人力资源<br />从业者供应链体系</span>
          </div>
          <div class="project-advantage  wow fadeInUp d2">
            <img src="../imgs/ad4.png" alt="">
            <span>课程完善模拟教学<br />方案执行落地生根</span>
          </div>
        </div>
      </div>
    </div>
    <div class="section3">
      <div class="section-box">
        <div class="section-header  wow fadeInUp d2">
          <div class="section-header-img">
            <img src="../imgs/section-header.png" alt="">
          </div>
          <div class="section-title-en">COURSE LANDING STYLE</div>
          <div class="section-title-cn">课程落地风采</div>
        </div>
        <div class="section-content section3-content">
          <!-- <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div>
          <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div>
          <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div>
          <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div>
          <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div>
          <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div>
          <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div>
          <div class="course-box  wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/couse1.jpg" alt="">
            </div>
            <div class="course-title">
              2012年人力资本研究高峰论坛
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="section4">
      <div class="section-box">
        <div class="section-header  wow fadeInUp d2">
          <div class="section-header-img">
            <img src="../imgs/section-header.png" alt="">
          </div>
          <div class="section-title-en">EXPERT TEAM</div>
          <div class="section-title-cn">专家团队介绍</div>
        </div>
        <div class="section-content section4-content">
          <div class="team-box  wow fadeInUp d2">
            <div class="team-img">
              <img src="../imgs/team1.jpg" alt="">
            </div>
            <div class="team-title">
              蔡建伟
            </div>
            <div class="team-desc">
              <span>创始人：尚明怀</span>
              <p>
                这些圆的末端保持友好和可接近的，如图，你会注意到使用单一色调或使用渐变来定义形状和距离的效果同样令人印象深刻。
              </p>
            </div>
          </div>
          <div class="team-box  wow fadeInUp d2">
            <div class="team-img">
              <img src="../imgs/team1.jpg" alt="">
            </div>
            <div class="team-title">
              蔡建伟
            </div>
            <div class="team-desc">
              <span>袁信</span>
              <p>
                这些圆的末端保持友好和可接近的，如图，你会注意到使用单一色调或使用渐变来定义形状和距离的效果同样令人印象深刻。
              </p>
            </div>
          </div>
          <div class="team-box  wow fadeInUp d2">
            <div class="team-img">
              <img src="../imgs/team1.jpg" alt="">
            </div>
            <div class="team-title">
              蔡建伟
            </div>
            <div class="team-desc">
              <span>袁信</span>
              <p>
                这些圆的末端保持友好和可接近的，如图，你会注意到使用单一色调或使用渐变来定义形状和距离的效果同样令人印象深刻。
              </p>
            </div>
          </div>
          <div class="team-box  wow fadeInUp d2">
            <div class="team-img">
              <img src="../imgs/team1.jpg" alt="">
            </div>
            <div class="team-title">
              蔡建伟
            </div>
            <div class="team-desc">
              <span>袁信</span>
              <p>
                这些圆的末端保持友好和可接近的，如图，你会注意到使用单一色调或使用渐变来定义形状和距离的效果同样令人印象深刻。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section5">
      <div class="section-box">
        <div class="section-header  wow fadeInUp d2">
          <div class="section-header-img">
            <img src="../imgs/section-header.png" alt="">
          </div>
          <div class="section-title-en">SERVICE CASE</div>
          <div class="section-title-cn">服务案例展示</div>
        </div>
        <div class="section-content section5-content">
          <!-- <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/TCL.jpg" alt="">
          </div>
          <div class="case-box  wow fadeInUp d2">
            <img src="../imgs/fangzheng.jpg" alt="">
          </div> -->
        </div>
      </div>
    </div>
    <div class="section6">
      <div class="section-box">
        <div class="section-header wow fadeInUp d2">
          <div class="section-header-img">
            <img src="../imgs/section-header.png" alt="">
          </div>
          <div class="section-title-en">NEWS AND INFOMATAION</div>
          <div class="section-title-cn">新闻资讯</div>
        </div>
        <div class="section-content section6-content">
          <div class="news-index-left">
            <!-- <a href="#">
              <div class="news-img wow fadeInUp d2">
                <img src="../imgs/news1.jpg" alt="">
              </div>
              <div class="news-content wow fadeInUp d2">
                <div class="news-title">
                  “破局·赋能·创新”2020年人才引进与组织发展......
                </div>
                <div class="news-desc">
                  1月11日，2020年人才引进与组织发展高峰论坛暨深圳市中小企业最佳雇主颁奖典礼在深圳市人才园举办。
                </div>
              </div>
              <div class="news-more wow fadeInUp d2">
                查看更多
              </div>
            </a> -->
          </div>
          <div class="news-index-right">
            <span class="wow fadeInUp d2">推荐阅读</span>
            <!-- <div class="news-list wow fadeInUp d2">
              <a href="#">
                <div class="news-content">
                  <div class="news-list-title">
                    尚明怀讲故事：遇到管财务的老板娘什么样的体验？
                  </div>
                  <div class="news-list-desc">
                    4月24日，中华全国总工会召开2021年“五一”新闻发布会，1197人荣获2021年全国五一劳动奖章。
                  </div>
                </div>
                <div class="news-list-date">

              </a>
            </div>
            <div class="news-list wow fadeInUp d2">
              <a href="#">
                <div class="news-content">
                  <div class="news-list-title">
                    尚明怀讲故事：遇到管财务的老板娘什么样的体验？
                  </div>
                  <div class="news-list-desc">
                    4月24日，中华全国总工会召开2021年“五一”新闻发布会，1197人荣获2021年全国五一劳动奖章。
                  </div>
                </div>
                <div class="news-list-date">
                  2021.8.31
                </div>
              </a>
            </div>
            <div class="news-list wow fadeInUp d2">
              <a href="#">
                <div class="news-content">
                  <div class="news-list-title">
                    尚明怀讲故事：遇到管财务的老板娘什么样的体验？
                  </div>
                  <div class="news-list-desc">
                    4月24日，中华全国总工会召开2021年“五一”新闻发布会，1197人荣获2021年全国五一劳动奖章。
                  </div>
                </div>
                <div class="news-list-date">
                  2021.8.31
                </div>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- 底部区 -->
  <div class="xg_footer">
    <div class="footer_top">
      <div class="w1200">
        <div class="f_l wow fadeInUp d2">
          <div class="font_logo">
            <a href="/"><img src="../imgs/footer_logo.png" alt=""></a>
          </div>
          <p>24h咨询热线</p>
          <p>400-900-5678</p>
        </div>
        <div class="f_r">
          <ul>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">管理咨询</a>
              <ul>
                <li>
                  <a href="javascript:;">国企混改</a>
                </li>
                <li>
                  <a href="javascript:;">组织变革</a>
                </li>
                <li>
                  <a href="javascript:;">流程再造</a>
                </li>
                <li>
                  <a href="javascript:;">step微咨询</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">咨询顾问培训</a>
              <ul>
                <li>
                  <a href="javascript:;">顾问式培训</a>
                </li>
                <li>
                  <a href="javascript:;">咨询顾问基本能力训练</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">企业大学构建与培训师培养</a>
              <ul>
                <li>
                  <a href="javascript:;">企业大学构建</a>
                </li>
                <li>
                  <a href="javascript:;">战略咨询顾问师能力训练</a>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">关于我们</a>
              <ul>
                <li>
                  <a href="javascript:;">发展历程</a>
                </li>
                <li>
                  <a href="javascript:;">课程风采</a>

                </li>
                <li>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">管理智库</a>
              <ul>
                <li>
                  <a href="javascript:;">OA流程建设与优化</a>
                </li>
                <li>
                  <a href="javascript:;">非人力资源经理的人力资源管理</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_btm">
      <div class="w1200">
        <span>Copyright © 2019 - 2021 尚明怀 All Rights Reserved</span>
        <a href="https://beian.miit.gov.cn/">粤ICP备2021121751号</a>
      </div>
    </div>
  </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>

</html>