<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="innoJoy">
    <meta name="description" content="innoJoy">
    <title>innoJoy</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/innoJoy.css">
</head>
<body>
    <div class="top-tips">
        <span>【白皮书】民族企业IP的高质量发展路径</span> <a href="#">立即下载</a>
    </div>
    <div class="dw-header">
        <div class="dw-logo">
            <a href="index.html">
                <img src="../imgs/logo.png" alt="">
            </a>
        </div>
        <div class="dw-menu">
            <ul>
                <li class="cur">
                    <a href="#">全球专利数据库</a>
                </li>
                <li class="drop-down">
                    <a href="innoJoy.html">知识产权管理平台</a>
                    <ul>
                        <li><a href="innojet.html">innojet</a></li>
                        <li><a href="#">分类2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="consult_service.html">咨询服务</a>
                </li>
                <li>
                    <a href="case.html">客户案例</a>
                </li>
                <li class="drop-down">
                    <a href="resource_center.html">资源中心</a>
                    <ul>
                        <li><a href="#">分类1</a></li>
                        <li><a href="#">分类2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="about_us.html">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="dw-outlink">
            <div class="lang-container">
                <img src="../imgs/lang.png" alt="">
                <span>简体中文</span>
                <ul style="display: none;">
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                </ul>
            </div>
            <div class="dw-application">
                <a href="#">申请试用</a>
            </div>
            <div class="dw-logcenter">
                <a href="http://www.innojoy.com/search/home.html">登录/注册</a>
            </div>
        </div>
    </div>
    <div class="dw-banner">
        <div class="banner-img swiper-container ">
            <div class="swiper-wrapper index-banner">
                <div class="swiper-slide">
                    <img src="../imgs/index_banner.png" alt="">
                    <div class="banner-txt">
                        <h5 class=" wow fadeInUp d2">innoJoy 专利搜索引擎</h5>
                        <span  class=" wow fadeInUp d2">xxxxxxxxxx</span>
                        <div class="banner-btn wow fadeInUp d2">
                            <button class="cur">免费查专利</button>
                            <!-- <button>立即订购</button> -->
                        </div>
                        <div class="banner-movie wow fadeInUp d2">
                            <ul>
                                <li>
                                    <img src="../imgs/iso.png" alt="">
                                    <span>xxxx</span>
                                </li>
                                <li>
                                    <img src="../imgs/iso.png" alt="">
                                    <span>xxxx</span>
                                </li>
                                <li>
                                    <img src="../imgs/iso.png" alt="">
                                    <span>xxxx</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../imgs/index_banner.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../imgs/index_banner.png" alt="">
                    </a>
                </div>
            </div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>
    </div>
    <div class="dw-section">
        <div class="mode-section">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    10余种检索方式
                </div>
                <div class="section-sub-header wow fadeInUp d2">
                    从简单一键检索到专业检索，灵活随需选择
                </div>
                <div class="mode-container wow fadeInUp d2">
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/search_mode.png" alt="">
                        </div>
                        <span>简单检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/table_mode.png" alt="">
                        </div>
                        <span>表格检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/dpi_mode.png" alt="">
                        </div>
                        <span>DPI检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/ai_mode.png" alt="">
                        </div>
                        <span>AI智能检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/step_mode.png" alt="">
                        </div>
                        <span>STEP检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/info_mode.png" alt="">
                        </div>
                        <span>号码检索</span>
                    </div>

                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/statement_mode.png" alt="">
                        </div>
                        <span>表达式检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/kn_mode.png" alt="">
                        </div>
                        <span>知识检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/not_mode.png" alt="">
                        </div>
                        <span>复审无效检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/lawyer_mode.png" alt="">
                        </div>
                        <span>法律检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/icon_mode.png" alt="">
                        </div>
                        <span>图片检索</span>
                    </div>
                    <div class="mode-box">
                        <div class="mode-img">
                            <img src="../imgs/group_mode.png" alt="">
                        </div>
                        <span>组合检索</span>
                    </div>
                </div>
                <a href="#" class="mode-more normal_bs wow fadeInUp d2">
                    <span>免费试用</span>
                </a>
            </div>
        </div>
        <div class="section-even">
            <div class="section-w1200">
                <div class="about-section">
                    <div class="about-left wow fadeInUp d2">
                        <div class="about-title">大为DPI专利价值指数</div>
                        <ul>
                            <li>
                                <em></em><span>通过AHP层次分析法，25项量化指标，构建科学评估模型</span>
                            </li>
                            <li>
                                <em></em><span> 技术价值、法律价值、战略价值、市场价值、经济价值5个维度客观综合评价</span>
                            </li>
                            <li>
                                <em></em><span>支持细化的价值度指标检索、维度多样化的价值度分析</span>
                            </li>
                            <li>
                                <em></em><span>一键生成专利价值评估报告</span>
                            </li>
                        </ul>
                        <div class="about-more">
                            <a href="#">免费试用</a>
                            <a href="#">立即获取专利价值评估报告</a>
                        </div>
                    </div>
                    <div class="about-right wow fadeInUp d2">
                        <img src="../imgs/about1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-odd">
            <div class="section-w1200">
                <div class="about-section">
                    <div class="about-left wow fadeInUp d2">
                        <img src="../imgs/about2.png" alt="">
                    </div>
                    <div class="about-right wow fadeInUp d2">
                        <div class="about-title">AI高精度检索全球相似专利</div>
                        <ul>
                            <li>
                                <em></em><span>输入文字描述即可获取全球相似专利</span>
                            </li>
                            <li>
                                <em></em><span> 支持公开日、公开号、申请日等筛选检索</span>
                            </li>
                            <li>
                                <em></em><span>多重语义筛选技术，提升检索精准度 </span>
                            </li>
                            <li>
                                <em></em><span>适用查新检索、无效检索、侵权检索等多个检索场景 </span>
                            </li>
                            <li>
                                <em></em><span>一键智能生成专利查新报告 </span>
                            </li>
                        </ul>
                        <p>
                            在随机抽取的100万测试数据集中测算，X文献TOP10的命中率为23.54%，TOP100的命中率为42.94%，TOP500的命中率为58.06%
                        </p>
                        <div class="about-more">
                            <a href="#">免费试用</a>
                            <a href="#">立即获取专利价值评估报告</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="section-even">
            <div class="section-w1200">
                <div class="about-section">
                    <div class="about-left wow fadeInUp d2">
                        <div class="about-title">多维度专家式专利分析</div>
                        <ul>
                            <li>
                                <em></em><span>100+分析模型、可视化展示</span>
                            </li>
                            <li>
                                <em></em><span> 专家级分析模型自定义扩展</span>
                            </li>
                            <li>
                                <em></em><span>一键生成图文专利分析报告</span>
                            </li>
                          
                        </ul>
                        <div class="about-more">
                            <a href="#">免费试用</a>
                            <a href="#">立即获取专利价值评估报告</a>
                        </div>
                    </div>
                    <div class="about-right wow fadeInUp d2">
                        <img src="../imgs/about3.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="section-odd">
            <div class="section-w1200">
                <div class="about-section">
                    <div class="about-left wow fadeInUp d2">
                        <img src="../imgs/about2.png" alt="">
                    </div>
                    <div class="about-right wow fadeInUp d2">
                        <div class="about-title">企业级专利信息利用</div>
                        <ul>
                            <li>
                                <em></em><span>建立多维度、多层级标引体系专题数据库，建设企业技术创新“图书馆” </span>
                            </li>
                            <li>
                                <em></em><span>实现专利检索、监控预警、专利统计分析、专利分析报告全链条场景</span>
                            </li>
                            <li>
                                <em></em><span>IPR、研发工程师智慧协同，在线专利标引，信息共享 </span>
                            </li>
                            <li>
                                <em></em><span>精细权限管理，单个技术节点均可设置独立权限，保障安全 </span>
                            </li>
                        </ul>
                        <div class="about-more">
                            <a href="#">免费试用</a>
                            <a href="#">立即获取专利价值评估报告</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-info">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    全面汇集专利信息，每日更新
                </div>
                <div class="info-container wow fadeInUp d2">
                    <div class="info-cate">
                        <div class="cate-li cur">
                            高质量数据
                        </div>
                        <div class="cate-li">
                            多类型专利数据
                        </div>
                    </div>
                    <div class="cate-ct">
                        <div class="info-content" style="display: flex;">
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data1.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        数据范围
                                    </div>
                                    <div class="info-state">
                                        覆盖105+国家/地区,近1.5亿专利信息
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data22.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        数据范围
                                    </div>
                                    <div class="info-state">
                                        覆盖105+国家/地区,近1.5亿专利信息
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data3.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        优质英文翻译
                                    </div>
                                    <div class="info-state">
                                        38+国家/地区小语种英文翻译
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data4.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        法律状态
                                    </div>
                                    <div class="info-state">
                                        45+国家/地区
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data5.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        增值数据
                                    </div>
                                    <div class="info-state">
                                        美国增值数据、INPADOC同族专利数据 DOCDB引证数据
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data6.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        每天更新
                                    </div>
                                    <div class="info-state">
                                        数据每天更新 每月更新1000万+专利信息
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data1.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        数据范围2
                                    </div>
                                    <div class="info-state">
                                        覆盖105+国家/地区,近1.5亿专利信息
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data22.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        数据范围
                                    </div>
                                    <div class="info-state">
                                        覆盖105+国家/地区,近1.5亿专利信息
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data3.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        优质英文翻译
                                    </div>
                                    <div class="info-state">
                                        38+国家/地区小语种英文翻译
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data4.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        法律状态
                                    </div>
                                    <div class="info-state">
                                        45+国家/地区
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data5.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        增值数据
                                    </div>
                                    <div class="info-state">
                                        美国增值数据、INPADOC同族专利数据 DOCDB引证数据
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="info-mg">
                                    <img src="../imgs/data6.png" alt="">
                                </div>
                                <div class="info-desc">
                                    <div class="info-title">
                                        每天更新
                                    </div>
                                    <div class="info-state">
                                        数据每天更新 每月更新1000万+专利信息
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="section-brand">
            <div class="section-w1200">
               <div class="brand-box wow fadeInUp d2">
                   <div class="brand-title">国产品牌数据库，使用安全、信息加密</div>
                    <div class="brand-list">
                        <span>使用过程无需担心检索动作暴露企业技术研发信息，使用更加安心</span>
                        <span>普通用户及单位可选择经济便捷的SaaS帐号模式</span>
                        <span>保密单位可选择定制更加安全的本地化数据库模式</span>
                    </div>
                    <div class="about-more brand-btn ">
                        <a href="#">免费试用SaaS版</a>
                        <a href="#">立即咨询本地版</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-odd">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    <span>他们都在使用innojoy检索专利</span>
                </div>
                <div class="brand-container wow fadeInUp d2">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                    <img src="../imgs/brand.png" alt="">
                </div>
            </div>
        </div>
        <div class="section-wrold">
            <div class="section-w1200">
                <div class="world-number">
                    <div class="world-cate-box">
                        <span>国家</span>
                        <span id="num1">105+</span>
                    </div>
                    <div class="world-cate-box">
                        <span>数据</span>
                        <span id="num2">145,490,099</span>
                    </div>
                    <div class="world-cate-box">
                        <span>用户</span>
                        <span id="num3">203,726</span>
                    </div>
                </div>
                <div class="world-ads">
                    <span>现在，立即体验innojoy全球专利数据库</span>
                    <a href="#" class="btn-add-cur">
                        <span>免费试用</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="dw-footer">
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-logo wow fadeInUp d2">
                    <div class="footer-logo-img">
                        <img src="../imgs/logo2.png" alt="">
                    </div>
                    <div class="hotline">
                        <span>24h咨询热线</span>
                        <span>400-900-3365</span>
                    </div>
                    <div class="footer-ads">
                        <div class="footer-focus">关注大为</div>
                        <ul>
                            <li>
                                <img src="../imgs/wechat.png" alt="">
                                <span>微信</span>
                            </li>
                            <li>
                                <img src="../imgs/zhihu.png" alt="">
                                <span>知乎</span>
                            </li>
                            <li>
                                <img src="../imgs/weibo.png" alt="">
                                <span>微博</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-menu wow fadeInUp d2">
                    <ul>
                        <li class="footer-main">
                            <a href="#">全球专利数据库</a>
                            <ul>
                                <li><a href="innoJoy.html">知识产权管理平台</a></li>
                                <li><a href="#">innojet专利管理系统</a></li>
                                <li><a href="#">innojet商标管理系统</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="consult_service.html">咨询服务</a>
                            <ul>
                                <li><a href="#">专利调查分析</a></li>
                                <li><a href="#">高价值专利培育</a></li>
                                <li><a href="#">专利资产盘点</a></li>
                                <li><a href="#">产业专利导航</a></li>
                                <li><a href="#">专利专题数据库</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="case.html">客户案例</a></li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="resource_center.html">资源中心</a>
                            <ul>
                                <li><a href="#">为知塾知识产权学院</a></li>
                                <li><a href="#">行业白皮书/榜单</a></li>
                                <li><a href="#">市场活动</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="#">关于大为</a>
                            <ul>
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">发展历程</a></li>
                                <li><a href="#">公司荣誉</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-friendLink wow fadeInUp d2">
                <span>友情链接：</span>
                <ul>
                    <li>
                        <a href="#">国家知识产权局专利检索</a>
                    </li>
                    <li>
                        <a href="#">国家知识产权局专利检索</a>
                    </li>
                    <li>
                        <a href="#">国家知识产权局专利检索</a>
                    </li>
                    <li>
                        <a href="#">国家知识产权局专利检索</a>
                    </li>
                    <li>
                        <a href="#">国家知识产权局专利检索</a>
                    </li>
                    <li>
                        <a href="#">国家知识产权局专利检索</a>
                    </li>
                    <li>
                        <a href="#">国家知识产权局专利检索</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-copyright wow fadeInUp d2">
        Copyright © 2005-2021 Baoding DAWEISOFT CO., LTD All Rights Reserved 冀ICP备05002030号-4 https://beian.miit.gov.cn
    </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/countUp.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/innoJoy.js"></script>
</html>