<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理咨询</title>
  <meta name="keywords" content="管理咨询">
  <meta name="description" content="管理咨询">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/animate.min.css">
  <link rel="stylesheet" href="../css/management_consulation.css">
</head>

<body>
  <!-- 头部区 -->
  <div class="xg_header">
    <div class="section w1200">
      <div class="logo">
        <h1><a href="/"><img src="../imgs/logo.png" alt="尚明怀"></a></h1>
      </div>
      <div class="nav">
        <ul class="nav1">
          <li>
            <a href="index.html">首页</a>
          </li>
          <li>
            <a href="teamExpert.html">专家团队</a>
          </li>
          <li class="cur drop-down">
            <a href="management_consulation.html">管理咨询</a>
            <ul class="nav2">
              <li class="cur2">
                <a href="">管理咨询类别1</a>
              </li>
              <li>
                <a href="">管理咨询类别2</a>
              </li>
              <li>
                <a href="">管理咨询类别3</a>
              </li>
            </ul>
          </li>
          <li class="drop-down">
            <a href="enterprise_train.html">企业培训</a>
            <ul class="nav2 train-nav">
              <li>
                <a href="">企业培训类别1</a>
              </li>
              <li>
                <a href="">企业培训类别2</a>
              </li>
              <li>
                <a href="">企业培训类别3</a>
              </li>
              <li>
                <a href="">企业培训类别4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="personnel.html">咨询师训练</a>
          </li>
          <li>
            <a href="case_list.html">服务案例</a>
          </li>
          <li>
            <a href="news_list.html">新闻中心</a>
          </li>
          <li>
            <a href="ThinkTank.html">管理智库</a>
          </li>
          <li>
            <a href="contact.html">联系我们</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="banner">
    <img src="../imgs/title.png" alt="">
  </div>
  <div id="section">
    <div class="section section_crumbs">
      <div class="crumbs wow fadeInUp d2">
        <span class="crumbs_ico"><img src="../imgs/crumbs_ico.png" alt=""></span>
        <span class="crumbs_item">
          <a href="index.html">首页</a>
        </span>
        <span class="crumbs_span">></span>
        <span class="crumbs_item">
          <a href="management_consulation.html">管理咨询</a>
        </span>
      </div>
    </div>
    <div class="section1">
      <div class="section-box">
        <div class="section-header wow fadeInUp d2">
          <span>STEP 迈步微咨询1446</span>
        </div>
        <div class="section-content">
          <div class="consulation-box wow fadeInUp d2">
            <div class="consulation-text">
              <div class="con-title">SURVEY调研<em>（1天）</em></div>
              <div class="con-core">
                <span>调查问卷</span>
                <span>现场访谈 深度了解 量身定制 </span>
                <span>资料分析</span>
              </div>
            </div>
            <div class="consulation-img">
              <img src="../imgs/con1.png" alt="">
            </div>
          </div>
          <div class="consulation-box wow fadeInUp d2">
            <div class="consulation-text">
              <div class="con-title">TRAIN培训<em>（4天）</em></div>
              <div class="con-core">
                <span>调查问卷</span>
                <span>现场访谈 深度了解 量身定制 </span>
                <span>资料分析</span>
              </div>
            </div>
            <div class="consulation-img">
              <img src="../imgs/con2.png" alt="">
            </div>
          </div>
          <div class="consulation-box wow fadeInUp d2">
            <div class="consulation-text">
              <div class="con-title">EMPOWERMENT赋能<em>（4天）</em></div>
              <div class="con-core">
                <span>调查问卷</span>
                <span>现场访谈 深度了解 量身定制 </span>
                <span>资料分析</span>
              </div>
            </div>
            <div class="consulation-img">
              <img src="../imgs/con3.png" alt="">
            </div>
          </div>
          <div class="consulation-box wow fadeInUp d2">
            <div class="consulation-text">
              <div class="con-title">PROJECT方案<em>（6个）</em></div>
              <div class="con-core">
                <span>调查问卷</span>
                <span>现场访谈 深度了解 量身定制 </span>
                <span>资料分析</span>
              </div>
            </div>
            <div class="consulation-img">
              <img src="../imgs/con4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section2">
      <div class="section-box">
        <div class="section-header wow fadeInUp d2">
          <span>四天课程（标准课程包）</span>
        </div>
        <div class="section-content">
          <div class="course-box wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/course1.png" alt="">
            </div>
            <div class="course-title">DAY1（管理者角色）</div>
            <div class="course-desc">
              组织发展与流程优化
            </div>
          </div>
          <div class="course-box wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/course2.png" alt="">
            </div>
            <div class="course-title">DAY1（管理者角色）</div>
            <div class="course-desc">
              组织发展与流程优化
            </div>
          </div>
          <div class="course-box wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/course3.png" alt="">
            </div>
            <div class="course-title">DAY1（管理者角色）</div>
            <div class="course-desc">
              组织发展与流程优化
            </div>
          </div>
          <div class="course-box wow fadeInUp d2">
            <div class="course-img">
              <img src="../imgs/course4.png" alt="">
            </div>
            <div class="course-title">DAY4（授权与领导力）</div>
            <div class="course-desc">
              组织发展与流程优化
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-add">
        <div class="section-header wow fadeInUp d2">
          <span>STEP咨询四步曲</span>
        </div>
        <div class="section-content">
          <div class="solution-pro">
            <div class="solution-pro-img">
              <img src="../imgs/solution-pro-img.png" alt="">
            </div>
            <div class="solution-pro-title">
              <div class="solution-pro-title-index">
                <span>调研</span>
                <span>Survey</span>
              </div>
              <div class="solution-pro-title-desc">
                <span>望闻问切：知此知彼，百战不怠</span>
              </div>
            </div>
          </div>
          <div class="solution-pro">
            <div class="solution-pro-img">
              <img src="../imgs/solution-pro-img2.png" alt="">
            </div>
            <div class="solution-pro-title">
              <div class="solution-pro-title-index">
                <span>调研</span>
                <span>Survey</span>
              </div>
              <div class="solution-pro-title-desc">
                <span>望闻问切：知此知彼，百战不怠</span>
              </div>
            </div>
          </div>
          <div class="solution-pro">
            <div class="solution-pro-img">
              <img src="../imgs/solution-pro-img3.png" alt="">
            </div>
            <div class="solution-pro-title">
              <div class="solution-pro-title-index">
                <span>调研</span>
                <span>Survey</span>
              </div>
              <div class="solution-pro-title-desc">
                <span>望闻问切：知此知彼，百战不怠</span>
              </div>
            </div>
          </div>
          <div class="solution-pro">
            <div class="solution-pro-img">
              <img src="../imgs/solution-pro-img4.png" alt="">
            </div>
            <div class="solution-pro-title">
              <div class="solution-pro-title-index">
                <span>调研</span>
                <span>Survey</span>
              </div>
              <div class="solution-pro-title-desc">
                <span>望闻问切：知此知彼，百战不怠</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="section3">
      <div class="section-box">
        <div class="section-header wow fadeInUp d2">
          <span>六个落地方案</span>
        </div>
        <div class="section-content">
          <div class="solution-course-box wow fadeInUp d2">
            <img src="../imgs/course-solution1.png" alt="">
          </div>
          <div class="solution-course-box wow fadeInUp d2">
            <img src="../imgs/course-solution2.png" alt="">
          </div>
          <div class="solution-course-box wow fadeInUp d2">
            <img src="../imgs/course-solution3.png" alt="">
          </div>
          <div class="solution-course-box wow fadeInUp d2">
            <img src="../imgs/course-solution4.png" alt="">
          </div>
          <div class="solution-course-box wow fadeInUp d2">
            <img src="../imgs/course-solution5.png" alt="">
          </div>
          <div class="solution-course-box wow fadeInUp d2">
            <img src="../imgs/course-solution6.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="section4">
      <div class="section-box">
        <div class="section-header wow fadeInUp d2">
          <span>备选落地项目</span>
        </div>
        <div class="section-content">
          <div class="project-box wow fadeInUp d2">
            <img src="../imgs/pro1.png" alt="">
            <div class="pro-title">
              绩效考核做不好
            </div>
          </div>
          <div class="project-box wow fadeInUp d2">
            <img src="../imgs/pro2.png" alt="">
            <div class="pro-title">
              绩效考核做不好
            </div>
          </div>
          <div class="project-box wow fadeInUp d2">
            <img src="../imgs/pro3.png" alt="">
            <div class="pro-title">
              绩效考核做不好
            </div>
          </div>
          <div class="project-box wow fadeInUp d2">
            <img src="../imgs/pro4.png" alt="">
            <div class="pro-title">
              绩效考核做不好
            </div>
          </div>
          <div class="project-box wow fadeInUp d2">
            <img src="../imgs/pro5.png" alt="">
            <div class="pro-title">
              绩效考核做不好
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section5">
      <div class="section-box">
        <div class="section-header wow fadeInUp d2">
          <span>产品组合</span>
        </div>
        <div class="section-content">
          <div class="package-pro wow fadeInUp d2">
            <div class="package-img">
              <img src="../imgs/package1.png" alt="">
            </div>
            <div class="package-title">
              <span>企业内训课</span>
              <span>Internal training</span>
            </div>
            <div class="package-desc">
              1天企业内训课<em>1880</em>元
            </div>
          </div>
          <div class="package-pro wow fadeInUp d2">
            <div class="package-img">
              <img src="../imgs/package2.png" alt="">
            </div>
            <div class="package-title">
              <span>企业内训课</span>
              <span>Internal training</span>
            </div>
            <div class="package-desc">
              效率提升微咨询<em>99800</em>元
            </div>
          </div>
          <div class="package-pro wow fadeInUp d2">
            <div class="package-img">
              <img src="../imgs/package3.png" alt="">
            </div>
            <div class="package-title">
              <span>企业内训课</span>
              <span>Internal training</span>
            </div>
            <div class="package-desc">
              业绩增长咨询<em>298000</em>元
            </div>
          </div>
          <div class="package-pro wow fadeInUp d2">
            <div class="package-img">
              <img src="../imgs/package4.png" alt="">
            </div>
            <div class="package-title">
              <span>企业内训课</span>
              <span>Internal training</span>
            </div>
            <div class="package-desc">
              长期顾问<em>240000</em>元
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section6">
      <div class="section-box wow fadeInUp d2">
        <div class="section-header">
          <span>商模九略分析商业模式</span>
        </div>
        <div class="section-content">
          <div class="data-calc wow fadeInUp d2">
            定位模式说明
          </div>
          <table class="table-wrapper wow fadeInUp d2" border="1"
            style="border:1px solid #cecece; border-collapse: collapse;">
            <thead>
              <tr>
                <th>价值共识</th>
                <th>客户定位</th>
                <th>自我定位</th>
                <th>关键需求</th>
                <th>核心能力</th>
                <th>业务结构</th>
                <th>交易结构</th>
                <th>投入结构</th>
                <th>收入结构</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  解决快速发展 企业组织障碍
                </td>
                <td>8000万-5个 亿/年销售额</td>
                <td>超快成长型企 业组织系统保 障专家</td>
                <td>组织成长跟不 上经营性发展 的企业</td>
                <td>组织能力系统 方案提供商</td>
                <td>课程+微咨询 +定期服务+ 行业圈层</td>
                <td>线下+线上</td>
                <td>智力团队+行业 资源</td>
                <td>经营性报酬+ 成长分成+ 股权+资本</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部区 -->
  <div class="xg_footer">
    <div class="footer_top">
      <div class="w1200">
        <div class="f_l wow fadeInUp d2">
          <div class="font_logo">
            <a href="/"><img src="../imgs/footer_logo.png" alt=""></a>
          </div>
          <p>24h咨询热线</p>
          <p>400-900-5678</p>
        </div>
        <div class="f_r">
          <ul>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">管理咨询</a>
              <ul>
                <li>
                  <a href="javascript:;">国企混改</a>
                </li>
                <li>
                  <a href="javascript:;">组织变革</a>
                </li>
                <li>
                  <a href="javascript:;">流程再造</a>
                </li>
                <li>
                  <a href="javascript:;">step微咨询</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">咨询顾问培训</a>
              <ul>
                <li>
                  <a href="javascript:;">顾问式培训</a>
                </li>
                <li>
                  <a href="javascript:;">咨询顾问基本能力训练</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">企业大学构建与培训师培养</a>
              <ul>
                <li>
                  <a href="javascript:;">企业大学构建</a>
                </li>
                <li>
                  <a href="javascript:;">战略咨询顾问师能力训练</a>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">关于我们</a>
              <ul>
                <li>
                  <a href="javascript:;">发展历程</a>
                </li>
                <li>
                  <a href="javascript:;">课程风采</a>

                </li>
                <li>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class="wow fadeInUp d2">
              <a href="javascript:;">管理智库</a>
              <ul>
                <li>
                  <a href="javascript:;">OA流程建设与优化</a>
                </li>
                <li>
                  <a href="javascript:;">非人力资源经理的人力资源管理</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_btm">
      <div class="w1200">
        <span>Copyright © 2019 - 2021 尚明怀 All Rights Reserved</span>
        <a href="https://beian.miit.gov.cn/">粤ICP备2021121751号</a>
      </div>
    </div>
  </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/management_consulation.js"></script>

</html>