<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>产品中心</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <header class="header-wrap" id="header">
        <div class="width-auto">
            <div class="header-logo">
                <a href="index.html">
                    <img src="../imgs/logo.png" alt="">
                </a>
            </div>
            <div class="black-box">
                <div class="header-nav">
                    <ul>
                        <!--这是高亮-->
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <li>
                            <a href="about.html">关于我们</a>
                        </li>
                        <li class="header-hover-nav">
                            <a href="product.html">产品中心</a>
                        </li>
                        <li>
                            <a href="solution.html">解决方案</a>
                        </li>
                        <li>
                            <a href="cases.html">项目案例</a>
                        </li>
                        <li>
                            <a href="contact.html">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-header-nav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div id="banner">
        <img alt="" class="banner-img">
        <div class="banner-txt">
            <div class="banner-title fadeInLeft2">
                防风防雨防雷电 气象安全最关键
            </div>
            <div class="banner-desc fadeInLeft2">
                Weather protection against wind, rain and lightning is the key
            </div>
            <div class="banner-btn fadeInLeft2">
                <a href="#">About us</a>
            </div>
        </div>
    </div>
    <div id="section">
        <!--nav-->
        <div class="pro-read-list wow fadeInUp d2">
            <div class="read-mbx-center">
                <div class="width-auto">
                    <ul class="pro-catelist-container">
                        <!--这是高亮样式-->
                        <li class="mbx-hover">
                            <a href="product.html">全部产品</a>
                        </li>
                        <li>
                            <a href="product.html">全部产品</a>
                        </li>
                        <li>
                            <a href="product.html">全部产品</a>
                        </li>
                        <li>
                            <a href="product.html">全部产品</a>
                        </li>
                        <li>
                            <a href="product.html">全部产品</a>
                        </li>
                        <li>
                            <a href="product.html">全部产品</a>
                        </li>
                        <li>
                            <a href="product.html">全部产品</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--列表内容-->
        <div class="pro-list-wrap">
            <div class="width-auto">
                <div class="pro-list-box">
                    <div class="pro-list-ul">
                        <!-- <div class="pro-list-li wow fadeInUp">
                            <div class="imgJsWrap">
                                <div class="pro-list-img">
                                    <a class="img-black cover data3 data-seo3" href="product-detail.html">
                                        <img src="../imgs/product.png" alt="">
                                    </a>
                                </div>
                                <div class="pro-list-read">
                                    <div class="pro-list-span space-over" title="TM-X13可视监控主机图">
                                        <a href="product-detail.html">雷电安全系列</a>
                                    </div>
                                    <div class="pro-list-span space-list-over">
                                        此处为产品简介说明此处为产品简介说明此处为产品
                                        简介说明此处为产品简介说明...</div>
                                </div>
                                <div class="pro-border"></div>
                            </div>
                        </div>
                        <div class="pro-list-li wow fadeInUp">
                            <div class="imgJsWrap">
                                <div class="pro-list-img">
                                    <a class="img-black cover data3 data-seo3" href="product-detail.html">
                                        <img src="../imgs/product.png" alt="">
                                    </a>
                                </div>
                                <div class="pro-list-read">
                                    <div class="pro-list-span space-over" title="TM-X13可视监控主机图">
                                        <a href="product-detail.html">雷电安全系列</a>
                                    </div>
                                    <div class="pro-list-span space-list-over">
                                        此处为产品简介说明此处为产品简介说明此处为产品
                                        简介说明此处为产品简介说明...</div>
                                </div>
                                <div class="pro-border"></div>
                            </div>
                        </div>
                        <div class="pro-list-li wow fadeInUp">
                            <div class="imgJsWrap">
                                <div class="pro-list-img">
                                    <a class="img-black cover data3 data-seo3" href="product-detail.html">
                                        <img src="../imgs/product.png" alt="">
                                    </a>
                                </div>
                                <div class="pro-list-read">
                                    <div class="pro-list-span space-over" title="TM-X13可视监控主机图">
                                        <a href="product-detail.html">雷电安全系列</a>
                                    </div>
                                    <div class="pro-list-span space-list-over">
                                        此处为产品简介说明此处为产品简介说明此处为产品
                                        简介说明此处为产品简介说明...</div>
                                </div>
                                <div class="pro-border"></div>
                            </div>
                        </div>
                        <div class="pro-list-li wow fadeInUp">
                            <div class="imgJsWrap">
                                <div class="pro-list-img">
                                    <a class="img-black cover data3 data-seo3" href="product-detail.html">
                                        <img src="../imgs/product.png" alt="">
                                    </a>
                                </div>
                                <div class="pro-list-read">
                                    <div class="pro-list-span space-over" title="TM-X13可视监控主机图">
                                        <a href="product-detail.html">雷电安全系列</a>
                                    </div>
                                    <div class="pro-list-span space-list-over">
                                        此处为产品简介说明此处为产品简介说明此处为产品
                                        简介说明此处为产品简介说明...</div>
                                </div>
                                <div class="pro-border"></div>
                            </div>
                        </div> -->
                    </div>
                    <div class="page-lable-wrap wow fadeInUp d1">
                        <!-- <span class="prev">上一页</span>
                        <span class='current'>1</span>
                        <a href='/product/product_2.html'>2</a>
                        <a href='/product/product_3.html'>3</a>
                        <a class="next" href='/product/product_2.html'>下一页</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer-core">
            <div class="footer-left">
                <div class="footer-left-log">
                    <a href="index.html"> <img src="../imgs/logo.png" alt=""></a>
                </div>
                <ul class="footer-menu wow fadeInUp d2">
                    <li>
                        <a href="about.html">关于我们</a>
                        <ul>
                            <li>
                                <a href="about.html">公司介绍</a>
                            </li>
                            <li>
                                <a href="about.html">优势介绍</a>
                            </li>
                            <li>
                                <a href="about.html">服务流程</a>
                            </li>
                            <li>
                                <a href="about.html">专利证书</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html">产品中心 </a>
                        <ul class="footer-product-ul"></ul>
                    </li>
                    <li>
                        <a href="solution.html">解决方案</a>
                        <ul class="foot-solution-ul"></ul>
                    </li>
                    <li>
                        <a href="cases.html">项目案例</a>
                        <ul class="foot-cases-ul"></ul>
                    </li>
                    <li>
                        <a href="contact.html">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="footer-right wow fadeInUp d2">
                    <span class="company"></span>
                    <span class="phone"></span>
                    <span class="email"></span>
                    <span class="adress"></span>
                </div>
        </div>
        <div class="footer-copyright">
            深圳市楚邦科技有限公司 Copyright © 2021 All Rights Reserved. 粤ICP备18455784
        </div>
    </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/jquery.pagination.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/product.js"></script>

</html>