<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理智库</title>
  <meta name="keywords" content="管理智库">
  <meta name="description" content="管理智库">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/animate.min.css">
  <link rel="stylesheet" href="../css/thinkTank.css">
</head>

<body>
  <!-- 头部区 -->
  <div class="xg_header">
    <div class="section w1200">
      <div class="logo">
        <h1><a href="/"><img src="../imgs/logo.png" alt="尚明怀"></a></h1>
      </div>
      <div class="nav">
        <ul class="nav1">
          <li>
            <a href="index.html">首页</a>
          </li>
          <li>
            <a href="teamExpert.html">专家团队</a>
          </li>
          <li class="drop-down">
            <a href="management_consulation.html">管理咨询</a>
            <ul class="nav2">
              <li>
                <a href="">管理咨询类别1</a>
              </li>
              <li>
                <a href="">管理咨询类别2</a>
              </li>
              <li>
                <a href="">管理咨询类别3</a>
              </li>
            </ul>
          </li>
          <li class="drop-down">
            <a href="enterprise_train.html">企业培训</a>
            <ul class="nav2 train-nav">
              <li>
                <a href="">企业培训类别1</a>
              </li>
              <li>
                <a href="">企业培训类别2</a>
              </li>
              <li>
                <a href="">企业培训类别3</a>
              </li>
              <li>
                <a href="">企业培训类别4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="personnel.html">咨询师训练</a>
          </li>
          <li>
            <a href="case_list.html">服务案例</a>
          </li>
          <li>
            <a href="news_list.html">新闻中心</a>
          </li>
          <li class="cur">
            <a href="ThinkTank.html">管理智库</a>
          </li>
          <li>
            <a href="contact.html">联系我们</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- 广告区 -->
  <div class="xg_banner" id="banner">
    <div class="section">
      <div class="banner">
        <a href="javascript:;"><img src="../imgs/thinkTank_banner.png" alt="管理智库"></a>
      </div>
    </div>
  </div>
  <!-- 内容区 -->
  <div class="xg_content">
    <div class="section section_crumbs">
      <div class="crumbs wow fadeInUp d2">
        <span class="crumbs_ico"><img src="../imgs/crumbs_ico.png" alt=""></span>
        <span class="crumbs_item">
          <a href="index.html">首页</a>
        </span>
        <span class="crumbs_span">></span>
        <span class="crumbs_item">
          <a href="ThinkTank.html">管理智库</a>
        </span>
      </div>
    </div>
    <div class="section">
      <div class="thinkTank_box">
        <ul class="thinkTank_ul">
          <!-- <li class=" wow fadeInUp d2">
            <div class="number">01</div>
            <div class="datatime"><span>2021-09-24</span></div>
            <div class="name">
              <a href="">尚明怀谈数据治理</a>
            </div>
            <div class="intro">
              <p>不少企业希望能够找到一颗银子弹，来 提升其现有企业信息系统产生的数据的 质量。但大多数企业数据治理方案都难 以收到实效...</p>
            </div>
          </li>
          <li class=" wow fadeInUp d2">
            <div class="number">02</div>
            <div class="datatime"><span>2021-09-29</span></div>
            <div class="name">
              <a href="javascaript:;">尚明怀浅谈现代管理学的...</a>
            </div>
            <div class="intro">
              <p>管理因企业现状而异，因人而异，但归 根结底，管理是一门科学，总有一些定 律是普适的。彼得定理、帕金森定理、 墨菲定理被誉为...</p>
            </div>
          </li>
          <li class=" wow fadeInUp d2">
            <div class="number">03</div>
            <div class="datatime"><span>2021-09-24</span></div>
            <div class="name">
              <a href="javascaript:;">尚明怀浅谈国企合规管理..</a>
            </div>
            <div class="intro">
              <p>企业合规为何今天成为一个热词，除已 多次被国家和中央文件提及，甚至正式 进入“十四五规划”，从目前我国经济 形势发展的现...</p>
            </div>
          </li>
          <li class=" wow fadeInUp d2">
            <div class="number">04</div>
            <div class="datatime"><span>2021-09-26</span></div>
            <div class="name">
              <a href="javascaript:;">尚明怀聊数据化、信息化...</a>
            </div>
            <div class="intro">
              <p>知名市场调研机构IDC曾在报告中预测： 2020年全球GDP的60%以上将是数字化， 每个行业的增长都是由数字化增强的产 品、运营和关系驱动。</p>
            </div>
          </li>
          <li class=" wow fadeInUp d2">
            <div class="number">05</div>
            <div class="datatime"><span>2021-09-24</span></div>
            <div class="name">
              <a href="javascaript:;">尚明怀眼中的企业目标管理</a>
            </div>
            <div class="intro">
              <p>如今社会化分工越来越细，很多事情都
                需要与他人合作完成。我们知道大型项
                目一定是多人合作，即便是一名网红，
                我们看到在台前...</p>
            </div>
          </li>
          <li class=" wow fadeInUp d2">
            <div class="number">06</div>
            <div class="datatime"><span>2021-09-29</span></div>
            <div class="name">
              <a href="javascaript:;">尚明怀浅谈现代管理学的...</a>
            </div>
            <div class="intro">
              <p>管理因企业现状而异，因人而异，但归
                根结底，管理是一门科学，总有一些定
                律是普适的。彼得定理、帕金森定理、
                墨菲定理被誉为...</p>
            </div>
          </li>
          <li class=" wow fadeInUp d2">
            <div class="number">07</div>
            <div class="datatime"><span>2021-09-24</span></div>
            <div class="name">
              <a href="javascaript:;">尚明怀浅谈国企合规管理..</a>
            </div>
            <div class="intro">
              <p>企业合规为何今天成为一个热词，除已
                多次被国家和中央文件提及，甚至正式
                进入“十四五规划”，从目前我国经济
                形势发展的现...</p>
            </div>
          </li>
          <li class=" wow fadeInUp d2">
            <div class="number">08</div>
            <div class="datatime"><span>2021-09-26</span></div>
            <div class="name">
              <a href="javascaript:;">尚明怀聊数据化、信息化...</a>
            </div>
            <div class="intro">
              <p>知名市场调研机构IDC曾在报告中预测：
                2020年全球GDP的60%以上将是数字化，
                每个行业的增长都是由数字化增强的产
                品、运营和关系驱动。</p>
            </div>
          </li> -->
        </ul>
        <div class="page-container">
          <div class="page-lable-wrap wow fadeInUp d1"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部区 -->
  <div class="xg_footer">
    <div class="footer_top">
      <div class="w1200">
        <div class="f_l wow fadeInUp d2">
          <div class="font_logo">
            <a href="/"><img src="../imgs/footer_logo.png" alt=""></a>
          </div>
          <p>24h咨询热线</p>
          <p>400-900-5678</p>
        </div>
        <div class="f_r">
          <ul>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">管理咨询</a>
              <ul>
                <li>
                  <a href="javascript:;">国企混改</a>
                </li>
                <li>
                  <a href="javascript:;">组织变革</a>
                </li>
                <li>
                  <a href="javascript:;">流程再造</a>
                </li>
                <li>
                  <a href="javascript:;">step微咨询</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">咨询顾问培训</a>
              <ul>
                <li>
                  <a href="javascript:;">顾问式培训</a>
                </li>
                <li>
                  <a href="javascript:;">咨询顾问基本能力训练</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">企业大学构建与培训师培养</a>
              <ul>
                <li>
                  <a href="javascript:;">企业大学构建</a>
                </li>
                <li>
                  <a href="javascript:;">战略咨询顾问师能力训练</a>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">关于我们</a>
              <ul>
                <li>
                  <a href="javascript:;">发展历程</a>
                </li>
                <li>
                  <a href="javascript:;">课程风采</a>

                </li>
                <li>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">管理智库</a>
              <ul>
                <li>
                  <a href="javascript:;">OA流程建设与优化</a>
                </li>
                <li>
                  <a href="javascript:;">非人力资源经理的人力资源管理</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_btm">
      <div class="w1200">
        <span>Copyright © 2019 - 2021 尚明怀 All Rights Reserved</span>
        <a href="https://beian.miit.gov.cn/">粤ICP备2021121751号</a>
      </div>
    </div>
  </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/jquery.pagination.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/ThinkTank.js"></script>

</html>