<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>培训详情</title>
  <meta name="keywords" content="培训详情">
  <meta name="description" content="培训详情">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/animate.min.css">
  <link rel="stylesheet" href="../css/news_details.css">
</head>

<body>
  <!-- 头部区 -->
  <div class="xg_header">
    <div class="section w1200">
      <div class="logo">
        <h1><a href="/"><img src="" alt="尚明怀"></a></h1>
      </div>
      <div class="nav">
        <ul class="nav1">
          <li>
            <a href="index.html">首页</a>
          </li>
          <li>
            <a href="teamExpert.html">专家团队</a>
          </li>
          <li class="drop-down">
            <a href="management_consulation.html">管理咨询</a>
            <ul class="nav2">
              
            </ul>
          </li>
          <li class="drop-down cur">
            <a href="enterprise_train.html">企业培训</a>
            <ul class="nav2 train-nav">
              
            </ul>
          </li>
          <li>
            <a href="personnel.html">咨询师训练</a>
          </li>
          <li>
            <a href="case_list.html">服务案例</a>
          </li>
          <li >
            <a href="news_list.html">培训中心</a>
          </li>
          <li>
            <a href="ThinkTank.html">管理智库</a>
          </li>
          <li>
            <a href="contact.html">联系我们</a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- 广告区 -->
  <div class="xg_banner">
    <div class="section">
      <div class="banner">
        <a href="javascript:;"><img src="../imgs/news_banner.png" alt="培训详情"></a>
      </div>
    </div>
  </div>
  <!-- 内容区 -->
  <div class="xg_content">
    <div class="section section_crumbs">
      <div class="crumbs wow fadeInUp d2">
        <span class="crumbs_ico"><img src="../imgs/crumbs_ico.png" alt=""></span>
        <span class="crumbs_item">
          <a href="index.html">首页</a>
        </span>
        <span class="crumbs_span">></span>
        <span class="crumbs_item">
          <a href="news_list.html">培训中心</a>
        </span>
        <span class="crumbs_span">></span>
        <span class="crumbs_item">
          <a href="javascript:;">标题名称</a>
        </span>
      </div>
    </div>
    <div class="section">
      <div class="details_box">
        <div class="details_title wow fadeInUp d2">
          <h2>“破局·赋能·创新”2020年人才引进与组织发展高峰论坛暨深圳市中小企业最佳雇主颁奖典礼</h2>
        </div>
        <div class="details_other wow fadeInUp d2">
          <div class="data_time">
            <span>2021年09月14日</span>
          </div>
        </div>
        <div class="details_con wow fadeInUp d2">
          <!-- <p>咨询行业是一个让人神往又让人却步的行业，高薪、高压力、高社会地位是它最大的特点。近年来，中国咨询行业蓬勃发展，对顾问人才的需求也日益增长。
            很多人都认为，咨询顾问是一个头顶光环，光鲜亮丽的职业，拿着一流的薪水，坐飞机都坐“头等舱”，住酒店都住“五星级”，接触人都是“高精尖”。
            凡事都有两面，随着高薪水而来的必定是巨大的工作压力，生活并不总是五光十色。“全国五一劳动奖章”获得者尚明怀（曾用名尚明淮）老师，以专业咨询顾问的身份，
            和你聊一聊咨询顾问华丽生活以外的酸甜苦辣！
          </p>
          <p>
            <img src="../imgs/news_list1.png" alt="">
          </p>
          <p>有钱能任性，华丽必有金，咨询顾问工资补贴就是高！ 一流管理咨询公司的顾问当然要拿一流的薪水，一般来说，刚入行的人年薪20-30万，一两年可涨到40-60万；通常3-5年后能到项目经理，就能拿到80万以上的薪资。至于
            再往上，那就看是否能在行政级别上有所突破了，因为刚才所说的项目经理，实际上管理职能很弱，主要是自己干活。当你管理一个比较大的部门的时候，优秀学历加上优 秀资历加上人到中年，你就可以至少拿到100万以上了。</p> -->
        </div>
        <div class="xg_prevnext wow fadeInUp d2">
          <span class="pre_item">
            <a href="">
              <span class="prevnext_text">上一篇：</span>
              <span class="prevnext_title">无</span>
            </a>
          </span>
          <span class="next_item">
            <a href="">
              <span class="prevnext_text">下一篇：</span>
              <span class="prevnext_title">尚明怀：培训只说不做，微咨询讲完就落地！</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部区 -->
  <div class="xg_footer">
    <div class="footer_top">
      <div class="w1200">
        <div class="f_l wow fadeInUp d2">
          <div class="font_logo">
            <a href="/"><img src="../imgs/footer_logo.png" alt=""></a>
          </div>
          <p>24h咨询热线</p>
          <p>400-900-5678</p>
        </div>
        <div class="f_r">
          <ul>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">管理咨询</a>
              <ul>
                <li>
                  <a href="javascript:;">国企混改</a>
                </li>
                <li>
                  <a href="javascript:;">组织变革</a>
                </li>
                <li>
                  <a href="javascript:;">流程再造</a>
                </li>
                <li>
                  <a href="javascript:;">step微咨询</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">咨询顾问培训</a>
              <ul>
                <li>
                  <a href="javascript:;">顾问式培训</a>
                </li>
                <li>
                  <a href="javascript:;">咨询顾问基本能力训练</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">企业大学构建与培训师培养</a>
              <ul>
                <li>
                  <a href="javascript:;">企业大学构建</a>
                </li>
                <li>
                  <a href="javascript:;">战略咨询顾问师能力训练</a>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">关于我们</a>
              <ul>
                <li>
                  <a href="javascript:;">发展历程</a>
                </li>
                <li>
                  <a href="javascript:;">课程风采</a>

                </li>
                <li>
                  <a href="javascript:;">企业培训</a>
                </li>
              </ul>
            </li>
            <li class=" wow fadeInUp d2">
              <a href="javascript:;">管理智库</a>
              <ul>
                <li>
                  <a href="javascript:;">OA流程建设与优化</a>
                </li>
                <li>
                  <a href="javascript:;">非人力资源经理的人力资源管理</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_btm">
      <div class="w1200">
        <span>Copyright © 2019 - 2021 尚明怀 All Rights Reserved</span>
        <a href="https://beian.miit.gov.cn/">粤ICP备2021121751号</a>
      </div>
    </div>
  </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/train_details.js"></script>

</html>