<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="商标">
    <meta name="description" content="商标">
    <title>商标</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/trande_mark.css">
</head>
<body>
    <div class="top-tips">
        <span>【白皮书】民族企业IP的高质量发展路径</span> <a href="#">立即下载</a>
    </div>
    <div class="dw-header">
        <div class="dw-logo">
            <a href="index.html">
                <img src="../imgs/logo.png" alt="">
            </a>
        </div>
        <div class="dw-menu">
            <ul>
                <li >
                    <a href="innoJoy.html">全球专利数据库</a>
                </li>
                <li class="drop-down cur">
                    <a href="#">知识产权管理平台</a>
                    <ul>
                        <li><a href="innojet.html">innojet专利管理平台</a></li>
                        <li><a href="trande_mark.html">innojet商标管理平台</a></li>
                    </ul>
                </li>
                <li>
                    <a href="consult_service.html">咨询服务</a>
                </li>
                <li>
                    <a href="case.html">客户案例</a>
                </li>
                <li class="drop-down">
                    <a href="resource_center.html">资源中心</a>
                    <ul>
                        <li><a href="resource_center.html">行业干货</a></li>
                        <li><a href="medal_list.html">榜单</a></li>
                        <li><a href="college_center.html">为知塾学院</a></li>
                        <li><a href="company_story.html">公司动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="about_us.html">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="dw-outlink">
            <div class="lang-container">
                <img src="../imgs/lang.png" alt="">
                <span>简体中文</span>
                <ul style="display: none;">
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                    <li>
                        <a href="#">简体中文</a>
                    </li>
                </ul>
            </div>
            <div class="dw-application">
                <a href="#">申请试用</a>
            </div>
            <div class="dw-logcenter">
                <a href="http://www.innojoy.com/search/home.html">登录/注册</a>
            </div>
        </div>
    </div>
    <div class="dw-banner">
        <img src="../imgs/banner2.png" alt="">
        <!-- <div class="banner-inner-txt  wow fadeInUp d2">
            <h3>大为innojet商标协同创新管理系统</h3>
            <p>
                商标全生命周期精细化管理工具</br>
            </p>
            <span>
                20年民族品牌，专业、高效、安全</span>
            <div class="bannner-btn">
                <a href="#">视频演示</a>
                <a href="#">免费试用</a>
            </div>
        </div> -->
    </div>
    <div class="dw-section">
        <div class="innojet-section">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    企业商标管理业务痛点及挑战
                </div>
                <div class="section-container wow fadeInUp d2">
                    <div class="innojet-business">
                        <div class="business-img">
                            <img src="../imgs/tm1.png" alt="">
                        </div>
                        <div class="business-content">
                            <div class="business-title">
                                工作效率低易出差错
                            </div>
                            <div class="business-desc">
                                数据统计工作量大，各类费用/期限答复繁杂，工作要求精细易出错
                            </div>
                        </div>
                    </div>
                    <div class="innojet-business">
                        <div class="business-img">
                            <img src="../imgs/tm2.png" alt="">
                        </div>
                        <div class="business-content">
                            <div class="business-title">
                                竞争对手监控缺失
                            </div>
                            <div class="business-desc">
                                缺乏竞争对手监控机制，无法及时获知竞品商标动态
                            </div>
                        </div>
                    </div>
                    <div class="innojet-business">
                        <div class="business-img">
                            <img src="../imgs/tm3.png" alt="">
                        </div>
                        <div class="business-content">
                            <div class="business-title">
                                业务流程管理缺失
                            </div>
                            <div class="business-desc">
                                流程处理效率低，导致企业内耗严重；内部商标制度难以贯彻、执行
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solution-section">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    商标全生命周期一体化解决方案
                </div>
                <div class="section-sub-header wow fadeInUp d2">
                    解决商标全生命链管理痛点
                </div>
               <div class="life-box-img">
                   <img src="../imgs/lf_bg.png" alt="">
               </div>
                <div class="section-container wow fadeInUp d2">
                    <div class="section-improveBox">
                        <div class="improveBox-img">
                            <img src="../imgs/td1.png" alt="">
                        </div>
                        <div class="improveBox-content">
                            <span>效率提升</span>
                            <ul>
                                <li>
                                    <em></em>
                                    <span>内部组织协同/委外机构协同</span>
                                </li>
                                <li>
                                    <em></em>
                                    <span>费用/期限精准自动化监控</span>
                                </li>
                                <li>
                                    <em></em>
                                    <span>数据文件分类标准管理</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-improveBox">
                        <div class="improveBox-img">
                            <img src="../imgs/td2.png" alt="">
                        </div>
                        <div class="improveBox-content">
                            <span>战略布局</span>
                            <ul>
                                <li>
                                    <em></em>
                                    <span>竞争对手监测</span>
                                </li>
                                <li>
                                    <em></em>
                                    <span>使用证据管理</span>
                                </li>
                                <li>
                                    <em></em>
                                    <span>竞争策略支撑</span>
                                </li>
                                <li>
                                    <em></em>
                                    <span>布局策略优化</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-improveBox">
                        <div class="improveBox-img">
                            <img src="../imgs/td3.png" alt="">
                        </div>
                        <div class="improveBox-content">
                            <span>价值赋能</span>
                            <ul>
                                <li>
                                    <em></em>
                                    <span>资产评价分级管理</span>
                                </li>
                                <li>
                                    <em></em>
                                    <span>核心品牌库建设</span>
                                </li>
                                <li>
                                    <em></em>
                                    <span>多视角统计分析</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="manage-section">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    满足企业商标战略核心管理需求
                </div>
                <div class="section-sub-header wow fadeInUp d2">
                    支持法务、代理机构、律所在线协同
                </div>
                <div class="manage-cate">
                    <div class="manage-cate-box cur">
                        <span>01</span>
                        <span>内外部协同</span>
                    </div>
                    <div class="manage-cate-box">
                        <span>02</span>
                        <span>全流程驱动</span>
                    </div>
                    <div class="manage-cate-box">
                        <span>03</span>
                        <span>费用期限管理</span>
                    </div>
                    <div class="manage-cate-box">
                        <span>04</span>
                        <span>数据文件管理</span>
                    </div>
                    <div class="manage-cate-box">
                        <span>05</span>
                        <span>竞争战略数字化支撑</span>
                    </div>
                    <div class="manage-cate-box">
                        <span>06</span>
                        <span>多视角统计分析</span>
                    </div>
                </div>
                <div class="manage-container">
                    <div class="manage-main-box" style="display:flex;">
                        <div class="manage-main-word">
                            <div class="manage-title">
                                内外部协同
                            </div>
                            <ul class="manage-desc">
                                <li><em></em><span>将企业内部管理流程、代理机构流程与官方商标流程结合，实现商标业务的内外全流程化管理</span></li>
                                <li><em></em><span>全景信息视图、特色化的时光轴展示，状态自动更新一站式浏览全局</span></li>
                            </ul>
                            <a href="#">免费试用</a>
                        </div>
                        <div class="manage-main-img">
                            <img src="../imgs/mt1.png" alt="">
                        </div>
                    </div>
                    <div class="manage-main-box">
                        <div class="manage-main-word">
                            <div class="manage-title">
                                全流程驱动
                            </div>
                            <ul class="manage-desc">
                                <li><em></em><span>将企业内部管理流程、代理机构流程与官方商标流程结合，实现商标业务的内外全流程化管理</span></li>
                                <li><em></em><span>全景信息视图、特色化的时光轴展示，状态自动更新一站式浏览全局</span></li>
                            </ul>
                            <a href="#">免费试用</a>
                        </div>
                        <div class="manage-main-img">
                            <img src="../imgs/mt2.png" alt="">
                        </div>
                    </div>
                    <div class="manage-main-box" >
                        <div class="manage-main-word">
                            <div class="manage-title">
                                费用期限管理
                            </div>
                            <ul class="manage-desc">
                                <li><em></em><span>将企业内部管理流程、代理机构流程与官方商标流程结合，实现商标业务的内外全流程化管理</span></li>
                                <li><em></em><span>全景信息视图、特色化的时光轴展示，状态自动更新一站式浏览全局</span></li>
                            </ul>
                            <a href="#">免费试用</a>
                        </div>
                        <div class="manage-main-img">
                            <div class=" manage-img-fee swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="../imgs/mt31.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../imgs/mt32.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-pagination pagination-fee"></div>
                            </div>
                        </div>
                    </div>
                    <div class="manage-main-box" >
                        <div class="manage-main-word">
                            <div class="manage-title">
                                数据文件管理
                            </div>
                            <ul class="manage-desc">
                                <li><em></em><span>将企业内部管理流程、代理机构流程与官方商标流程结合，实现商标业务的内外全流程化管理</span></li>
                                <li><em></em><span>全景信息视图、特色化的时光轴展示，状态自动更新一站式浏览全局</span></li>
                            </ul>
                            <a href="#">免费试用</a>
                        </div>
                        <div class="manage-main-img ">
                            <div class="swiper-container  manage-img-file">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="../imgs/mt41.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../imgs/mt42.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-pagination pagination-file"></div>
                            </div>
                        </div>
                    </div>
                    <div class="manage-main-box" >
                        <div class="manage-main-word">
                            <div class="manage-title">
                                竞争战略数字化支撑
                            </div>
                            <ul class="manage-desc">
                                <li><em></em><span>将企业内部管理流程、代理机构流程与官方商标流程结合，实现商标业务的内外全流程化管理</span></li>
                                <li><em></em><span>全景信息视图、特色化的时光轴展示，状态自动更新一站式浏览全局</span></li>
                            </ul>
                            <a href="#">免费试用</a>
                        </div>
                        <div class="manage-main-img">
                            <img src="../imgs/mt5.png" alt="">
                        </div>
                    </div>
                    <div class="manage-main-box" >
                        <div class="manage-main-word">
                            <div class="manage-title">
                                多视角统计分析
                            </div>
                            <ul class="manage-desc">
                                <li><em></em><span>将企业内部管理流程、代理机构流程与官方商标流程结合，实现商标业务的内外全流程化管理</span></li>
                                <li><em></em><span>全景信息视图、特色化的时光轴展示，状态自动更新一站式浏览全局</span></li>
                            </ul>
                            <a href="#">免费试用</a>
                        </div>
                        <div class="manage-main-img">
                            <img src="../imgs/mt6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="flow-section">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    企业商标全流程精细化管理
                </div>
                <div class="flow-container">
                    <div class="flow-box">
                        <div class="flow-title">商标申请</div>
                        <div class="flow-desc">
                            <span>商标提案</span>
                            <span>国内/外申请</span>
                            <span>商标答复</span>
                            <span>驳回复审</span>
                            <span>异议/无效/撤三答辩</span>
                            <span>商标通知书解析</span>
                        </div>
                        <a href="#">免费试用</a>
                    </div>
                    <div class="flow-box">
                        <div class="flow-title">商标运用</div>
                        <div class="flow-desc">
                            <span>商标转让</span>
                            <span>商标外购</span>
                            <span>商标许可</span>
                            <span>商标被许可</span>
                            <span>商标质押</span>
                        </div>
                        <a href="#">免费试用</a>
                    </div>
                    <div class="flow-box">
                        <div class="flow-title">商标竞争</div>
                        <div class="flow-desc">
                            <span>商标监测</span>
                            <span>异议申请</span>
                            <span>撤三申请</span>
                            <span>无效申请</span>
                            <span>行政诉讼</span>
                            <span>障碍商标</span>
                        </div>
                        <a href="#">免费试用</a>
                    </div>
                    <div class="flow-box">
                        <div class="flow-title">商标维护</div>
                        <div class="flow-desc">
                            <span>期限管理</span>
                            <span>商标续展</span>
                            <span>品牌库</span>
                            <span>品牌中心</span>
                            <span>证据中心</span>
                            <span>企业字号</span>
                            <span>使用注册</span>
                        </div>
                        <a href="#">免费试用</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="config-section">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    强大的自定义引擎，灵活配置、随需而变
                </div>
                <div class="section-sub-header wow fadeInUp d2">
                    支持根据工作流程变化，或个人使用习惯随时对系统进行自定义配置
                </div>
                <div class="config-container wow fadeInUp d2">
                    <div class="config-list">
                        <div class="config-img">
                            <img src="../imgs/config1.png" alt="">
                        </div>
                        <div class="config-title">
                            UI、系统界面、多语言
                        </div>
                    </div>
                    <div class="config-list">
                        <div class="config-img">
                            <img src="../imgs/config2.png" alt="">
                        </div>
                        <div class="config-title">
                            评级、评价、分析流程模板
                        </div>
                    </div>
                    <div class="config-list">
                        <div class="config-img">
                            <img src="../imgs/config3.png" alt="">
                        </div>
                        <div class="config-title">
                            组织架构、部门/用户权限
                        </div>
                    </div>
                    <div class="config-list">
                        <div class="config-img">
                            <img src="../imgs/config4.png" alt="">
                        </div>
                        <div class="config-title">
                            奖励金规则、资助规则
                        </div>
                    </div>
                    <div class="config-list">
                        <div class="config-img">
                            <img src="../imgs/config5.png" alt="">
                        </div>
                        <div class="config-title">
                            业务流程、审批流程
                        </div>
                    </div>
                    <div class="config-list">
                        <div class="config-img">
                            <img src="../imgs/config6.png" alt="">
                        </div>
                        <div class="config-title">
                            邮件短信提醒模板
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-odd">
            <div class="section-w1200">
                <div class="section-header wow fadeInUp d2">
                    <span>1000+大中型企业的选择</span>
                </div>
                <div class="brand-container wow fadeInUp d2">
                    <img src="../imgs/1.png" alt="">
                    <img src="../imgs/2.png" alt="">
                    <img src="../imgs/3.png" alt="">
                    <img src="../imgs/4.png" alt="">
                    <img src="../imgs/5.png" alt="">
                    <img src="../imgs/6.png" alt="">
                    <img src="../imgs/7.png" alt="">
                    <img src="../imgs/8.png" alt="">
                    <img src="../imgs/9.png" alt="">
                    <img src="../imgs/10.png" alt="">
                    <img src="../imgs/11.png" alt="">
                    <img src="../imgs/12.png" alt="">
                    <img src="../imgs/13.png" alt="">
                    <img src="../imgs/14.png" alt="">
                    <img src="../imgs/15.png" alt="">
                    <img src="../imgs/16.png" alt="">
                    <img src="../imgs/17.png" alt="">
                    <img src="../imgs/18.png" alt="">
                    <img src="../imgs/19.png" alt="">
                    <img src="../imgs/20.png" alt="">
                    <img src="../imgs/21.png" alt="">
                    <img src="../imgs/22.png" alt="">
                    <img src="../imgs/23.png" alt="">
                    <img src="../imgs/24.png" alt="">
                    <img src="../imgs/25.png" alt="">
                    <img src="../imgs/26.png" alt="">
                    <img src="../imgs/27.png" alt="">
                    <img src="../imgs/28.png" alt="">
                    <img src="../imgs/29.png" alt="">
                    <img src="../imgs/30.png" alt="">
                    <img src="../imgs/31.png" alt="">
                    <img src="../imgs/32.png" alt="">
                    <img src="../imgs/33.png" alt="">
                    <img src="../imgs/34.png" alt="">
                    <img src="../imgs/35.png" alt="">
                    <img src="../imgs/36.png" alt="">
                    <img src="../imgs/37.png" alt="">
                    <img src="../imgs/38.png" alt="">
                    <img src="../imgs/39.png" alt="">
                    <img src="../imgs/40.png" alt="">
                </div>
            </div>
        </div>

        <div class="major-section">
            <div class="section-w1200" style="padding-bottom: 0;">
                <div class="section-header wow fadeInUp d2">
                    专家式解决方案服务
                </div>
                <div class="major-container wow fadeInUp d2">
                    <div class="major-box">
                        <div class="major-title">需求梳理</div>
                        <div class="major-desc">
                            协助企业梳理应用场景，给予咨询服务支持
                        </div>
                        <div class="major-index">
                            01
                        </div>
                    </div>
                    <div class="major-box">
                        <div class="major-title">方案设计</div>
                        <div class="major-desc">
                            量身定制可执行、可落地的解决方案，提供场景案例分享和答疑
                        </div>
                        <div class="major-index">
                            02
                        </div>
                    </div>
                    <div class="major-box">
                        <div class="major-title">安装部署</div>
                        <div class="major-desc">
                            多种部署方案，适合不同规模类型的企业，帮助客户初始化流程
                        </div>
                        <div class="major-index">
                            03
                        </div>
                    </div>
                    <div class="major-box">
                        <div class="major-title">客户成功</div>
                        <div class="major-desc">
                            执行解决方案，完整生命周期跟进、回访，助力客户专利全球战略实现
                        </div>
                        <div class="major-index">
                            06
                        </div>
                    </div>
                    <div class="major-box">
                        <div class="major-title">使用培训</div>
                        <div class="major-desc">
                            根据企业需求，制定不同部门及角色的培训服务
                        </div>
                        <div class="major-index">
                            05
                        </div>
                    </div>
                    <div class="major-box">
                        <div class="major-title">测试验收</div>
                        <div class="major-desc">
                            试用验收期间，专人调试和答疑，直至成功交付
                        </div>
                        <div class="major-index">
                            04
                        </div>
                    </div>
                </div>
                <div class="section-header right-header wow fadeInUp d2">
                    创新的路上，他们都在与大为一同成长
                </div>
                <div class="right-container wow fadeInUp d2" style="padding-bottom: 152px;">
                    <div class="right-img swiper-container ">
                        <div class="swiper-wrapper index-banner">
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="right-img-box">
                                        <img src="../imgs/st.png" alt="">
                                    </div>
                                    <div class="right-content">
                                        <span>”</span>
                                        <p>
                                            大为软件的产品为我司知识产权管理工作带来了方便、高效、便捷的管理体验，同时在服务上也能时刻感受到大为软件的认真、严谨、高效！——商汤科技
                                        </p>
                                        <span>“</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="right-img-box">
                                        <img src="../imgs/st.png" alt="">
                                    </div>
                                    <div class="right-content">
                                        <span>“</span>
                                        <p>
                                            大为软件的产品为我司知识产权管理工作带来了方便、高效、便捷的管理体验，同时在服务上也能时刻感受到大为软件的认真、严谨、高效！——商汤科技
                                        </p>
                                        <span>“</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="right-img-box">
                                        <img src="../imgs/st.png" alt="">
                                    </div>
                                    <div class="right-content">
                                        <span>“</span>
                                        <p>
                                            大为软件的产品为我司知识产权管理工作带来了方便、高效、便捷的管理体验，同时在服务上也能时刻感受到大为软件的认真、严谨、高效！——商汤科技
                                        </p>
                                        <span>“</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-button-prev">
                        <img src="../imgs/left_arrow.svg" alt="">
                    </div>
                    <div class="swiper-button-next">
                        <img src="../imgs/right_arrow.svg" alt="">
                    </div>
                    <div class="swiper-pagination right-pagination"></div>
                </div>
            </div>
        </div>

        <div class="section-add">
            <div class="section-w1200"  style="margin-bottom: 0;">
                <div class="add-ads wow fadeInUp d2">
                    <span>在创新的路上走的更快一些！</span>
                    <span>马上试用innojet商标协同创新管理系统</span>
                    <a href="#" class="btn-cur">
                        <span>免费试用</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dw-footer">
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-logo wow fadeInUp d2">
                    <div class="footer-logo-img">
                        <img src="../imgs/logo2.png" alt="">
                    </div>
                    <div class="hotline">
                        <span>24h咨询热线</span>
                        <span>400-900-3365</span>
                    </div>
                    <div class="footer-ads">
                        <div class="footer-focus">关注大为</div>
                        <ul>
                            <li>
                                <img src="../imgs/wechat.png" alt="">
                                <span>微信</span>
                            </li>
                            <li>
                                <img src="../imgs/zhihu.png" alt="">
                                <span>知乎</span>
                            </li>
                            <li>
                                <img src="../imgs/weibo.png" alt="">
                                <span>微博</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-menu wow fadeInUp d2">
                    <ul>
                        <li class="footer-main">
                            <a href="#">全球专利数据库</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="innoJoy.html">知识产权管理平台</a>
                            <ul>
                               <li><a href="#">innojet专利协同创新管理系统</a></li>
                                <li><a href="#">innojet商标协同创新管理系统</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main">
                            <a href="consult_service.html">咨询服务</a>
                            <ul>
                                <li><a href="#">专利调查分析</a></li>
                                <li><a href="#">高价值专利培育</a></li>
                                <li><a href="#">专利资产盘点</a></li>
                                <li><a href="#">产业专利导航</a></li>
                                <li><a href="#">专利专题数据库</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="case.html">客户案例</a></li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="resource_center.html">资源中心</a>
                            <ul>
                                <li><a href="#">为知塾知识产权学院</a></li>
                                <li><a href="#">行业白皮书/榜单</a></li>
                                <li><a href="#">市场活动</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul>
                        <li class="footer-main"><a href="#">关于大为</a>
                            <ul>
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">发展历程</a></li>
                                <li><a href="#">公司荣誉</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-friendLink wow fadeInUp d2">
                <span>友情链接：</span>
                <ul>
                   <li>
                        <a href="https://www.cnipa.gov.cn/">国家知识产权局</a>
                    </li>
                    <li>
                        <a href="https://www.epo.org/">欧洲专利局</a>
                    </li>
                    <li>
                        <a href="http://www.nipso.cn/">国家知识产权战略网</a>
                    </li>
                    <li>
                        <a href="http://ipr.mofcom.gov.cn/index.shtml">中国保护知识产权网</a>
                    </li>
                    <li>
                        <a href="https://www.cnpat.com.cn/">中国专利信息中心</a>
                    </li>
                    <li>
                        <a href="https://www.etsi.org/">ETSI欧洲电信标准化协会</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        Copyright © 2005-2021 Baoding DAWEISOFT CO., LTD All Rights Reserved 冀ICP备05002030号-4 https://beian.miit.gov.cn
    </div>
</body>
<script src="../js/utils/jquery.min.js"></script>
<script src="../js/utils/swiper.min.js"></script>
<script src="../js/utils/wow.min.js"></script>
<script src="../js/utils/http.js"></script>
<script src="../js/common.js"></script>
<script src="../js/trande_mark.js"></script>
</html>