#banner {
    position: relative;
}

#banner img {
    width: 100%;
}

/* content */

#section {
    position: relative;
}

.section1 {
    position: relative;
}

.section-box {
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0px;
    overflow: hidden;
}

.section-header {
    font-size: 32px;
    font-weight: bold;
    color: #343434;
    text-align: center;
    position: relative;
}

.section-header::after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #343434;
    content: '';
    width: 47px;
    height: 1px;
}

.section-header span {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: #343434;
}

.section-content {
    position: relative;
    margin-top: 85px;
}

.consulation-box {
    position: relative;
    float: left;
    width: 49%;
}

.consulation-box {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-bottom: 10px;
}

.consulation-box .con-title {
    font-size: 22px;
    font-weight: bold;
    color: #343434;
    text-align: right;
    margin-bottom: 20px;
}

.consulation-box .con-title em {
    color: #D70012;
    font-style: normal;
}

.consulation-box .con-core {
    font-size: 18px;
    font-weight: 400;
    color: #A5A5A5;
}

.consulation-box .con-core span {
    display: block;
    text-align: right;
}

.consulation-box .consulation-img {
    width: 225px;
    height: 225px;
    margin: 10px;
    text-align: center;
    line-height: 225px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.consulation-box .consulation-text {
    flex: 1;
    padding-right: 20px;
}

.consulation-box .consulation-img img {}

.consulation-box:nth-child(even) {
    flex-direction: row-reverse;
    margin-left: 1%;
}

.consulation-box:nth-child(even) .con-core span {
    text-align: left;
}

.consulation-box:nth-child(even) .con-title {
    text-align: left;
}

.consulation-box:nth-child(even) .consulation-text {
    padding-left: 20px;
}

.section2 {
    position: relative;
    width: 100%;
    background: url(../imgs/course-bg1.png) no-repeat;
}

.section2 .section-header span, .section3 .section-header span {
    color: #fff;
}

.section2 .section-header::after, .section3 .section-header::after {
    background: #fff;
}

.section2 .section-content {
    display: flex;
    justify-content: space-between;
}

.course-box {
    position: relative;
    text-align: center;
    padding: 20px 40px;
}

.course-img {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-title {
    margin: 25px 0 50px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
}

.course-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 32px;
    height: 2px;
    background: #D70012;
    left: 50%;
    transform: translateX(-50%);
}

.course-desc {
    font-size: 16px;
    font-weight: 400;
    color: #A5A5A5;
}

.course-box:hover {
    background: rgba(255, 255, 255, 0.2)
}

.section3 {
    position: relative;
    background: url(../imgs/course-bg2.png);
}

.section3 .section-content {
    position: relative;
    width: 100%;
    height: 434px;
}

.solution-course-box {
    position: absolute;
    width: 272px;
    height: 244px;
}

.solution-course-box:nth-child(1) {
    top: 0;
    left: 0;
}

.solution-course-box:nth-child(2) {
    top: 190px;
    left: 187px;
}

.solution-course-box:nth-child(3) {
    top: 0;
    left: 375px;
}

.solution-course-box:nth-child(4) {
    top: 190px;
    left: 568px;
}

.solution-course-box:nth-child(5) {
    top: 0;
    left: 758px;
}

.solution-course-box:nth-child(6) {
    top: 190px;
    left: 948px;
}

.section4 .section-content {
    display: flex;
}

.project-box {
    margin: 0 12px;
}

.project-box img {
    display: block;
}

.project-box .pro-title {
    font-size: 16px;
    font-weight: 400;
    color: #343434;
    text-align: center;
    margin: 16px 0;
}

.section5 {
    position: relative;
    background: #f5f6fa;
}

.section5 .section-content {
    display: flex;
    justify-content: space-between;
}

.package-pro {
    flex: 0 0 22%;
    padding: 40px 65px 60px;
    background: #fff;
    text-align: center;
    margin: 0 14px;
    position: relative;
}

.package-pro .package-title span {
    display: block;
}

.package-pro .package-title span:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    color: #343434;
    margin-bottom: 10px;
    margin-top: 26px;
}

.package-pro .package-title span:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    color: #A5A5A5;
}

.package-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #F7D4D7;
    border-radius: 0px 0px 4px 4px;
    font-size: 16px;
    font-weight: 400;
    color: #343434;
}

.package-desc em {
    color: #D70012;
    font-style: normal;
}

.section6 {
    position: relative;
    background: url(../imgs/con-bg3.png) no-repeat;
}

.data-calc {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D70012;
    border-radius: 4px 4px 0px 0px;
}

.table-wrapper thead tr th {
    font-size: 18px;
    font-weight: bold;
    color: #D70012;
    width: calc(100% / 9);
    padding: 12px 0;
}

.table-wrapper tbody tr td {
    padding: 12px 10px;
    width: calc(100% / 9);
    text-align: center;
    height: 160px;
}

.section-add .section-header {
    margin: 0 auto;
    padding-top: 90px;
    position: relative;
}

.section-add .section-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 90px;
}

.section-add .solution-pro {
    position: relative;
    flex: 0 0 24%;
}

.solution-pro-img {}

.solution-pro-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 68px;
    background: #0F0F0F;
    opacity: 0.9;
    display: flex;
    align-items: center;
}

.solution-pro-title-index {
    width: 126px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #929292;
}

.solution-pro-title-index span {
    display: inline-block;
    line-height: 24px;
    color: #BABABA;
}

.solution-pro-title-index span:first-child {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.solution-pro-title-index span:last-child{
    font-size: 16px;
}

.solution-pro-title-desc {
    flex: 1;
    line-height: 68px;
    text-align: center;
    
}
.solution-pro-title-desc span{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

/* 面包屑 */

.section_crumbs {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: right;
}

.crumbs {
    text-align: right;
}

.section_crumbs a, .section_crumbs span {
    color: #FFF;
    font-size: 14px;
}

.crumbs_ico {
    position: relative;
    top: 5px;
    padding-right: 5px;
}

.crumbs_ico img {
    width: 24px;
    height: auto;
}

.section_crumbs a:hover {
    transition: all 0.4s ease;
    color: #D70012;
}

/* 面包屑end */

/* content */