/* 广告图 */

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

/* 内容区 */

.xg_content {
  background: #F6F6F6;
}

/* 面包屑 */

.section_crumbs {
  position: relative;
  top: -50px;
  width: 1200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: right;
}

.crumbs {
  text-align: right;
}

.section_crumbs a, .section_crumbs span {
  color: #FFF;
  font-size: 14px;
}

.crumbs_ico {
  position: relative;
  top: 5px;
  padding-right: 5px;
}

.crumbs_ico img {
  width: 24px;
  height: auto;
}

.section_crumbs a:hover {
  transition: all 0.4s ease;
  color: #D70012;
}

/* 面包屑end */

/* 内容 */

.news_box {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.news_ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px dashed #C9C9C9;
  margin-bottom: 19px;
  padding-bottom: 20px;
}

.news_img {
  display: flex;
  align-items: center;
  width: 320px;
  height: 220px;
  overflow: hidden;
}

.news_img img {
  width: 100%;
  height: auto;
}

.news_con {
  width: 880px;
  padding-left: 37px;
  display: flex;
  flex-wrap: wrap;
}

.news_title {
  margin-bottom: 29px;
}

.news_title a {
  font-size: 18px;
  color: #2E2E2E;
}

.news_intro p {
  font-size: 14px;
  color: #A0A0A0;
  line-height: 25px;
}

.datatime {
  padding-top: 25px;
  color: #A0A0A0;
  font-size: 14px;
}
.news_ul li:hover a{
  color: #D70012;
}
.news_ul li:hover img{
  transition: all 0.4s ease;
  transform: scale(1.1);
}
.news_ul{
  position: relative;
  overflow: hidden;
}