#banner {
    position: relative;
    width: 100%;
}
#banner img{
    width: 100%;
}

/* content */

#section {
    width: 1200px;
    margin: 80px auto;
    position: relative;
}

.personal-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.personal-box .personal-img {
    width: 420px;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.personal-box .personal-img a {
    width: 100%;
    display: block;
}

.personal-box .personal-txt {
    background: #F6F6F6;
    flex: 1;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 0 35px;
    overflow: hidden;
}

.personal-box .personal-img img {
    transition: all ease-in-out 1s;
}

.personal-box .personal-img img:hover {
    transform: scale(1.05);
}

.personal-box .personal-txt .personal-title {
    position: relative;
    margin-bottom: 20px;
}

.personal-box .personal-txt .personal-title a {
    font-size: 24px;
    font-weight: bold;
    color: #343434;
}

.personal-box .personal-txt .personal-date {
    position: relative;
    margin: 30px 0 50px;
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
}

.personal-box .personal-txt .personal-desc {
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    line-height: 30px;
}


/* 面包屑 */

.section_crumbs {
    position: absolute;
    top: -130px;
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: right;
  }
  
  .crumbs {
    text-align: right;
  }
  
  .section_crumbs a, .section_crumbs span {
    color: #FFF;
    font-size: 14px;
  }
  
  .crumbs_ico {
    position: relative;
    top: 5px;
    padding-right: 5px;
  }
  
  .crumbs_ico img {
    width: 24px;
    height: auto;
  }
  
  .section_crumbs a:hover {
    transition: all 0.4s ease;
    color: #D70012;
  }
  
  /* 面包屑end */
  
/* content */