#banner {
    position: relative;
}

#banner img {
    width: 100%;
}

/* content */
#section{
    position: relative;
}
.team-container {
    width: 1200px;
    margin: 80px auto;
    position: relative;
}

.team-box {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.team-box .team-box-img {
    display: block;
    width: 50%;
    float: left;
}

.team-box .team-box-img img {
    width: 100%;
    height: 480px;
}

.team-box .team-box-desc {
    position: relative;
    width: 50%;
    float: left;
    background: #F6F6F6;
    height: 480px;
    padding: 50px 30px;
}

.team-box .team-box-desc>span {
    font-size: 24px;
    font-weight: bold;
    color: #343434;
    display: block;
    margin-bottom: 35px;
}

.team-box .team-box-desc p {
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    line-height: 24px;
}

.team-box:nth-child(odd) .team-box-img {}

.team-box:nth-child(even) .team-box-img {
    float: right;
}

/* 面包屑 */

.section_crumbs {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: right;
}

.crumbs {
    text-align: right;
}

.section_crumbs a, .section_crumbs span {
    color: #FFF;
    font-size: 14px;
}

.crumbs_ico {
    position: relative;
    top: 5px;
    padding-right: 5px;
}

.crumbs_ico img {
    width: 24px;
    height: auto;
}

.section_crumbs a:hover {
    transition: all 0.4s ease;
    color: #D70012;
}

/* 面包屑end */
/* content */