<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">加入我们</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form id="app-form" class="layui-form layuimini-form">

                        <div class="layui-form-item">
                            <label class="layui-form-label">招聘岗位</label>
                            <div class="layui-input-block">
                                <textarea name="editor" class="layui-textarea editor" rows="15" placeholder="请填写公司简介内容">{$data.editor|raw|default=''}</textarea>
                                <tip>请填写公司简介内容</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">公司简介图片</label>
                            <div class="layui-input-block layuimini-upload">
                                <input name="image" class="layui-input layui-col-xs6" lay-verify="required"  placeholder="请上传公司简介图片" value="{$data.image|default=''}">
                                <div class="layuimini-upload-btn">
                                    <span><a class="layui-btn" data-upload="image" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                                    <span><a class="layui-btn layui-btn-normal" id="select_image" data-upload-select="image" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                                </div>
                            </div>
                            {if isset($data.image) && $data.image != ""}
                            <ul id="bing-image" class="layui-input-block layuimini-upload-show">
                                <li><a><img src="{$data.image|default=''}" data-image="" onerror="this.src='{$data.image|default=\'\'}';this.onerror=null"></a></li>
                            </ul>
                            {/if}
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.company_profile/save" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>